<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessTypePriceSet" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="BusinessTypePriceSetCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="BusinessTypePriceSetBase.Insert"/>
            <flushOnExecute statement="BusinessTypePriceSetBase.Update"/>
            <flushOnExecute statement="BusinessTypePriceSetBase.LogicDelete"/>
            <flushOnExecute statement="BusinessTypePriceSetBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
		<resultMap id="selectCustomQueryBusinessTypePriceSetListResult" class="BusinessTypePriceSet">
			<!--<result property="Id" column="ID" dbType="bigint"/>
			<result property="PriceType" column="PRICE_TYPE" dbType="bigint"/>
			<result property="TargetId" column="TARGET_ID" dbType="bigint"/>
			<result property="Factor1" column="FACTOR1" dbType="bigint"/>
			<result property="Factor2" column="FACTOR2" dbType="bigint"/>
			<result property="Factor3" column="FACTOR3" dbType="bigint"/>
			<result property="Factor4" column="FACTOR4" dbType="bigint"/>
			<result property="Factor5" column="FACTOR5" dbType="bigint"/>
			<result property="Factor6" column="FACTOR6" dbType="bigint"/>
			<result property="Factor7" column="FACTOR7" dbType="bigint"/>
			<result property="Factor8" column="FACTOR8" dbType="bigint"/>
			<result property="Factor9" column="FACTOR9" dbType="bigint"/>
			<result property="Factor10" column="FACTOR10" dbType="bigint"/>
			<result property="Factor11" column="FACTOR11" dbType="bigint"/>
			<result property="Factor12" column="FACTOR12" dbType="bigint"/>
			<result property="Factor13" column="FACTOR13" dbType="bigint"/>
			<result property="Factor14" column="FACTOR14" dbType="bigint"/>
			<result property="Factor15" column="FACTOR15" dbType="bigint"/>
			<result property="Factor16" column="FACTOR16" dbType="bigint"/>
			<result property="Factor17" column="FACTOR17" dbType="bigint"/>
			<result property="Factor18" column="FACTOR18" dbType="bigint"/>
			<result property="Factor19" column="FACTOR19" dbType="bigint"/>
			<result property="Factor20" column="FACTOR20" dbType="bigint"/>
			<result property="CostPrice" column="COST_PRICE" dbType="decimal"/>
			<result property="StandardPrice" column="STANDARD_PRICE" dbType="decimal"/>
			<result property="ActivityPrice" column="ACTIVITY_PRICE" dbType="decimal"/>
			<result property="ReservePrice" column="RESERVE_PRICE" dbType="decimal"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="BusinessType" column="BUSINESS_TYPE_ID" select="BusinessTypeBase.SelectByPk"/>-->
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="PriceType" column="PRICE_TYPE" dbType="bigint"/>
			<result property="TargetId" column="TARGET_ID" dbType="bigint"/>
			<result property="Factor1" column="FACTOR1" dbType="bigint"/>
			<result property="Factor2" column="FACTOR2" dbType="bigint"/>
			<result property="Factor3" column="FACTOR3" dbType="bigint"/>
			<result property="Factor4" column="FACTOR4" dbType="bigint"/>
			<result property="Factor5" column="FACTOR5" dbType="bigint"/>
			<result property="Factor6" column="FACTOR6" dbType="bigint"/>
			<result property="Factor7" column="FACTOR7" dbType="bigint"/>
			<result property="Factor8" column="FACTOR8" dbType="bigint"/>
			<result property="Factor9" column="FACTOR9" dbType="bigint"/>
			<result property="Factor10" column="FACTOR10" dbType="bigint"/>
			<result property="Factor11" column="FACTOR11" dbType="bigint"/>
			<result property="Factor12" column="FACTOR12" dbType="bigint"/>
			<result property="Factor13" column="FACTOR13" dbType="bigint"/>
			<result property="Factor14" column="FACTOR14" dbType="bigint"/>
			<result property="Factor15" column="FACTOR15" dbType="bigint"/>
			<result property="Factor16" column="FACTOR16" dbType="bigint"/>
			<result property="Factor17" column="FACTOR17" dbType="bigint"/>
			<result property="Factor18" column="FACTOR18" dbType="bigint"/>
			<result property="Factor19" column="FACTOR19" dbType="bigint"/>
			<result property="Factor20" column="FACTOR20" dbType="bigint"/>
			<result property="CostPrice" column="COST_PRICE" dbType="decimal"/>
			<result property="StandardPrice" column="STANDARD_PRICE" dbType="decimal"/>
			<result property="ActivityPrice" column="ACTIVITY_PRICE" dbType="decimal"/>
			<result property="ReservePrice" column="RESERVE_PRICE" dbType="decimal"/>
			<result property="NewPrice" column="NEW_PRICE" dbType="decimal"/>
			<result property="PriceConcession" column="PRICE_CONCESSION" dbType="decimal"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="BusinessType" column="BUSINESS_TYPE_ID" select="BusinessTypeBase.SelectByPk" lazyLoad="true"/>
		</resultMap>
		<resultMap id="selectCustomQueryBusinessTypePriceSetListResult2" class="BusinessTypePriceSet">
			<result property="IsSeted" column="IsSeted" dbType="bit"/>
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="BaseBusinessTypePriceSetId" column="BASE_BUSINESS_TYPE_PRICE_SET_ID" dbType="bigint"/>
			<result property="PriceType" column="PRICE_TYPE" dbType="bigint"/>
			<result property="TargetId" column="TARGET_ID" dbType="bigint"/>
			<result property="Factor1" column="FACTOR1" dbType="bigint"/>
			<result property="Factor2" column="FACTOR2" dbType="bigint"/>
			<result property="Factor3" column="FACTOR3" dbType="bigint"/>
			<result property="Factor4" column="FACTOR4" dbType="bigint"/>
			<result property="Factor5" column="FACTOR5" dbType="bigint"/>
			<result property="Factor6" column="FACTOR6" dbType="bigint"/>
			<result property="Factor7" column="FACTOR7" dbType="bigint"/>
			<result property="Factor8" column="FACTOR8" dbType="bigint"/>
			<result property="Factor9" column="FACTOR9" dbType="bigint"/>
			<result property="Factor10" column="FACTOR10" dbType="bigint"/>
			<result property="Factor11" column="FACTOR11" dbType="bigint"/>
			<result property="Factor12" column="FACTOR12" dbType="bigint"/>
			<result property="Factor13" column="FACTOR13" dbType="bigint"/>
			<result property="Factor14" column="FACTOR14" dbType="bigint"/>
			<result property="Factor15" column="FACTOR15" dbType="bigint"/>
			<result property="Factor16" column="FACTOR16" dbType="bigint"/>
			<result property="Factor17" column="FACTOR17" dbType="bigint"/>
			<result property="Factor18" column="FACTOR18" dbType="bigint"/>
			<result property="Factor19" column="FACTOR19" dbType="bigint"/>
			<result property="Factor20" column="FACTOR20" dbType="bigint"/>
			<result property="CostPrice" column="COST_PRICE" dbType="decimal"/>
			<result property="StandardPrice" column="STANDARD_PRICE" dbType="decimal"/>
			<result property="ActivityPrice" column="ACTIVITY_PRICE" dbType="decimal"/>
			<result property="ReservePrice" column="RESERVE_PRICE" dbType="decimal"/>
			<result property="NewPrice" column="NEW_PRICE" dbType="decimal"/>
			<result property="PriceConcession" column="PRICE_CONCESSION" dbType="decimal"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="BusinessType" column="BUSINESS_TYPE_ID" select="BusinessTypeBase.SelectByPk" lazyLoad="true"/>
		</resultMap>
		<resultMap id="selectResult_includeNoUsed" class="BusinessType">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="Name" column="NAME" dbType="nvarchar"/>
			<result property="NeedRecordMachine" column="NEED_RECORD_MACHINE" dbType="char"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="PriceFactorList" column="ID" select="BusinessType.SelectPriceFactor_includeNoUse" nullValue="0" lazyLoad="true"/>
		</resultMap>
		<resultMap id="GetTheLowerestPrice" class="BusinessTypePriceSet">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="StandardPrice" column="STANDARD_PRICE" dbType="decimal"/>
			<result property="NewPrice" column="NEW_PRICE" dbType="decimal"/>
			<result property="PriceConcession" column="PRICE_CONCESSION" dbType="decimal"/>
		</resultMap>
    <resultMap id="GetMemberCardBaseBusItemMap" class="Order">
      <result property="Id" column="Orders_Id"/>
      <result property="PaidAmount" column="Amount"/>
      <result property="MemberCardId" column="Member_Card_Id"/>
      <result property="Memo" column="value"/>
      <result property="CustomerId" column="Order_Item_Id"/>
      <result property="SumAmount" column="unit_Price"/>
    </resultMap>
  </resultMaps>
  <statements>
    <select id="SelectCustomQueryBusinessTypePriceSetList" parameterClass="BusinessTypePriceSet" resultMap="BusinessTypePriceSet.selectCustomQueryBusinessTypePriceSetListResult" >
      SELECT
      *
      FROM BUSINESS_TYPE_PRICE_SET
      WHERE DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      <dynamic>
        <isNotEqual prepend="and" property="BusinessType.Id" compareValue="-1">
          BUSINESS_TYPE_ID = #BusinessType.Id#
        </isNotEqual>
        <isNotEqual prepend="and" property="TargetId" compareValue="-1">
          TARGET_ID = #TargetId#
        </isNotEqual>
      </dynamic>
      AND PRICE_TYPE= #PriceType#
      ORDER BY ID ASC
    </select>
    <select id="SelectTheLowerestPrice" parameterClass="BusinessTypePriceSet" resultMap="GetTheLowerestPrice">
      select BASE_BUSINESS_TYPE_PRICE_SET_ID ID, min(Standard_price) Standard_price,min(New_Price) New_Price,min(PRICE_CONCESSION) PRICE_CONCESSION from BUSINESS_TYPE_PRICE_SET
      where DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      <dynamic>
        <isNotEqual prepend="and" property="BusinessTypeId" compareValue="0">
          BUSINESS_TYPE_ID = #BusinessTypeId#
        </isNotEqual>
        <![CDATA[
					and (1=2
				]]>
        <isNotEqual prepend="or" property="MemberCardId" compareValue="-1">
          (PRICE_TYPE=3 AND TARGET_ID = #MemberCardId#)
        </isNotEqual>
        <isNotEqual prepend="or" property="MemberCardLevelId" compareValue="-1">
          (PRICE_TYPE=1 AND TARGET_ID = #MemberCardLevelId#)
        </isNotEqual>
        <isNotEqual prepend="or" property="TargetId" compareValue="-1">
          (PRICE_TYPE=2 AND TARGET_ID = #TradeId#)
        </isNotEqual>
        <![CDATA[)]]>
        <isNotEqual prepend="and" property="Factor1" compareValue="0">
          FACTOR1 = #Factor1#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor2" compareValue="0">
          FACTOR2 = #Factor2#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor3" compareValue="0">
          FACTOR3 = #Factor3#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor4" compareValue="0">
          FACTOR4 = #Factor4#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor5" compareValue="0">
          FACTOR5 = #Factor5#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor6" compareValue="0">
          FACTOR6 = #Factor6#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor7" compareValue="0">
          FACTOR7 = #Factor7#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor8" compareValue="0">
          FACTOR8 = #Factor8#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor9" compareValue="0">
          FACTOR9 = #Factor9#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor10" compareValue="0">
          FACTOR10 = #Factor10#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor11" compareValue="0">
          FACTOR10 = #Factor11#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor12" compareValue="0">
          FACTOR10 = #Factor12#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor13" compareValue="0">
          FACTOR10 = #Factor13#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor14" compareValue="0">
          FACTOR10 = #Factor14#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor15" compareValue="0">
          FACTOR10 = #Factor15#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor16" compareValue="0">
          FACTOR10 = #Factor16#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor17" compareValue="0">
          FACTOR10 = #Factor17#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor18" compareValue="0">
          FACTOR10 = #Factor18#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor19" compareValue="0">
          FACTOR10 = #Factor19#
        </isNotEqual>
        <isNotEqual prepend="and" property="Factor20" compareValue="0">
          FACTOR10 = #Factor20#
        </isNotEqual>
      </dynamic>
      <![CDATA[
			group by BASE_BUSINESS_TYPE_PRICE_SET_ID
			]]>
    </select>
    <select  id="SelectAllCustomQueryBusinessTypePriceSetList" parameterClass="BusinessTypePriceSet" resultMap="BusinessTypePriceSet.selectCustomQueryBusinessTypePriceSetListResult2">

      select  top (#EveryPageRows#) * from
      (
      select 1 as IsSeted,ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, BUSINESS_TYPE_ID, PRICE_TYPE, TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5,
      FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11, FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18,
      FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE, ACTIVITY_PRICE, RESERVE_PRICE, NEW_PRICE, PRICE_CONCESSION,
      INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
      from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      union all
      select 0 as IsSeted,ID, ID as BASE_BUSINESS_TYPE_PRICE_SET_ID,BUSINESS_TYPE_ID,#PriceType# as PRICE_TYPE,#TargetId# as TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5, FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11,
      FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18, FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE,
      ACTIVITY_PRICE, RESERVE_PRICE,STANDARD_PRICE as NEW_PRICE,100 as PRICE_CONCESSION, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED,
      BRANCH_SHOP_ID, COMPANY_ID from dbo.Base_BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      and ID not in
      (select Base_Business_Type_Price_Set_ID from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND PRICE_TYPE= #PriceType#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      )
      ) tmp where BASE_BUSINESS_TYPE_PRICE_SET_ID not in (
      select top (#EveryPageRows#*(#CurrentPageID#-1)) BASE_BUSINESS_TYPE_PRICE_SET_ID from
      (
      select 1 as IsSeted,ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, BUSINESS_TYPE_ID, PRICE_TYPE, TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5,
      FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11, FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18,
      FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE, ACTIVITY_PRICE, RESERVE_PRICE, NEW_PRICE, PRICE_CONCESSION,
      INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
      from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      union all
      select 0 as IsSeted,ID, ID as BASE_BUSINESS_TYPE_PRICE_SET_ID,BUSINESS_TYPE_ID,#PriceType# as PRICE_TYPE,#TargetId# as TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5, FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11,
      FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18, FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE,
      ACTIVITY_PRICE, RESERVE_PRICE,STANDARD_PRICE as NEW_PRICE,100 as PRICE_CONCESSION, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED,
      BRANCH_SHOP_ID, COMPANY_ID from dbo.Base_BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      and ID not in
      (select Base_Business_Type_Price_Set_ID from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND PRICE_TYPE= #PriceType#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      )
      ) InnerTable Order by BASE_BUSINESS_TYPE_PRICE_SET_ID

      ) order by BASE_BUSINESS_TYPE_PRICE_SET_ID



    </select>
    <select  id="SelectOnlyCustomQueryBusinessTypePriceSetList" parameterClass="BusinessTypePriceSet" resultMap="BusinessTypePriceSet.selectCustomQueryBusinessTypePriceSetListResult2">
      select top (#EveryPageRows#) 1 as IsSeted,ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, BUSINESS_TYPE_ID, PRICE_TYPE, TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5,
      FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11, FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18,
      FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE, ACTIVITY_PRICE, RESERVE_PRICE, NEW_PRICE, PRICE_CONCESSION,
      INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
      from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      <dynamic>
        <isNotEqual prepend="and" property="TargetId" compareValue="-1">
          TARGET_ID = #TargetId#
        </isNotEqual>
      </dynamic>
      <!--AND	TARGET_ID = #TargetId#-->
      AND PRICE_TYPE= #PriceType#
      and ID not in (
      select top (#EveryPageRows#*(#CurrentPageID#-1))  ID
      from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      <dynamic>
        <isNotEqual prepend="and" property="TargetId" compareValue="-1">
          TARGET_ID = #TargetId#
        </isNotEqual>
      </dynamic>
      <!--AND	TARGET_ID = #TargetId#-->
      AND PRICE_TYPE= #PriceType#
      Order by id

      ) order by BUSINESS_TYPE_ID,TARGET_ID



    </select>
    <select  id="SelectAllCustomQueryBusinessTypePriceSetListCount" parameterClass="BusinessTypePriceSet" resultClass="long">

      select count(*) from
      (
      select 1 as IsSeted,ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, BUSINESS_TYPE_ID, PRICE_TYPE, TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5,
      FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11, FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18,
      FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE, ACTIVITY_PRICE, RESERVE_PRICE, NEW_PRICE, PRICE_CONCESSION,
      INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
      from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      union all
      select 0 as IsSeted,ID, ID as BASE_BUSINESS_TYPE_PRICE_SET_ID,BUSINESS_TYPE_ID,#PriceType# as PRICE_TYPE,#TargetId# as TARGET_ID, FACTOR1, FACTOR2, FACTOR3, FACTOR4, FACTOR5, FACTOR6, FACTOR7, FACTOR8, FACTOR9, FACTOR10, FACTOR11,
      FACTOR12, FACTOR13, FACTOR14, FACTOR15, FACTOR16, FACTOR17, FACTOR18, FACTOR19, FACTOR20, COST_PRICE, STANDARD_PRICE,
      ACTIVITY_PRICE, RESERVE_PRICE,STANDARD_PRICE as NEW_PRICE,100 as PRICE_CONCESSION, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED,
      BRANCH_SHOP_ID, COMPANY_ID from dbo.Base_BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      and ID not in
      (select Base_Business_Type_Price_Set_ID from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND PRICE_TYPE= #PriceType#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      AND	TARGET_ID = #TargetId#
      AND PRICE_TYPE= #PriceType#
      )
      ) tmp

    </select>
    <select  id="SelectOnlyCustomQueryBusinessTypePriceSetListCount" parameterClass="BusinessTypePriceSet" resultClass="long">

      select count(*) from dbo.BUSINESS_TYPE_PRICE_SET
      where
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#
      AND BUSINESS_TYPE_ID = #BusinessType.Id#
      <dynamic>
        <isNotEqual prepend="and" property="TargetId" compareValue="-1">
          TARGET_ID = #TargetId#
        </isNotEqual>
      </dynamic>
      <!--AND	TARGET_ID = #TargetId#-->
      AND PRICE_TYPE= #PriceType#

    </select>
    <select  id="GetTargetName" parameterClass="BusinessTypePriceSet" resultClass="string">

      select PT.$PriceTypeTableGetValueFieldName$ from $PriceTypeTableName$ as PT
      where ID=#TargetId# and
      DELETED='0'
      AND COMPANY_ID = #CompanyId#
      AND BRANCH_SHOP_ID = #BranchShopId#

    </select>
    <!--获取会员卡消费的业务类型明细-->
    <select id="GetMemberCardBaseBusItem" parameterClass="map" resultMap="GetMemberCardBaseBusItemMap">
      select
      a.Amount,a.Orders_Id,b.Order_Item_Id,
      c.Member_Card_Id,b.value,a.unit_Price
      from order_Item a
      inner join Order_Item_Factor_Value b on a.id=b.order_Item_Id
      inner join orders c on c.Id=a.orders_Id
      where c.deleted='0'
      and c.Company_Id=#CompanyId#
      <dynamic>
        <isNotNull prepend="And" property="BranchShopId">
          c.Branch_shop_Id=#BranchShopId#
        </isNotNull>
        <isNotNull prepend="And" property="MemberCardId">
          c.Member_Card_Id=#MemberCardId#
        </isNotNull>
        <isNotNull prepend="And" property="OrdersId">
          c.Id=#OrdersId#
        </isNotNull>
      </dynamic>
    </select>
	</statements>
</sqlMap>