<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessModuleGroup" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表BUSINESS_MODULE_GROUP [业务模块组中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="BusinessModuleGroupResultMap.selectResult">
			SELECT
			*
			FROM BUSINESS_MODULE_GROUP
			ORDER BY ID ASC
		</select>
	</statements>
</sqlMap>