<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionMemberCardLevel" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="ConcessionMemberCardLevelCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="ConcessionMemberCardLevelBase.Insert"/>
            <flushOnExecute statement="ConcessionMemberCardLevelBase.Update"/>
            <flushOnExecute statement="ConcessionMemberCardLevelBase.LogicDelete"/>
            <flushOnExecute statement="ConcessionMemberCardLevelBase.Delete"/>
			<flushOnExecute statement="ConcessionMemberCardLevelBase.DeleteByCampaignId"/>
			<flushOnExecute statement="ConcessionMemberCardLevelBase.DeleteConcessionMemberCardByConcessionId"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<delete id="DeleteConcessionMemberCardByConcessionId" parameterClass="long">
			delete from concession_member_card_level where concession_id = #ConcessionId#
		</delete>
		<delete id="DeleteByCampaignId" parameterClass="long">
			delete concession_member_card_level
			from concession_member_card_level as cmcl inner join concession as c
			on cmcl.concession_id = c.id
			where c.campaign_id = #CampaignId#
		</delete>
	</statements>
</sqlMap>