<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionDifferencePrice" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<statements>
		<delete id="DeletedConcessionDifferencePriceByConcessionId" parameterClass="long">
			delete from concession_difference_price where concession_id = #ConcessionId#
		</delete>
		<delete id="DeleteByCampaignId" parameterCalss="long">
			delete CONCESSION_DIFFERENCE_PRICE
			from CONCESSION_DIFFERENCE_PRICE as cdp inner join concession as c
			on cdp.concession_id = c.id
			where c.campaign_id = #CampaignId#
		</delete>
		<select id="SelectByConcessionId" parameterCalss="long" resultMap="ConcessionDifferencePriceResultMap.selectResult">
			select * from CONCESSION_DIFFERENCE_PRICE where concession_id = #ConcessionId#
		</select>
	</statements>
</sqlMap>