<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DailyRecordMachine" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="SelectDailyRecordMachineListCustomQueryResult" class="DailyRecordMachine">
			<result property="ColorType" column="COLOR_TYPE" dbType="char"/>
			<result property="InWatchCount" column="IN_WATCH_COUNT" dbType="int"/>
			<result property="Machine" column="MACHINE_ID" select="MachineBase.SelectByPk" nullValue="0" lazyLoad="true"/>
			<result property="PaperSpecification" column="PAPER_SPECIFICATION_ID" select="PaperSpecificationBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		</resultMap>
    <resultMap id="DailyRecordMachineListCustomQueryMap" class="DailyRecordMachine">
      <result property="Id" column="Id"/>
      <result property="ColorType" column="COLOR_TYPE"/>
      <result property="MachineName" column="MachineName"/>
      <result property="PaperSharpe" column="paperSharpe"/>
      <result property="InWatchCount" column="InWatchCount"/>
    </resultMap>
	</resultMaps>
	<statements>
    
    <!--机器数查询-->
		<select id="SelectDailyRecordMachineListCustomQuery" resultMap="DailyRecordMachineListCustomQueryMap">
      select
      top (#RowCount#)
      a.Id,Sum(IN_WATCH_COUNT) InWatchCount,
      a.Name MachineName,d.Name paperSharpe,c.COLOR_TYPE
      from Machine a
      INner join Machine_Type b on a.machine_Type_Id=b.iD
      inner join DAILY_RECORD_MACHINE c on c.machine_Id=a.Id
      inner join PAPER_SPECIFICATION d on d.Id=c.Paper_Specification_Id
      where a.Deleted='0'
      and a.Company_Id=#Id#
      <dynamic>
        <isNotNull prepend="And" property="BeginDoWatchDateTimeString">
          c.Do_Watch_date_Time>=#BeginDoWatchDateTimeString#
        </isNotNull>
        <isNotNull prepend="And" property="EndDoWatchDateTimeString">
          <![CDATA[c.Do_Watch_Date_Time<=#EndDoWatchDateTimeString#]]>
        </isNotNull>
        <isNotNull prepend="And" property="Memo">
          a.Id=#Memo#
        </isNotNull>
        <isNotNull prepend="And" property="MachineName">
          a.Branch_Shop_Id=#MachineName#
        </isNotNull>
      </dynamic>
      And a.Id not in(
      select
      top(#RowCount#*#CurrentPageIndex#)
      a.Id
      from Machine a
      INner join Machine_Type b on a.machine_Type_Id=b.iD
      inner join DAILY_RECORD_MACHINE c on c.machine_Id=a.Id
      inner join PAPER_SPECIFICATION d on d.Id=c.Paper_Specification_Id
      <dynamic>
        <isNotNull prepend="And" property="BeginDoWatchDateTimeString">
          c.Do_Watch_date_Time>=#BeginDoWatchDateTimeString#
        </isNotNull>
        <isNotNull prepend="And" property="EndDoWatchDateTimeString">
          <![CDATA[c.Do_Watch_Date_Time<=#EndDoWatchDateTimeString#]]>
        </isNotNull>
        <isNotNull prepend="And" property="Memo">
          a.Id=#Memo#
        </isNotNull>
        <isNotNull prepend="And" property="MachineName">
          a.Branch_Shop_Id=#MachineName#
        </isNotNull>
      </dynamic>
      group by a.Id,a.Name,d.Name,c.COLOR_TYPE
      )
      group by a.Id,a.Name,d.Name,c.COLOR_TYPE
    </select>
    <select id="GetDailyRecordMachineListCustomQueryRowCount" resultClass="long">
      select count(*) from(
      select
      a.Id,Sum(IN_WATCH_COUNT) InWatchCount,
      a.Name MachineName,d.Name paperSharpe,
      c.COLOR_TYPE
      from Machine a
      INner join Machine_Type b on a.machine_Type_Id=b.iD
      inner join DAILY_RECORD_MACHINE c on c.machine_Id=a.Id
      inner join PAPER_SPECIFICATION d on d.Id=c.Paper_Specification_Id
      where a.Deleted='0'
      and a.Company_Id=#Id#
      <dynamic>
        <isNotNull prepend="And" property="BeginDoWatchDateTimeString">
          c.Do_Watch_date_Time>=#BeginDoWatchDateTimeString#
        </isNotNull>
        <isNotNull prepend="And" property="EndDoWatchDateTimeString">
          <![CDATA[c.Do_Watch_Date_Time<=#EndDoWatchDateTimeString#]]>
        </isNotNull>
        <isNotNull prepend="And" property="Memo">
          a.Id=#Memo#
        </isNotNull>
        <isNotNull prepend="And" property="MachineName">
          a.Branch_Shop_Id=#MachineName#
        </isNotNull>
      </dynamic>
      group by a.Id,a.Name,d.Name,c.COLOR_TYPE
      )L
    </select>
    
    <select id="GetDailyRecordMachineListCustomQueryPrint" resultMap="DailyRecordMachineListCustomQueryMap">
      select
      a.Id,Sum(IN_WATCH_COUNT) InWatchCount,
      a.Name MachineName,d.Name paperSharpe,c.COLOR_TYPE
      from Machine a
      INner join Machine_Type b on a.machine_Type_Id=b.iD
      inner join DAILY_RECORD_MACHINE c on c.machine_Id=a.Id
      inner join PAPER_SPECIFICATION d on d.Id=c.Paper_Specification_Id
      where a.Deleted='0'
      and a.Company_Id=#Id#
      <dynamic>
        <isNotNull prepend="And" property="BeginDoWatchDateTimeString">
          c.Do_Watch_date_Time>=#BeginDoWatchDateTimeString#
        </isNotNull>
        <isNotNull prepend="And" property="EndDoWatchDateTimeString">
          <![CDATA[c.Do_Watch_Date_Time<=#EndDoWatchDateTimeString#]]>
        </isNotNull>
        <isNotNull prepend="And" property="Memo">
          a.Id=#Memo#
        </isNotNull>
        <isNotNull prepend="And" property="MachineName">
          a.Branch_Shop_Id=#MachineName#
        </isNotNull>
      </dynamic>
      group by a.Id,a.Name,d.Name,c.COLOR_TYPE
    </select>
	</statements>
</sqlMap>