<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DeliveryOrder" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectDeliveryOrderByOrdersID" parameterClass="long" resultMap="DeliveryOrderResultMap.selectResult">
			<![CDATA[
			select * from delivery_order where orders_id=#ordersid#
			]]>
		</select>
		<select id="ExistsRecord" parameterClass="long" resultClass="int">
			<![CDATA[
			select count(*) from delivery_order where orders_id=#ordersid#
			]]>
		</select>
	</statements>
</sqlMap>