<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DiscountConcessionMachineTypePaperSpec" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<cacheModels>
        <cacheModel id="DiscountConcessionMachineTypePaperSpecCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="DiscountConcessionMachineTypePaperSpecBase.Insert"/>
            <flushOnExecute statement="DiscountConcessionMachineTypePaperSpecBase.Update"/>
            <flushOnExecute statement="DiscountConcessionMachineTypePaperSpecBase.LogicDelete"/>
            <flushOnExecute statement="DiscountConcessionMachineTypePaperSpecBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
		<resultMap id="DiscountConcessionMachineTypePaperSpecByDiscountId" class="DiscountConcessionMachineTypePaperSpec">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="MachineTypeId" column="MACHINE_TYPE_ID" dbType="bigint"/>
			<result property="PaperSpecificationId" column="PAPER_SPECIFICATION_ID" dbType="bigint"/>
			<result property="DiscountConcessionId" column="DISCOUNT_CONCESSION_ID" dbType="bigint"/>
			<result property="Discount" column="DISCOUNT" dbType="decimal"/>
			<result property="MachineTypeName" column="MACHINE_TYPE_NAME" dbType="nvarchar"/>
			<result property="PaperName" column="PAPER_NAME" dbType="nvarchar"/>
		</resultMap>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表DISCOUNT_CONCESSION_MACHINE_TYPE_PAPER_SPEC [打折的优惠活动所适用的机器类型和纸型中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="DiscountConcessionMachineTypePaperSpecResultMap.selectResult">
			SELECT
			*
			FROM DISCOUNT_CONCESSION_MACHINE_TYPE_PAPER_SPEC
			ORDER BY ID ASC
		</select>

		<select id="SelectAllDiscountConcessionMachineTypePaperSpecByDiscountId" parameterClass="long" resultMap="DiscountConcessionMachineTypePaperSpecByDiscountId">
			select a.*,b.name MACHINE_TYPE_NAME,c.NAME PAPER_NAME from DISCOUNT_CONCESSION_MACHINE_TYPE_PAPER_SPEC a inner join
			machine_type b on b.id=a.machine_type_id inner join
			paper_specification c on c.id=a.paper_specification_id
			where DISCOUNT_CONCESSION_ID=#value#
		</select>

		<delete id="DeleteDiscountConcessionMachineTypePaperSpecByDiscountId" parameterClass="long">
			delete DISCOUNT_CONCESSION_MACHINE_TYPE_PAPER_SPEC
			where DISCOUNT_CONCESSION_ID=#value#
		</delete>
	</statements>
</sqlMap>