<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="IdGenerator" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <resultMaps>
        <resultMap id="selectResult" class="IdGenerator">
            <result property="BeginValue" column="BEGIN_VALUE" dbType="bigint"/>
            <result property="CurrentValue" column="CURRENT_VALUE" dbType="bigint"/>
            <result property="EndValue" column="END_VALUE" dbType="bigint"/>
        </resultMap>
      <resultMap id="GetAllUserTableNameMap" class="IdGenerator">
        <result property="FlagNo" column="name"/>
      </resultMap>
    </resultMaps>
  <parameterMaps>
    <!--<parameterMap id="GetRecordRowCountByTableNameMap">
      <parameter property="Memo" column="tableName"></parameter>
    </parameterMap>-->
  </parameterMaps>
    <statements>
        <select id="SelectCurrentIdGenerator" parameterClass="IdGenerator" resultMap="selectResult">
            SELECT
                BEGIN_VALUE, CURRENT_VALUE, END_VALUE
            FROM ID_GENERATOR
            WHERE
            
                FLAG_NO = #FlagNo# AND BRANCH_SHOP_ID = #BranchShopId#
        </select>
      <select id="SearchIdGenerator" resultMap="IdGeneratorResultMap.selectResult">
        SELECT
        top(#Id#) *
        FROM ID_GENERATOR
        where 
        branch_shop_Id=#FlagNo# <!--分店Id-->
        and id not in(
        SELECT
        top(#Size#*#Id#) Id
        FROM ID_GENERATOR
        where 1=1
        and branch_shop_Id=#FlagNo# <!--分店Id-->
        order by id
        )
        order by id
      </select>
      <select id="SearchIdGeneratorRowCount" resultClass="long">
        SELECT
        count(Id)
        FROM ID_GENERATOR
        where 1=1
        and branch_shop_Id=#FlagNo# <!--分店Id-->
      </select>
      
      <!--获取当前数据库中所有的用户表名称-->
      <select id="GetAllUserTableName" resultMap="GetAllUserTableNameMap">
        select name from sysobjects where xtype='U'
      </select>
      <!--根据表名称获取表中的记录数-->
      <!--存储过程用法如下-->
      <!--<procedure id="GetRecordRowCountByTableName" resultClass="long" parameterMap="GetRecordRowCountByTableNameMap">
        pro_GetRowCountByTableName
      </procedure>-->
      <select id="GetRecordRowCountByTableName" resultClass="long">
        select isnull(max(id),0) from $Memo$
      </select>
      <delete id="DeleteIdGenerator">
        delete ID_GENERATOR
      </delete>
      <update id="UpdateCurrentValuePlusSize" parameterClass="IdGenerator">
            UPDATE ID_GENERATOR
                SET
                    CURRENT_VALUE = CURRENT_VALUE + #Size#
            WHERE BRANCH_SHOP_ID = #BranchShopId# AND FLAG_NO = #FlagNo#
        </update>
	</statements>
</sqlMap>