<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineWatchRecordLog" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="NeedVerifyRecordLog" class="MachineWatchRecordLog">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="RecordMachineWatchId" column="RECORD_MACHINE_WATCH_ID" dbType="bigint"/>
			<result property="LastNumber" column="LAST_NUMBER" dbType="int"/>
			<result property="NewNumber" column="NEW_NUMBER" dbType="int"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<!--<result property="MachineWatch" column="MACHINE_WATCH_ID" select="MachineWatchBase.SelectByPk" nullValue="0" lazyLoad="true"/>-->
			<result property="Machine" column="MACHINE_ID" select="MachineBase.SelectByPk" nullValue="0" lazyLoad="true"/>
			<result property="WatchType" column="WATCH_TYPE" dbType="int"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="SelectMachineWatchValue" resultClass="int" parameterClass="MachineWatchRecordLog">
			SELECT NEW_NUMBER-LAST_NUMBER as MachineWatchValue
			FROM MACHINE_WATCH_RECORD_LOG
			WHERE RECORD_MACHINE_WATCH_ID = #RecordMachineWatchId#
			AND MACHINE_ID = #Machine.Id# 
			AND MACHINE_WATCH_ID = #MachineWatch.Id#
		</select>

		<select id="GetLastMachineWatchNumber" parameterClass="map" resultClass="int">
			select NEW_NUMBER
			from
			MACHINE_WATCH_RECORD_LOG
			WHERE MACHINE_WATCH_ID=#machineWatchId#
			and RECORD_MACHINE_WATCH_ID=#recordMachineWatchId#
		</select>

		<delete id="DeleteUncompleteOrderByRecordWatchId" parameterClass="long">
			DELETE MACHINE_WATCH_RECORD_LOG WHERE RECORD_MACHINE_WATCH_ID=#VALUE#
		</delete>

		<select id="GetNeedVerifyRecordLog" parameterClass="map" resultMap="NeedVerifyRecordLog">
			select a.*,b.WATCH_TYPE from MACHINE_WATCH_RECORD_LOG a
			inner join MACHINE_WATCH b on a.machine_watch_id=b.id
			where machine_id=#machineid# and RECORD_MACHINE_WATCH_ID=#recordmachinewatchid#
		</select>
	</statements>
</sqlMap>