<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineWatchScale" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="SelectLastNumberByMachineIdResult" class="MachineWatchScale">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="MachineId" column="MACHINE_ID" dbType="bigint"/>
			<result property="MachineWatchId" column="MACHINE_WATCH_ID" dbType="bigint"/>
			<result property="LastestNumber" column="LASTEST_NUMBER" dbType="int"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="SelectLastNumberByMachineId" parameterClass="long" resultMap="MachineWatchScale.SelectLastNumberByMachineIdResult">
			SELECT
			ID, MACHINE_ID, MACHINE_WATCH_ID, LASTEST_NUMBER, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM MACHINE_WATCH_SCALE
			Where DELETED = '0'
			AND MACHINE_ID=#Id#
			ORDER BY MACHINE_WATCH_ID
		</select>
		<update id="UpdateLastNumber" parameterClass="MachineWatchRecordLog">
			UPDATE MACHINE_WATCH_SCALE
			SET
			LASTEST_NUMBER = #NewNumber#,
			VERSION = VERSION + 1
			WHERE MACHINE_ID = #Machine.Id#
			AND MACHINE_WATCH_ID = #MachineWatch.Id#
		</update>
	</statements>
</sqlMap>