<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ProcessContentAchievementRate" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<cacheModels>
        <cacheModel id="ProcessContentAchievementRateCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="ProcessContentAchievementRateBase.Insert"/>
            <flushOnExecute statement="ProcessContentAchievementRateBase.Update"/>
            <flushOnExecute statement="ProcessContentAchievementRateBase.LogicDelete"/>
            <flushOnExecute statement="ProcessContentAchievementRateBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
    <resultMap id="SearchProcessContentAchievementValueMap" class="ProcessContentAchievementRate">
      <result property="Id"  column="Id"/>
      <result property="ProcessContentId" column="Process_Content_Id"/>
      <result property="ProcessContentName" column="ProcessContentName"/>
      <result property="Memo" column="Memo"/>
      <result property="AchievementValue" column="Achievement_Value"/>
    </resultMap>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表PROCESS_CONTENT_ACHIEVEMENT_RATE [加工内容业绩比例中的所有记录]-->
	<statements>
    
		<select id="SelectAll" resultMap="ProcessContentAchievementRateResultMap.selectResult">
			SELECT
			*
			FROM PROCESS_CONTENT_ACHIEVEMENT_RATE
			ORDER BY ID ASC
		</select>
    <select id="SearchProcessContentAchievementValue" resultMap="SearchProcessContentAchievementValueMap">
      select top(#InsertUser#)
      a.Id,a.Process_Content_Id,a.Achievement_Value,a.Memo,
      b.Name ProcessContentName
      from Process_content_Achievement_Rate a
      Inner join Process_Content b on a.Process_Content_Id=b.Id
      where b.deleted='0'
      and b.Company_Id=#Memo#
      and b.branch_Shop_Id=#ProcessContentName#
      and a.Id not in(
      select top(#InsertUser#*#UpdateUser#)
      a.Id
      from Process_content_Achievement_Rate a
      Inner join Process_Content b on a.Process_Content_Id=b.Id
      where b.deleted='0'
      and b.Company_Id=#Memo#
      and b.branch_Shop_Id=#ProcessContentName#
      )
    </select>
    <select id="SearchProcessContentAchievementValueRowCount" resultClass="long">
      select
      count(a.Id)
      from Process_content_Achievement_Rate a
      Inner join Process_Content b on a.Process_Content_Id=b.Id
      where b.deleted='0'
      and b.Company_Id=#Memo#
      and b.branch_Shop_Id=#ProcessContentName#
    </select>
    <update id="UpdateProcessContentAchievementRate" parameterClass="map">
      update Process_content_Achievement_Rate
      set achievement_value=#AchievementValue#,
      memo=#Memo#
      from Process_content_Achievement_Rate a
      Inner join process_Content b on a.process_content_Id=b.Id
      and b.deleted='0'
      and b.Company_Id=#CompanyId#
      and b.Branch_Shop_Id=#BranchShopId#
      and b.Id=#ProcessContentId#
    </update>
	</statements>
</sqlMap>