<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RealOrderItemPrintRequire" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="SelectRealOrderItemPrintRequireResult" class="RealOrderItemPrintRequire">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="Name" column="NAME"/>
			<result property="RealOrderItemId" column="Real_ORDER_ITEM_ID" dbType="bigint"/>
			<result property="PrintRequireDetailId" column="PRINT_REQUIRE_DETAIL_ID" dbType="bigint"/>
		</resultMap>		
	</resultMaps>
	<statements>

		<delete id="DeleteRealOrderItemPrintRequireByOrderId" parameterClass="long">
			<![CDATA[
			delete Real_Order_Item_Print_Require from Real_Order_Item_Print_Require a 
			inner join Real_Order_Item b on a.Real_Order_Item_Id=b.Id
			where b.Orders_Id=#OrderId#
			]]>
		</delete>
		<select id="SelectRealOrderItemPrintRequireByOrderNo" parameterClass="long" resultMap="RealOrderItemPrintRequire.SelectRealOrderItemPrintRequireResult">
			<![CDATA[
			select a.*,b.Name from real_Order_Item_print_require a
			inner join PRINT_REQUIRE_DETAIL b on a.Print_Require_detail_id=b.id
			inner join real_order_Item c on a.real_order_Item_id=c.id
			inner join Orders d on c.Orders_id=d.id
			where d.ID=#orderId#			
			]]>
		</select>
	</statements>
</sqlMap>