<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RecordMachineWatch" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<parameterMaps>
		<parameterMap id="paramMap" class="map">
			<parameter property="machineid" column="MachineId" />
			<parameter property="paperid" column="PaperSpcId" />
			<parameter property="color" column="Color" />
			<parameter property="recordmachinewatchid" column="LogCounterId" />
			<parameter property="orderstatus" column="CloseStatus" />
			<parameter property="companyid" column="CompanyId" />
			<parameter property="branchshopid" column="BranchShopId" />
		</parameterMap>
	</parameterMaps>
	<statements>
		<select id="SelectLastTimeRecordMachineWatch" parameterClass="RecordMachineWatch" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT TOP 1
			ID, RECORD_DATE_TIME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM RECORD_MACHINE_WATCH
			Where DELETED = '0'
			AND COMPANY_ID = #CompanyId#
			AND BRANCH_SHOP_ID = #BranchShopId#
			<![CDATA[
			AND ID<>#Id#
			]]>
			ORDER BY ID DESC
		</select>

		<select id="SelectCompleteRecordMachineWatch" parameterClass="map" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT * FROM
			RECORD_MACHINE_WATCH
			WHERE IS_CONFIRMED =#isconfirmed#
			AND COMPANY_ID = #companyid#
			AND BRANCH_SHOP_ID = #branchshopid#
		</select>

		<select id="SelectLastRecordMachineWatch" parameterClass="map" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT TOP 1 * FROM
			RECORD_MACHINE_WATCH
			WHERE IS_CONFIRMED =#isconfirmed#
			AND COMPANY_ID = #companyid#
			AND BRANCH_SHOP_ID = #branchshopid#
			ORDER BY UPDATE_DATE_TIME DESC
		</select>
		
		<procedure id="GetVerifyRecordWatchCompleteOrderUsedCount" resultClass="int" parameterMap="paramMap">
			Get_Machine_Paper_Counter
		</procedure>

		<update id="UpdateIsConfirmedById" parameterClass="map">
			update record_machine_watch set is_confirmed=#status# where id=#id#
		</update>
	</statements>
</sqlMap>