<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ReportLessMode" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="ReportLessModeCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="ReportLessModeBase.Insert"/>
            <flushOnExecute statement="ReportLessModeBase.Update"/>
            <flushOnExecute statement="ReportLessModeBase.LogicDelete"/>
            <flushOnExecute statement="ReportLessModeBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="ReportLessModeResultMap.selectResult">
			SELECT
				*
			FROM REPORT_LESS_MODE
			ORDER BY ID ASC
		</select>
    <select id="SearchReportLessMode" resultMap="ReportLessModeResultMap.selectResult">
      select top(#InsertUser#) * from Report_Less_Mode
      where deleted='0'
      and Company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      and Id not in(
      select top(#InsertUser#*#UpdateUser#) Id from Report_Less_Mode
      where deleted='0'
      and Company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      )
    </select>
    <select id="SearchReportLessModeRowCount" resultClass="long">
      select count(id) from Report_Less_Mode
      where deleted='0'
      and Company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
    </select>
    <select id="CheckReportLessModeIsUse" resultClass="long">
      select count(id) from REPORT_LOSS_MEMBER_CARD
      where deleted='0'
      and Company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      and report_less_mode_Id=#Id#
    </select>
	</statements>
</sqlMap>