<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="AmountSegment" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="AmountSegmentCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="AmountSegmentBase.Insert"/>
            <flushOnExecute statement="AmountSegmentBase.Update"/>
            <flushOnExecute statement="AmountSegmentBase.LogicDelete"/>
            <flushOnExecute statement="AmountSegmentBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="AmountSegmentResultMap.selectResult">
			SELECT
				*
			FROM AMOUNT_SEGMENT
			ORDER BY ID ASC
		</select>
	</statements>
</sqlMap>