<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BuySend" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="selectResult" class="BuySend">
			<result property="Id" column="ID" dbType="bigint"/>

			<result property="CampaignId" column="CAMPAIGN_ID" dbType="bigint"/>

			<result property="BaseBusinessTypePriceSetId" column="BASE_BUSINESS_TYPE_PRICE_SET_ID" dbType="bigint"/>

			<result property="Name" column="NAME" dbType="nvarchar"/>

			<result property="BuyCount" column="BUY_COUNT" dbType="bigint"/>

			<result property="SendCount" column="SEND_COUNT" dbType="bigint"/>

			<result property="Description" column="DESCRIPTION" dbType="nvarchar"/>

			<result property="PaperCount" column="PAPER_COUNT" dbType="decimal"/>

			<result property="UsePaperCount" column="USE_PAPER_COUNT" dbType="decimal"/>

			<result property="Memo" column="MEMO" dbType="nvarchar"/>

			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>

			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>

			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>

			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>

			<result property="Deleted" column="DELETED" dbType="char"/>

			<result property="Version" column="VERSION" dbType="int"/>

			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>

			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>

			<!--list_out-->
			<result property="Campaign" column="CAMPAIGN_ID" select="CampaignBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表BUY_SEND [买M送N中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="BuySendResultMap.selectResult">
			SELECT
			*
			FROM BUY_SEND
			ORDER BY ID ASC
		</select>

		<!--获取方案-->
		<select id="SelectBuySend" resultMap="BuySendResultMap.selectResult">
			SELECT
			ID,
			CAMPAIGN_ID,
			BASE_BUSINESS_TYPE_PRICE_SET_ID,
			NAME,
			BUY_COUNT,
			SEND_COUNT,
			DESCRIPTION,
			PAPER_COUNT, 
			USE_PAPER_COUNT,
			MEMO,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			DELETED,
			VERSION,
			COMPANY_ID,
			BRANCH_SHOP_ID
			FROM BUY_SEND
		</select>

		<!--
		名    称：SelectAllBuySendListInfoRowCount
		功能概要：获取买M送N方案记录数
		日    期：2010年4月19日
		-->
		<select id="SelectAllBuySendListInfoRowCount"  resultClass="int" parameterClass="map">
			SELECT
			COUNT(A.ID)
			FROM BUY_SEND AS A
			INNER JOIN CAMPAIGN AS B ON A.CAMPAIGN_ID=B.ID
			WHERE A.DELETED='0' AND B.DELETED='0'
			AND A.COMPANY_ID=#CompanyId#
			<isNotNull prepend="And" property="BranchShopId">
				a.BRANCH_SHOP_ID=#BranchShopId#
			</isNotNull>
		</select>

		<!--
		名    称：SelectAllBuySendListInfo
		功能概要：获取买M送N方案
		日    期：2010年4月19日
		-->
		<select id="SelectAllBuySendListInfo"   resultMap="BuySend.selectResult" parameterClass="map">
			WITH TEMPTBL AS (
			SELECT ROW_NUMBER() OVER (ORDER BY BUY_SEND.id desc) AS Row,
			BUY_SEND.*
			FROM BUY_SEND
			INNER JOIN CAMPAIGN ON CAMPAIGN.ID = BUY_SEND.CAMPAIGN_ID
			WHERE CAMPAIGN.DELETED = '0'
			AND CAMPAIGN.COMPANY_ID = #CompanyId#
			AND BUY_SEND.DELETED = '0'
			<dynamic>
				<isNotNull prepend="AND" property="BranchShopId">
					BUY_SEND.Branch_Shop_Id = #BranchShopId#
				</isNotNull>
			</dynamic>
      )
      SELECT TOP $RowCount$ * FROM TEMPTBL WHERE ROW > #RowIndex# * #RowCount#
    </select>

		<!--
		名    称：SelectCurrentBuySend
		功能概要：获取当前的买M送N活动
		日    期：2010年4月19日
		-->
		<select id="SelectCurrentBuySend" parameterClass="map" resultMap="BuySendResultMap.selectResult">
			SELECT
			BUY_SEND.*
			FROM BUY_SEND
			INNER JOIN CAMPAIGN ON BUY_SEND.CAMPAIGN_ID = CAMPAIGN.ID
			WHERE  #CurrentDateTime# BETWEEN CAMPAIGN.BEGIN_DATE_TIME AND CAMPAIGN.END_DATE_TIME
		</select>
	</statements>
</sqlMap>