<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="Company" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="CompanyCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="CompanyBase.Insert"/>
            <flushOnExecute statement="CompanyBase.Update"/>
            <flushOnExecute statement="CompanyBase.LogicDelete"/>
            <flushOnExecute statement="CompanyBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="CompanyResultMap.selectResult">
			SELECT
				*
			FROM COMPANY
			ORDER BY ID ASC
		</select>
    <select id="SearchCompany" resultMap="CompanyResultMap.selectResult">
      select top(#InsertUser#) *
      from Company
      where deleted='0'
      <!--and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#-->
      and id not in(
      select top(#InsertUser#*#UpdateUser#) Id
      from Company
      where deleted='0'
      <!--and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#-->
      )
    </select>
    <select id="SearchCompanyRowCount" resultClass="long">
      select count(Id)
      from Company
      where deleted='0'
      <!--and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#-->
    </select>
    <select id="CheckCompanyIsUsed" resultClass="long">
      select count(id)
      from branch_shop
      where deleted='0'
      <!--and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#-->
      and company_Id=#Id#
    </select>
	</statements>
</sqlMap>