<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="CompensateUsedPaper" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectMachineWatchRecordPatchCount" resultClass="int" parameterClass="CompensateUsedPaper">
			select isnull(SUM(USED_PAPER_COUNT),0) as PATCH_COUNT from COMPENSATE_USED_PAPER
			WHERE 1=1
			AND RECORD_MACHINE_WATCH_ID=#RecordMachineWatchId#
			<dynamic>
				<isNotEqual prepend="and" property="Machine.Id" compareValue="0">
					MACHINE_ID=#Machine.Id#
				</isNotEqual>
				<isNotEqual prepend="and" property="PaperSpecification.Id" compareValue="0">
					PAPER_SPECIFICATION_ID=#PaperSpecification.Id#
				</isNotEqual>
				<isNotEqual prepend="and" property="ColorType" compareValue="0">
					COLOR_TYPE=#ColorType#
				</isNotEqual>
			</dynamic>
		</select>

		<select id="SelectCompensateUsedPaper" parameterClass="map" resultMap="CompensateUsedPaperResultMap.selectResult">
			select *
			from
			COMPENSATE_USED_PAPER
			where
			machine_type_id=#machineTypeId#
			and record_machine_watch_id=#recordmachinewatchid#
			and (paper_specification_id=#paperid# or paper_specification_id=#paperid2# or paper_specification_id = #paperid3#)
			and color_type=#colortype#
		</select>

		<select id="SelectCompensateUsedPaperById" parameterClass="long" resultMap="CompensateUsedPaperResultMap.selectResult">
			select *
			from
			COMPENSATE_USED_PAPER
			where
			record_machine_watch_id=#value#
		</select>

		<delete id="DeleteByRecordMachieWatch" parameterClass="long">
			delete COMPENSATE_USED_PAPER where record_machine_watch_id=#value#
		</delete>
	</statements>
</sqlMap>