<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DailyBusionessReportItem" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="DailyBusionessReportItemMap" class="DailyBusionessReportItem">
			<result property="OrderItemId" column="order_item_Id" dbType="bigint"/>
			<result property="PriceFactorId" column="price_Factor_Id" dbType="bigint"/>
			<result property="PriceFactorValueId" column="value" dbType="bigint"/>
			<result property="Amount" column="Amount"/>
			<result property="Count" column="unit_price"/>
		</resultMap>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表DAILY_BUSIONESS_REPORT_ITEM [日营业报表明细中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="DailyBusionessReportItemResultMap.selectResult">
			SELECT
			*
			FROM DAILY_BUSIONESS_REPORT_ITEM
			ORDER BY ID ASC
		</select>
		<select id="GetStatisticalBusinessTypeUsed" resultMap="DailyBusionessReportItemMap">
			select
			b.Id order_item_Id,c.price_Factor_Id,c.value,b.Amount,b.unit_price
			from orders a
			Inner join order_item b on a.Id=b.orders_Id
			inner join order_item_factor_Value c on c.order_item_Id=b.Id
			where a.deleted='0' and a.Company_Id=#CompanyId# and a.Branch_Shop_Id=#BranchShopId#
			and a.status=#Id# and Convert(varchar(10),a.balance_Date_Time,121)=#Date#
			order by b.Id
		</select>
		<select id="GetOrderItemIdList" resultClass="long">
			select 
			distinct a.Id
			from order_Item a Inner join orders b on a.orders_Id=b.Id
			where b.deleted='0' and b.Company_Id=#CompanyId# and b.Branch_Shop_Id=#BranchShopId#
			and b.status=#Id# and Convert(varchar(10),b.balance_Date_Time,121)=#Date#
			order by a.Id
		</select>
		<select id="GetPriceFactorValueText" resultClass="string" parameterClass="PriceFactor">
			declare @tableName varchar(50)
			declare @ColumnName varchar(50)
			declare @ColumnId varchar(50)
			set @tableName=#TargetTable#
			set @ColumnName=#TargetTextColumn#
			set @ColumnId=#TargetValueColumn#
			exec('select '+@ColumnName+' from '+@tableName+' where '+ @ColumnId+'='+#Id#+' and company_Id='+#CompanyId#+' and branch_shop_Id='+#BranchShopId#)
		</select>
		<select id="SearchDailyBusinessInfo" resultMap="DailyBusionessReportItemResultMap.selectResult">
			select a.* from DAILY_BUSIONESS_REPORT_ITEM a
			Inner join DAILY_BUSIONESS_REPORT b on a.DAILY_BUSIONESS_REPORT_ID=b.Id
			where b.deleted='0' and b.Company_Id=#CompanyId# and b.Branch_Shop_Id=#BranchShopId#
			and Convert(varchar(10),b.CURRENT_DATE_TIME,121)=#Date#
			order by a.Sort
		</select>
		<select id="GetPossessiveAmount" resultClass="decimal">
			select Sum(a.Count) from DAILY_BUSIONESS_REPORT_ITEM a
			Inner join DAILY_BUSIONESS_REPORT b on a.DAILY_BUSIONESS_REPORT_ID=b.Id
			where b.deleted='0' and b.Company_Id=#CompanyId# and b.Branch_Shop_Id=#BranchShopId#
			and Convert(varchar(10),b.CURRENT_DATE_TIME,121)=#Date#
			<isNotNull prepend="And" property="Name">
				Name=#Name#
			</isNotNull>
		</select>
		<delete id="DeleteDailyBusinessReportItem">
			delete DAILY_BUSIONESS_REPORT_ITEM
			from DAILY_BUSIONESS_REPORT_ITEM a
			Inner join DAILY_BUSIONESS_REPORT b on a.DAILY_BUSIONESS_REPORT_id=b.id
			where b.deleted='0' and b.Company_Id=#CompanyId# and b.Branch_Shop_Id=#BranchShopId#
			and Convert(varchar(10),b.CURRENT_DATE_TIME,121)=#Date#
		</delete>
		<delete id="DeleteDailyBusinessReport">
			delete DAILY_BUSIONESS_REPORT
			where deleted='0' and Company_Id=#CompanyId# and Branch_Shop_Id=#BranchShopId#
			and Convert(varchar(10),CURRENT_DATE_TIME,121)=#Date#
		</delete>
		
	</statements>
</sqlMap>