<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="EmployeePosition" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="EmployeePositionResultMap.selectResult">
			SELECT
				*
			FROM EMPLOYEE_POSITION
			ORDER BY ID ASC
		</select>
    
    <!--根据雇员Id更新雇员岗位信息-->
    <update id="UpdateEmployeePositionByEmployeeId" parameterClass="EmployeePosition">
      Update EMPLOYEE_POSITION as a set Position_Id=#PositionId# where a.Employee_Id=#EmployeeId#
      <!--<isNotNull prepend="And" property="EmployeeId"> where a.Employee_Id=#EmployeeId#</isNotNull>-->
    </update>
    <!--根据雇员ID和岗位Id 删除雇员岗位信息-->
    <delete id="DeleteEmployeePositionByEmployeeId" parameterClass="Employee">
      delete employee_position where employee_Id=#Employeeid# <!--and position_Id=#Positionid#-->
    </delete>
    <!--根据雇员Id 删除雇员岗位信息-->
    <delete id="DeleteEmplPosByEmployeeId" parameterClass="Employee">
      delete employee_position where employee_Id=#Employeeid#
    </delete>
	</statements>
</sqlMap>