<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PrintDemandDetail" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="PrintDemandDetailCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="PrintDemandDetailBase.Insert"/>
            <flushOnExecute statement="PrintDemandDetailBase.Update"/>
            <flushOnExecute statement="PrintDemandDetailBase.LogicDelete"/>
            <flushOnExecute statement="PrintDemandDetailBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
    <resultMap id="SearchPrintDemandDetailMap" class="PrintDemandDetail">
      <result property="Id" column="Id"/>
      <result property="PrintDemandId" column ="print_Demand_Id"/>
      <result property="Name" column="Name"/>
      <result property="Memo" column="Memo"/>
      <result property="PrintDemandName" column="PrintDemandName"/>
    </resultMap>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="PrintDemandDetailResultMap.selectResult">
			SELECT
				*
			FROM PRINT_DEMAND_DETAIL
			ORDER BY ID ASC
		</select>
    <select id="SearchPrintDemandDetail" resultMap="SearchPrintDemandDetailMap">
      select
      top(#InsertUser#) a.Id,a.print_Demand_Id,a.Name,a.Memo,
      b.Name PrintDemandName
      from Print_Demand_Detail a
      inner join Print_Demand b on a.print_demand_id=b.Id
      and a.deleted='0'
      and a.company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        a.branch_shop_Id=#BranchShopId#
      </isNotNull>
      and a.Id not in(
      select
      top(#InsertUser#*#UpdateUser#) a.Id
      from Print_Demand_Detail a
      inner join Print_Demand b on a.print_demand_id=b.Id
      and a.deleted='0'
      and a.company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        a.branch_shop_Id=#BranchShopId#
      </isNotNull>
      )
    </select>
    <select id="SearchPrintDemandDetailRowCount" resultClass="long">
      select
      count(*)
      from Print_Demand_Detail a
      inner join Print_Demand b on a.print_demand_id=b.Id
      and a.deleted='0'
      and a.company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        a.branch_shop_Id=#BranchShopId#
      </isNotNull>
    </select>
	</statements>
</sqlMap>