<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PrintDemand" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="PrintDemandCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="PrintDemandBase.Insert"/>
            <flushOnExecute statement="PrintDemandBase.Update"/>
            <flushOnExecute statement="PrintDemandBase.LogicDelete"/>
            <flushOnExecute statement="PrintDemandBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="PrintDemandResultMap.selectResult">
      SELECT
      *
      FROM PRINT_DEMAND
      where deleted='0'
      and company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        branch_shop_Id=#BranchShopId#
      </isNotNull>
			ORDER BY ID ASC
		</select>
    <select id="SearchPrintDemand" resultMap="PrintDemandResultMap.selectResult">
      select top(#InsertUser#) * from Print_Demand
      where deleted='0'
      and company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        branch_shop_Id=#BranchShopId#
      </isNotNull>
      and id not in(
      select top(#InsertUser#*#UpdateUser#) Id from Print_Demand
      where deleted='0'
      and company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        branch_shop_Id=#BranchShopId#
      </isNotNull>
      )
    </select>
    <select id="SearchPrintDemandRowCount" resultClass="long">
      select count(Id)  from Print_Demand
      where deleted='0'
      and company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        branch_shop_Id=#BranchShopId#
      </isNotNull>
    </select>
    <select id="CheckPrintDemandIsUse" resultClass="long">
      select count(print_Demand_Id) from print_demand_Detail
      where deleted='0'
      and company_Id=#CompanyId#
      <isNotNull prepend="And" property="BranchShopId">
        branch_shop_Id=#BranchShopId#
      </isNotNull>
      and print_Demand_Id=#Id#
    </select>
	</statements>
</sqlMap>