<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RecordMachineWatch" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<parameterMaps>
		<parameterMap id="paramMap" class="map">
			<parameter property="machineId" column="MachineId" />
			<parameter property="paperSpcId" column="PaperSpcId" />
			<parameter property="paperSpcId2" column="PaperSpcId2"/>
			<parameter property="paperColor" column="Color" />
			<parameter property="logCounterId" column="LogCounterId" />
			<parameter property="recordWatchId" column="RecordWatchId" />
			<parameter property="orderStatus" column="CloseStatus" />
			<parameter property="companyid" column="CompanyId" />
			<parameter property="branchshopid" column="BranchShopId" />
		</parameterMap>
	</parameterMaps>
	<statements>
		<select id="SelectLastTimeRecordMachineWatch" parameterClass="RecordMachineWatch" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT TOP 1
			ID, RECORD_DATE_TIME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM RECORD_MACHINE_WATCH
			Where DELETED = '0'
			AND COMPANY_ID = #CompanyId#
			AND BRANCH_SHOP_ID = #BranchShopId#
			<![CDATA[
			AND ID<>#Id#
			]]>
			ORDER BY ID DESC
		</select>

		<select id="SelectCompleteRecordMachineWatch" parameterClass="map" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT * FROM
			RECORD_MACHINE_WATCH
			WHERE IS_CONFIRMED =#isconfirmed#
			AND COMPANY_ID = #companyid#
			AND BRANCH_SHOP_ID = #branchshopid#
		</select>

		<update id="UpdateCanUsedRecordMachineWatch" parameterClass="map" >
			update
			RECORD_MACHINE_WATCH
			set IS_CONFIRMED =#isconfirmed#
			WHERE COMPANY_ID = #companyid#
			AND BRANCH_SHOP_ID = #branchshopid# and IS_CONFIRMED=#confirmed#
		</update>

		<select id="SelectLastRecordMachineWatch" parameterClass="map" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT TOP 1 * FROM
			RECORD_MACHINE_WATCH
			WHERE IS_CONFIRMED =#isconfirmed#
			AND COMPANY_ID = #companyid#
			AND BRANCH_SHOP_ID = #branchshopid#
			ORDER BY UPDATE_DATE_TIME DESC
		</select>
		
		<!--<procedure id="GetVerifyRecordWatchCompleteOrderUsedCount" resultClass="int" parameterMap="paramMap">
			Get_Machine_Paper_Counter
		</procedure>-->
		<!--
			抄表修改
			2010-05-06 
		-->
		<select id="GetVerifyRecordWatchCompleteOrderUsedCount" resultClass="int" parameterClass="map">
			declare @returnCount bigint					<!--返回值 某种机器某种纸型的数量-->
			declare @lastLogDateTime  varchar(20)		<!--上次抄表时间-->
			declare @amount as decimal(14,2)

			IF 	#logCounterId#=0
			BEGIN
			SET	@lastLogDateTime='1900-1-1'
			END
			ELSE
			BEGIN
			SET @lastLogDateTime=(SELECT RECORD_DATE_TIME FROM RECORD_MACHINE_WATCH WHERE ID=#logCounterId# AND COMPANY_ID=#companyid# AND BRANCH_SHOP_ID=#branchshopid#)
			END

			SELECT @amount =  SUM(ofrms.PAPER_COUNT)
			FROM ORDERS_FOR_RECORD_MACHINE_SUM AS ofrms
			INNER JOIN ORDERS b on b.ID = ofrms.ORDERS_ID
			WHERE b.BALANCE_DATE_TIME>=@lastLogDateTime
			AND b.COMPANY_ID=#companyid#
			AND b.BRANCH_SHOP_ID=#branchshopid#
			AND b.STATUS=#orderStatus#
			AND ofrms.COLOR_TYPE = #paperColor#
			AND ofrms.MACHINE_ID = #machineId#
			AND (ofrms.PAPER_SPECIFICATION_ID = #paperSpcId# or ofrms.PAPER_SPECIFICATION_ID= #paperSpcId2# OR ofrms.PAPER_SPECIFICATION_ID = #paperSpcId3#)

			SET @returnCount = ISNULL( @amount,0)

			<!--加上本次未完工订单用纸数量-->
			SET @returnCount=@returnCount+ISNULL((SELECT SUM(USED_PAPER_COUNT) FROM UNCOMPLETE_ORDERS_USED_PAPER WHERE RECORD_MACHINE_WATCH_Id=#recordWatchId# and Machine_type_id=#machineId# AND COLOR_TYPE=#paperColor# AND (PAPER_SPECIFICATION_Id=#paperSpcId# OR PAPER_SPECIFICATION_Id=#paperSpcId2# OR PAPER_SPECIFICATION_Id= #paperSpcId3#)),0
			)

			<!--减去未完工订单用纸数量-->
			SET @returnCount=@returnCount-ISNULL((SELECT SUM(USED_PAPER_COUNT) FROM UNCOMPLETE_ORDERS_USED_PAPER WHERE RECORD_MACHINE_WATCH_Id=#logCounterId# and Machine_type_id=#machineId# AND COLOR_TYPE=#paperColor# AND (PAPER_SPECIFICATION_Id=#paperSpcId# OR PAPER_SPECIFICATION_Id=#paperSpcId2# OR PAPER_SPECIFICATION_Id= #paperSpcId3#)),0)

			select @returnCount
		</select>

		<update id="UpdateIsConfirmedById" parameterClass="map">
			update record_machine_watch set is_confirmed=#status# where id=#id#
		</update>

		<!--
		名    称: GetRecordMachineWatch
		功能概要: 获取抄表记录
		作    者: 
		创建时间: 
		修 正 人: 白晓宇
		修正时间: 2010-05-08
		描    述: 修改查询
		-->
		<select id="GetRecordMachineWatch" parameterClass="map" resultMap="RecordMachineWatchResultMap.selectResult">
			with temptbl as (
			SELECT ROW_NUMBER() OVER (ORDER BY id desc)AS Row, * from Record_Machine_Watch
			where is_confirmed=#isconfirmed#
			AND COMPANY_ID = #companyId#
			AND BRANCH_SHOP_ID = #branchshopId#
			AND
			<![CDATA[
			convert(nvarchar(10),record_date_time,120)>=convert(nvarchar(10),#beginDate#,120)
			]]>
			AND
			<![CDATA[
			convert(nvarchar(10),record_date_time,120)<=convert(nvarchar(10),#endDate#,120)
			]]>
			)
			SELECT * FROM temptbl where Row between #beginRow# and #endRow#
		</select>
		
		<!--
		名    称: GetRecordMachineWatchCount
		功能概要: 获取抄表记录数
		作    者: 
		创建时间: 
		修 正 人: 白晓宇
		修正时间: 2010-05-08
		描    述: 添加查询时间
		-->
		<select id="GetRecordMachineWatchCount" parameterClass="map" resultClass="int">
			select count(id) from Record_Machine_Watch
			where is_confirmed=#isconfirmed#
			AND COMPANY_ID = #companyId#
			AND BRANCH_SHOP_ID = #branchshopId#
			AND
			<![CDATA[
			convert(nvarchar(10),record_date_time,120)>=convert(nvarchar(10),#beginDate#,120)
			]]>
			AND
			<![CDATA[
			convert(nvarchar(10),record_date_time,120)<=convert(nvarchar(10),#endDate#,120)
			]]>
		</select>
	</statements>
</sqlMap>