<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="UserConcessionRange" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<cacheModels>
        <cacheModel id="UserConcessionRangeCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="UserConcessionRangeBase.Insert"/>
            <flushOnExecute statement="UserConcessionRangeBase.Update"/>
            <flushOnExecute statement="UserConcessionRangeBase.LogicDelete"/>
            <flushOnExecute statement="UserConcessionRangeBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表USER_CONCESSION_RANGE [用户优惠范围中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="UserConcessionRangeResultMap.selectResult">
			SELECT
			*
			FROM USER_CONCESSION_RANGE
			ORDER BY ID ASC
		</select>
    <delete id="DeleteConcessionRanageByUserId">
      delete USER_CONCESSION_RANGE where users_Id=#UsersId# and company_Id=#CompanyId# and branch_Shop_Id=#BranchShopId#
    </delete>
  </statements>
</sqlMap>