<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BranchShop" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="BranchShopCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="BranchShopBase.Insert"/>
            <flushOnExecute statement="BranchShopBase.Update"/>
            <flushOnExecute statement="BranchShopBase.LogicDelete"/>
            <flushOnExecute statement="BranchShopBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
    <resultMap id="SearchBranchShopMap" class ="BranchShop">
      <result property="Id" column="Id"/>
      <result property="Name" column="name"/>
      <result property="CompanyId" column="Company_Id"/>
      <result property="Memo" column="memo"/>
      <result property="CompanyName" column="CompanyName"/>
    </resultMap>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="BranchShopResultMap.selectResult">
			SELECT
				*
			FROM BRANCH_SHOP
			ORDER BY ID ASC
		</select>

		<select id="SelectBranchShopByCompanyId" resultMap="BranchShopResultMap.selectResult" parameterClass="long">
			<![CDATA[
			SELECT
				ID, COMPANY_ID, NAME, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED
			FROM BRANCH_SHOP
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
			ORDER BY ID			
			]]>
		</select>
    <select id="SearchBranchShop" resultMap="SearchBranchShopMap">
      select top(#InsertUser#)
      a.Id,a.Name,a.Company_Id,
      a.memo,b.Name CompanyName
      from Branch_shop a
      inner join Company b on b.Id=a.Company_Id
      and a.deleted='0'
      and a.id not in(
      select top(#InsertUser#*#UpdateUser#)
      a.Id
      from Branch_shop a
      inner join Company b on b.Id=a.Company_Id
      and a.deleted='0'
      )
    </select>
    <select id="SearchBranchShopRowCount" resultClass="long">
      select
      count(a.Id)
      from Branch_shop a
      inner join Company b on b.Id=a.Company_Id
      and a.deleted='0'
    </select>
	</statements>
</sqlMap>