<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessTypePriceFactor" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
    <resultMap id="SearchBusinessTypePriceFactorMap" class="BusinessTypePriceFactor">
      <result property="Id" column="Id"/>
      <result property="BusinessTypeId" column="business_Type_Id"/>
      <result property="PriceFactorId" column="Price_Factor_Id"/>
      <result property="BusinessTypeName" column="Name"/>
      <result property="PriceFactorText" column="display_Text"/>
    </resultMap>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="BusinessTypePriceFactorResultMap.selectResult">
			SELECT
				*
			FROM BUSINESS_TYPE_PRICE_FACTOR
			ORDER BY ID ASC
		</select>
    
    <!--获取业务类型包含的价格因素-->
    <select id="SearchBusinessTypePriceFactor" resultMap="SearchBusinessTypePriceFactorMap">
      select
      a.Id,a.Price_Factor_Id,
      a.business_Type_Id,b.display_Text,c.Name
      from BUSINESS_TYPE_PRICE_FACTOR a
      Inner join Price_factor b on a.price_factor_Id=b.Id
      inner join business_type c on c.Id=a.business_type_Id
      where b.deleted='0'
      and b.Company_Id=#CompanyId#
      and b.Branch_shop_Id=#BranchShopId#
    </select>
    <select id="SearchBusinessTypePriceFactorByBusId" resultMap="SearchBusinessTypePriceFactorMap">
      select
      a.Id,a.Price_Factor_Id,
      a.business_Type_Id,b.display_Text,c.Name
      from BUSINESS_TYPE_PRICE_FACTOR a
      Inner join Price_factor b on a.price_factor_Id=b.Id
      inner join business_type c on c.Id=a.business_type_Id
      where b.deleted='0'
      and b.Company_Id=#CompanyId#
      and b.Branch_shop_Id=#BranchShopId#
      and c.Id=#BusinessTypeId#
    </select>
		<delete id="DeleteByBusinessTypeId" parameterClass="int">
			DELETE FROM BUSINESS_TYPE_PRICE_FACTOR WHERE BUSINESS_TYPE_ID = #Id#
		</delete>
    
    <!--根据业务类型Id 删除业务类型与价格因素之间的依赖-->
    <delete id="DeleteBusinessTypePriceFactorByBusinessTypeId">
      delete BUSINESS_TYPE_PRICE_FACTOR from BUSINESS_TYPE_PRICE_FACTOR a
      Inner join business_type b on a.business_Type_Id=b.Id
      where b.deleted='0'
      and b.Id=#BusinessTypeId#
      and b.Company_Id=#CompanyId#
      and b.Branch_shop_Id=#BranchShopId#
    </delete>

    <select id="CheckBusinessTypePriceFactorIsExist" resultClass="long">
      select count(Id) from BUSINESS_TYPE_PRICE_FACTOR
      where Business_Type_Id=#BusinessTypeId#
      and Price_Factor_Id=#PriceFactorId#
    </select>
	</statements>
</sqlMap>
