<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessType" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="BusinessTypeCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="BusinessTypeBase.Insert"/>
            <flushOnExecute statement="BusinessTypeBase.Update"/>
            <flushOnExecute statement="BusinessTypeBase.LogicDelete"/>
            <flushOnExecute statement="BusinessTypeBase.Delete"/>
        </cacheModel>
    </cacheModels>
    <resultMaps>
        <resultMap id="SelectCustomQueryBusinessTypeListResult" class="BusinessType">
            <result property="Id" column="ID" dbType="bigint"/>
            <result property="Name" column="NAME" dbType="nvarchar"/>
            <result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
            <result property="InsertUser" column="INSERT_USER" dbType="int"/>
            <result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
            <result property="UpdateUser" column="UPDATE_USER" dbType="int"/>
            <result property="Version" column="VERSION" dbType="int"/>
            <result property="Deleted" column="DELETED" dbType="char"/>
            <result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
            <result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
            <result property="PriceFactorList" column="ID" select="BusinessTypeBase.SelectPriceFactor" lazyLoad="true"/>
        </resultMap>
			
        <resultMap id="SelectCustomQueryBusinessTypeListResult_Set" class="BusinessType">
            <result property="Id" column="ID" dbType="bigint"/>
            <result property="Name" column="NAME" dbType="nvarchar"/>
            <result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
            <result property="InsertUser" column="INSERT_USER" dbType="int"/>
            <result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
            <result property="UpdateUser" column="UPDATE_USER" dbType="int"/>
            <result property="Version" column="VERSION" dbType="int"/>
            <result property="Deleted" column="DELETED" dbType="char"/>
            <result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
            <result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
            <result property="PriceFactorList" column="ID" select="BusinessType.SelectPriceFactor_includeNoUse" lazyLoad="true"/>
        </resultMap>
			
			
    </resultMaps>
    <statements>


			<select id="SelectPriceFactor_includeNoUse" parameterClass="long" resultMap="PriceFactorResultMap.selectResult" >
				SELECT
				PRICE_FACTOR.ID, PRICE_FACTOR.NAME, PRICE_FACTOR.DISPLAY_TEXT, PRICE_FACTOR.TARGET_TABLE, PRICE_FACTOR.TARGET_VALUE_COLUMN, PRICE_FACTOR.TARGET_TEXT_COLUMN, PRICE_FACTOR.USED, PRICE_FACTOR.IS_DISPLAY, PRICE_FACTOR.SORT_NO, PRICE_FACTOR.INSERT_DATE_TIME, PRICE_FACTOR.INSERT_USER, PRICE_FACTOR.UPDATE_DATE_TIME, PRICE_FACTOR.UPDATE_USER, PRICE_FACTOR.VERSION, PRICE_FACTOR.DELETED, PRICE_FACTOR.COMPANY_ID, PRICE_FACTOR.BRANCH_SHOP_ID
				FROM PRICE_FACTOR
				INNER JOIN BUSINESS_TYPE_PRICE_FACTOR ON BUSINESS_TYPE_PRICE_FACTOR.PRICE_FACTOR_ID = PRICE_FACTOR.ID
				WHERE BUSINESS_TYPE_PRICE_FACTOR.BUSINESS_TYPE_ID = #value# AND PRICE_FACTOR.DELETED = '0'

				ORDER BY BUSINESS_TYPE_PRICE_FACTOR.SORT_NO
			</select>
			
			
        <select id="SelectCustomQueryBusinessTypeList" parameterClass="BusinessType" resultMap="SelectCustomQueryBusinessTypeListResult">
            SELECT
            ID, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
            FROM BUSINESS_TYPE
            WHERE
            DELETED = '0'
            AND COMPANY_ID = #CompanyId#
			AND BRANCH_SHOP_ID = #BranchShopId#
            <dynamic>
                <isNotEqual prepend="and" property="Id" compareValue="-1">
                    ID = #Id#
                </isNotEqual>
            </dynamic>
            ORDER BY ID
        </select>

			<select id="SelectAll_includePriceFactorNoUse" resultMap="BusinessTypePriceSet.selectResult_includeNoUsed"
			cacheModel="BusinessType.BusinessTypeCache">
				SELECT
				ID, NAME, NEED_RECORD_MACHINE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				FROM BUSINESS_TYPE
				Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
				ORDER BY ID
			</select>

			
			<!--设置界面上要显示不论价格因素是否使用-->
        <select id="SelectCustomQueryBusinessTypeList_Set" parameterClass="BusinessType" resultMap="SelectCustomQueryBusinessTypeListResult_Set">
            SELECT
            ID, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
            FROM BUSINESS_TYPE
            WHERE
            DELETED = '0'
            AND COMPANY_ID = #CompanyId#
			AND BRANCH_SHOP_ID = #BranchShopId#
            <dynamic>
                <isNotEqual prepend="and" property="Id" compareValue="-1">
                    ID = #Id#
                </isNotEqual>
            </dynamic>
            ORDER BY ID
        </select>

			
			<select id="DeleteCheck" parameterClass="long"  resultMap="BusinessTypeResultMap.selectResult">

				select Id,'业务类型['+Name+']不能删除,在 [因素之间的依赖关系] 已经存在' as Name,NEED_RECORD_MACHINE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				FROM BUSINESS_TYPE
				where Id=#Id# and exists(select top 1 * from FACTOR_RELATION where Business_Type_Id =#Id#)
				union all
				select Id,'业务类型['+Name+']不能删除,在 [门市价格设置] 已经存在' as Name,NEED_RECORD_MACHINE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				FROM BUSINESS_TYPE
				where Id=#Id# and exists(select top 1 * from BASE_BUSINESS_TYPE_PRICE_SET where Business_Type_Id =#Id#)
				union all
				select Id,'业务类型['+Name+']不能删除,在 [行业或会员价格设置] 已经存在' as Name,NEED_RECORD_MACHINE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				FROM BUSINESS_TYPE
				where Id=#Id# and exists(select top 1 * from BUSINESS_TYPE_PRICE_SET where Business_Type_Id =#Id#)

			</select>

      <select id="GetBusinessTypeList" resultMap="BusinessTypeResultMap.selectResult">
        select top (#InsertUser#) *
        from business_Type a
        where a.deleted='0'
        and a.Company_Id=#CompanyId#
        and a.Branch_Shop_Id=#BranchShopId#
        and a.Id not in(
        select
        top(#InsertUser#*#Name#) b.Id
        from business_Type b
        where b.deleted='0'
        and b.Company_Id=#CompanyId#
        and b.Branch_Shop_Id=#BranchShopId#
        )
      </select>
      <select id="GetBusinessTypeListRowCount" resultClass="long">
        select
        count(Id)
        from business_Type a
        where a.deleted='0'
        and a.Company_Id=#CompanyId#
        and a.Branch_Shop_Id=#BranchShopId#
      </select>

      <select id="GetAllBusinessTypeList" resultMap="BusinessTypeResultMap.selectResult">
        select
        *
        from business_Type a
        where a.deleted='0'
        and a.Company_Id=#CompanyId#
        and a.Branch_Shop_Id=#BranchShopId#
      </select>

      <select id="CheckBusinessTyIsUse" resultClass="long">
        select
        count(a.Id) 
        from Process_Content a
        where a.Deleted='0'
        and a.Company_Id=#CompanyId#
        and a.branch_Shop_Id=#BranchShopId#
        and a.business_Type_Id=#Id#
      </select>
		</statements>
</sqlMap>