<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="CompensateEmployee" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
	</resultMaps>
	<statements>
		<delete id="DeleteByCompensateUsedPaperId" parameterClass="long">
			DELETE FROM COMPENSATE_EMPLOYEE WHERE COMPENSATE_USED_PAPER_ID = #Id#
		</delete>
	</statements>
</sqlMap>