<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="CustomerType" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="CustomerTypeCache" implementation="LRU">
            <flushInterval hours="24"/>
            <flushOnExecute statement="CustomerTypeBase.Insert"/>
            <flushOnExecute statement="CustomerTypeBase.Update"/>
            <flushOnExecute statement="CustomerTypeBase.LogicDelete"/>
            <flushOnExecute statement="CustomerTypeBase.Delete"/>
            <property name="CacheSize" value="100" />
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="CustomerTypeResultMap.selectResult">
			SELECT
				*
			FROM CUSTOMER_TYPE
			ORDER BY ID ASC
		</select>
    <select id="SearchCustomerType" resultMap="CustomerTypeResultMap.selectResult">
      select
      top(#InsertUser#) *
      from Customer_Type
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      and Id not in(
      select top(#InsertUser#*#UpdateUser#) Id
      from Customer_Type
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      )
    </select>
    <select id="SearchCustomerTypeRowCount" resultClass="long">
      select count(Id) from Customer_Type
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
    </select>
    <select id="CheckCustomerTypeIsUse" resultClass="long">
      select count(id) from CUSTOMER
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      and Customer_Type_Id=#Id#
    </select>
	</statements>
</sqlMap>