<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineWatch" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="MachineWatchCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="MachineWatchBase.Insert"/>
            <flushOnExecute statement="MachineWatchBase.Update"/>
            <flushOnExecute statement="MachineWatchBase.LogicDelete"/>
            <flushOnExecute statement="MachineWatchBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="MachineWatchResultMap.selectResult">
			SELECT
				*
			FROM MACHINE_WATCH
			ORDER BY ID ASC
		</select>

		<select id="SelectMachineWatchByMachineTypeId" parameterClass="long" resultMap="MachineWatchResultMap.selectResult">
			SELECT
			*
			FROM MACHINE_WATCH
			WHERE MACHINE_TYPE_ID=#value#
			ORDER BY WATCH_TYPE
		</select>
	</statements>
</sqlMap>