<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MemberCardDiscountConcession" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="ValidMemberDiscountCardConcession" class="MemberCardDiscountConcession">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="MemberCardId" column="MEMBER_CARD_ID" dbType="bigint"/>
			<result property="DiscountConcessionId" column="DISCOUNT_CONCESSION_ID" dbType="bigint"/>
			<result property="JoinDateTime" column="JOIN_DATE_TIME" dbType="datetime"/>
			<result property="Amount" column="AMOUNT" dbType="decimal"/>
			<result property="RestAmount" column="REST_AMOUNT" dbType="decimal"/>
			<result property="DiffAmount" column="DIFF_AMOUNT" dbType="decimal"/>
			<result property="CounteractTimes" column="COUNTERACT_TIMES" dbType="int"/>
			<result property="Discount" column="DISCOUNT" dbType="decimal"/>
			<result property="MachinePriceFactor" column="MACHINE_TYPE_ID" dbType="bigint"/>
			<result property="PaperPriceFactor" column="PAPER_SPECIFICATION_ID" dbType="bigint"/>
			<result property="DiscountConcessionName" column="DISCOUNT_CONCESSION_NAME" dbType="nvarchar"/>
		</resultMap>
	</resultMaps>
	<!--注意：请对每个statements段增加注释。说明处理的业务-->
	<!--查询表MEMBER_CARD_DISCOUNT_CONCESSION [会员卡参加的打折优惠活动中的所有记录]-->
	<statements>
		<select id="SelectAll" resultMap="MemberCardDiscountConcessionResultMap.selectResult">
			SELECT
			*
			FROM MEMBER_CARD_DISCOUNT_CONCESSION
			ORDER BY ID ASC
		</select>

		<select id="SelectValidMemberDiscountCardConcession" parameterClass="map" resultMap="ValidMemberDiscountCardConcession">
			<![CDATA[
			select a.*,b.NAME DISCOUNT_CONCESSION_NAME,d.DISCOUNT,d.MACHINE_TYPE_ID,d.PAPER_SPECIFICATION_ID from MEMBER_CARD_DISCOUNT_CONCESSION a inner join
			DISCOUNT_CONCESSION b on a.DISCOUNT_CONCESSION_id=b.id inner join 
			CAMPAIGN c on b.campaign_id=c.id inner join
			DISCOUNT_CONCESSION_MACHINE_TYPE_PAPER_SPEC d on
			d.discount_concession_id=b.id
			where a.member_card_id=#memberCardId# and c.begin_date_time <=#time#
			and c.end_date_time >=#time#
			]]>
		</select>

		<update id="UpdateRestAmount" parameterClass="map">
			update MEMBER_CARD_DISCOUNT_CONCESSION SET REST_AMOUNT=REST_AMOUNT-$amount$ WHERE ID=#id#
		</update>
	</statements>
</sqlMap>