<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="OrdersForRecordMachineSum" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<resultMaps>
		<resultMap id="SelectOrdersForRecordMachineSumResult" class="OrdersForRecordMachineSum">
		<result property="MachineId" column="MACHINE_ID" dbType="bigint"/>
		<result property="ColorType" column="COLOR_TYPE" dbType="char"/>
		<result property="PaperSpecification" column="PAPER_SPECIFICATION_ID" select="PaperSpecificationBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		<result property="PaperCount" column="PAPER_COUNT" dbType="decimal"/>
		<result property="TrashPapers" column="TRASH_PAPERS" dbType="decimal"/>
		
		</resultMap>
	</resultMaps>
	<statements>
		<select id="SelectOrdersForRecordMachineSum" parameterClass="OrdersForRecordMachineSum" resultMap="OrdersForRecordMachineSum.SelectOrdersForRecordMachineSumResult">
			SELECT
			MACHINE_ID,PAPER_SPECIFICATION_ID,COLOR_TYPE,
			isnull(sum(PAPER_COUNT),0) as PAPER_COUNT,isnull(sum(TRASH_PAPERS),0) as TRASH_PAPERS
			FROM ORDERS_FOR_RECORD_MACHINE_SUM
			WHERE MACHINE_ID=#MachineId#
			<dynamic>
				<isNotEmpty property="PaperSpecification">
				<isNotEqual prepend="and" property="PaperSpecification.Id" compareValue="0">
					PAPER_SPECIFICATION_ID=#PaperSpecification.Id#
				</isNotEqual>
				</isNotEmpty>
				<isNotEqual prepend="and" property="ColorType" compareValue="0">
					COLOR_TYPE=#ColorType#
				</isNotEqual>
			</dynamic>
			<![CDATA[
			AND BALANCE_DATE_TIME >#BalanceDateTime#
			]]>
			GROUP BY MACHINE_ID,PAPER_SPECIFICATION_ID,COLOR_TYPE
		</select>
		
		<!--需要抄表的订单明细-->
		<select id="GetOrderItemIdListNeedRecordMachine" parameterClass="OrderItem" resultClass="long">
			select
			distinct a.Id
			from order_Item a Inner join orders b on a.orders_Id=b.Id
			where b.deleted='0' and b.Company_Id=#CompanyId# and b.Branch_Shop_Id=#BranchShopId#
			and a.Orders_Id=#OrdersId#
			order by a.Id
		</select>
		<select id="CheckOrderItemIsUseMachine" parameterClass="OrderItem" resultClass="long">
      select count(b.Id) from order_Item_Factor_value b
      Inner join order_Item a on a.Id=b.order_Item_Id
      where a.deleted='0' and a.Company_Id=#CompanyId# and a.Branch_shop_Id=#BranchShopId#
      and b.order_Item_Id=#Id#
      and b.Price_Factor_Id=(select Id from Price_factor where Target_Table=#Memo# and Company_Id=#CompanyId# and Branch_shop_Id=#BranchShopId#)
    </select>
	<select id="GetOrderItemFactorValue" parameterClass="OrderItem" resultMap="OrderItemFactorValueResultMap.selectResult">
      select b.* from order_Item_Factor_value b
      Inner join order_Item a on a.Id=b.order_Item_Id
      where a.deleted='0' and a.Company_Id=#CompanyId# and a.Branch_shop_Id=#BranchShopId#
      and b.order_Item_Id=#Id#
      and b.Price_Factor_Id=(select Id from Price_factor where Target_Table=#Memo# and Company_Id=#CompanyId# and Branch_shop_Id=#BranchShopId#)
    </select>
	</statements>
</sqlMap>