<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PermissionGroup" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="PermissionGroupCache" implementation="LRU" readOnly="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="PermissionGroupBase.Insert"/>
            <flushOnExecute statement="PermissionGroupBase.Update"/>
            <flushOnExecute statement="PermissionGroupBase.LogicDelete"/>
            <flushOnExecute statement="PermissionGroupBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="PermissionGroupResultMap.selectResult">
			SELECT
				*
			FROM PERMISSION_GROUP
			ORDER BY ID ASC
		</select>
		<select id="SelectBranchShop" parameterClass="PermissionGroup" resultMap="PermissionGroupResultMap.selectResult" >
			select * from PERMISSION_GROUP where deleted='0' and Company_Id=#CompanyId#
			<dynamic>
				<isNotEqual prepend="and" compareProperty="BranchShopId" compareValue="0">
					<![CDATA[
					 branch_shop_id=#BranchShopId#
					]]>
				</isNotEqual>
			</dynamic>
			ORDER BY ID ASC
		</select>

    <select id="GetPermissionGroup" resultMap="PermissionGroupResultMap.selectResult">
      select top(#InsertUser#) *
      from PERMISSION_GROUP
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      and id not in(
      select top(#InsertUser#*#UpdateUser#) Id
      from PERMISSION_GROUP
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
      order by id
      )
      order by id
    </select>
    <select id="GetPermissionGroupRowCount" resultClass="long">
      select Count(Id)
      from PERMISSION_GROUP
      where deleted='0'
      and company_Id=#CompanyId#
      and Branch_Shop_Id=#BranchShopId#
    </select>

    <select id="CheckPermissionGroupIsUsed" resultClass="long">
      select count(a.permission_Group_Id) from PERMISSION_GROUP_DETAIL a
      Inner join PERMISSION_GROUP b on a.permission_Group_Id=b.Id
      where b.deleted='0'
      and b.company_Id=#CompanyId#
      and b.Branch_Shop_Id=#BranchShopId#
      and b.Id=#Id#
    </select>
    <select id="CheckPermissionGroupIsUsed1" resultClass="long">
      select count(a.permission_Group_Id) from ROLE_PERMISSION_GROUP a
      Inner join PERMISSION_GROUP b on a.permission_Group_Id=b.Id
      where b.deleted='0'
      and b.company_Id=#CompanyId#
      and b.Branch_Shop_Id=#BranchShopId#
      and b.Id=#Id#
    </select>

    <update id="UpdatePermissionGroup" parameterClass="PermissionGroup">
      UPDATE PERMISSION_GROUP
      SET
      NAME=#Name#,
      MEMO=#Memo#,
      UPDATE_DATE_TIME=#UpdateDateTime#,
      UPDATE_USER=#UpdateUser#,
      VERSION=#Version#,
      COMPANY_ID=#CompanyId#,
      BRANCH_SHOP_ID=#BranchShopId#
      WHERE ID = #Id#
    </update>
  </statements>
</sqlMap>