<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PrintRequireDetail" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
    <cacheModels>
        <cacheModel id="PrintRequireDetailCache" implementation="LRU">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100" />
            <flushOnExecute statement="PrintRequireDetailBase.Insert"/>
            <flushOnExecute statement="PrintRequireDetailBase.Update"/>
            <flushOnExecute statement="PrintRequireDetailBase.LogicDelete"/>
            <flushOnExecute statement="PrintRequireDetailBase.Delete"/>
        </cacheModel>
    </cacheModels>
	<resultMaps>
	</resultMaps>
	<statements>
		<select id="SelectAll" resultMap="PrintRequireDetailResultMap.selectResult">
			SELECT
				*
			FROM PRINT_REQUIRE_DETAIL
			ORDER BY ID ASC
		</select>
	</statements>
</sqlMap>