<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ApplyAbateResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="ApplyAbate" type="Workflow.Da.Domain.ApplyAbate, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="ApplyAbate">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="OrdersId" column="ORDERS_ID" dbType="bigint"/> 
			
			<result property="Money" column="MONEY" dbType="decimal"/> 
			
			<result property="Memo" column="MEMO" dbType="nvarchar"/> 
			
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/> 
			
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/> 
			
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/> 
			
			<result property="IsAgree" column="IS_AGREE" dbType="char"/> 
			
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/> 
			

		</resultMap>
	</resultMaps>
</sqlMap>