<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessTypePriceFactorResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="BusinessTypePriceFactor" type="Workflow.Da.Domain.BusinessTypePriceFactor, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="BusinessTypePriceFactor">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="PriceFactorId" column="PRICE_FACTOR_ID" dbType="bigint"/>
			<result property="BusinessTypeId" column="BUSINESS_TYPE_ID" dbType="bigint"/>
			<result property="SortNo" column="SORT_NO" dbType="int"/>
		</resultMap>
	</resultMaps>
</sqlMap>