<?xml version="1.0" encoding="utf-8"?>
<!--表COMPENSATE_USED_PAPER [补单用纸情况]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="CompensateUsedPaperBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->		 
			<select id="SelectAll" resultMap="CompensateUsedPaperResultMap.selectResult">
			SELECT  ID,MACHINE_TYPE_ID,RECORD_MACHINE_WATCH_ID,PAPER_SPECIFICATION_ID,USED_PAPER_COUNT,COLOR_TYPE,MEMO	FROM COMPENSATE_USED_PAPER Order by ID
			</select>

			<!--按照主键查询表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="CompensateUsedPaperResultMap.selectResult">
			SELECT 
			ID,
			MACHINE_TYPE_ID,
			RECORD_MACHINE_WATCH_ID,
			PAPER_SPECIFICATION_ID,
			USED_PAPER_COUNT,
			COLOR_TYPE,
			MEMO
			FROM COMPENSATE_USED_PAPER
			WHERE ID = #Id# 
			</select>

			<!--插入表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->
			<insert id="Insert" parameterClass="CompensateUsedPaper">
			INSERT INTO COMPENSATE_USED_PAPER
			(
				ID,
				MACHINE_TYPE_ID,
				RECORD_MACHINE_WATCH_ID,
				PAPER_SPECIFICATION_ID,
				USED_PAPER_COUNT,
				COLOR_TYPE,
				MEMO
			) VALUES
			( 
				#Id#,
				#MachineTypeId#,
				#RecordMachineWatchId#,
				#PaperSpecificationId#,
				#UsedPaperCount#,
				#ColorType#,
				#Memo#
			)
			</insert>
			
			<!--更新表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->
			<update id="Update" parameterClass="CompensateUsedPaper">
			UPDATE COMPENSATE_USED_PAPER
			SET
				MACHINE_TYPE_ID=#MachineTypeId#,
				RECORD_MACHINE_WATCH_ID=#RecordMachineWatchId#,
				PAPER_SPECIFICATION_ID=#PaperSpecificationId#,
				USED_PAPER_COUNT=#UsedPaperCount#,
				COLOR_TYPE=#ColorType#,
				MEMO=#Memo#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE COMPENSATE_USED_PAPER
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表COMPENSATE_USED_PAPER [补单用纸情况]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM COMPENSATE_USED_PAPER WHERE ID = #Id#
			</delete>

			<!--目标表EMPLOYEE的一览查询-->
			<select id="SelectEmployee" parameterClass="long" resultMap="EmployeeResultMap.selectResult" >
				SELECT
				EMPLOYEE.*
				FROM EMPLOYEE
				INNER JOIN COMPENSATE_EMPLOYEE ON COMPENSATE_EMPLOYEE.EMPLOYEE_ID = EMPLOYEE.ID
				WHERE COMPENSATE_EMPLOYEE.COMPENSATE_USED_PAPER_ID = #value#
				ORDER BY EMPLOYEE.ID
			</select>
		</statements>
</sqlMap>
