<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DutyEmployeeBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="DutyEmployeeResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, ORDERS_DUTY_ID
			FROM DUTY_EMPLOYEE
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="DutyEmployeeResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, ORDERS_DUTY_ID
			FROM DUTY_EMPLOYEE
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="DutyEmployee">
			INSERT INTO DUTY_EMPLOYEE
				(
				  ID, EMPLOYEE_ID, ORDERS_DUTY_ID
				)
				VALUES
				(
				  #Id # , #EmployeeId# , #OrdersDutyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="DutyEmployee">
			UPDATE DUTY_EMPLOYEE
				SET
					EMPLOYEE_ID = #EmployeeId# ,ORDERS_DUTY_ID = #OrdersDutyId#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE DUTY_EMPLOYEE
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM DUTY_EMPLOYEE WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
