<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="HandOverOrderBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="HandOverOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, HAND_OVER_ID, NO, INSERT_DATE_TIME, DELIVERY_TYPE, DELIVERY_DATE_TIME, MEMO, STATUS
			FROM HAND_OVER_ORDERS
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="HandOverOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, HAND_OVER_ID, NO, INSERT_DATE_TIME, DELIVERY_TYPE, DELIVERY_DATE_TIME, MEMO, STATUS
			FROM HAND_OVER_ORDERS
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="HandOverOrder">
			INSERT INTO HAND_OVER_ORDERS
				(
				  ID, ORDERS_ID, HAND_OVER_ID, NO, INSERT_DATE_TIME, DELIVERY_TYPE, DELIVERY_DATE_TIME, MEMO, STATUS
				)
				VALUES
				(
				  #Id # , #OrdersId# , #HandOverId# , #No# , #InsertDateTime# , #DeliveryType# , #DeliveryDateTime# , #Memo# , #Status# 
				)
		</insert>
		
		<update id="Update" parameterClass="HandOverOrder">
			UPDATE HAND_OVER_ORDERS
				SET
					ORDERS_ID = #OrdersId# ,HAND_OVER_ID = #HandOverId#  ,NO = #No#  ,DELIVERY_TYPE = #DeliveryType#  ,DELIVERY_DATE_TIME = #DeliveryDateTime#  ,MEMO = #Memo#  ,STATUS = #Status#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE HAND_OVER_ORDERS
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM HAND_OVER_ORDERS WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
