<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="LinkManResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="LinkMan" type="Workflow.Da.Domain.LinkMan, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="LinkMan">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="CustomerId" column="CUSTOMER_ID" dbType="bigint"/> 
			
			<result property="Name" column="NAME" dbType="nvarchar"/> 
			
			<result property="Sex" column="SEX" dbType="char"/> 
			
			<result property="Age" column="AGE" dbType="int"/> 
			
			<result property="Position" column="POSITION" dbType="nvarchar"/> 
			
			<result property="Hobby" column="HOBBY" dbType="nvarchar"/> 
			
			<result property="CompanyTelNo" column="COMPANY_TEL_NO" dbType="varchar"/> 
			
			<result property="MobileNo" column="MOBILE_NO" dbType="varchar"/> 
			
			<result property="Qq" column="QQ" dbType="varchar"/> 
			
			<result property="Email" column="EMAIL" dbType="varchar"/> 
			
			<result property="Address" column="ADDRESS" dbType="nvarchar"/> 
			
			<result property="Memo" column="MEMO" dbType="nvarchar"/> 
			
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/> 
			
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/> 
			
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/> 
			
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/> 
			
			<result property="Version" column="VERSION" dbType="int"/> 
			
			<result property="Deleted" column="DELETED" dbType="char"/> 
			
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/> 
			
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/> 
			
			<result property="IdentityCardNo" column="IDENTITY_CARD_NO" dbType="varchar"/> 
			

		</resultMap>
	</resultMaps>
</sqlMap>