<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineTypeBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MachineTypeResultMap.selectResult"
			cacheModel="MachineType.MachineTypeCache">
			SELECT
				ID, NO, NAME, NEED_RECORD_WARCH, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MACHINE_TYPE
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY NO
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MachineTypeResultMap.selectResult"
			cacheModel="MachineType.MachineTypeCache">
			SELECT
				ID, NO, NAME, NEED_RECORD_WARCH, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MACHINE_TYPE
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="MachineType">
			INSERT INTO MACHINE_TYPE
				(
				  ID, NO, NAME, NEED_RECORD_WARCH, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #No# , #Name# , #NeedRecordWarch# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="MachineType">
			UPDATE MACHINE_TYPE
				SET
					NO = #No# ,NAME = #Name#  ,NEED_RECORD_WARCH = #NeedRecordWarch#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MACHINE_TYPE
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MACHINE_TYPE WHERE ID = #Id#
		</delete>
		
		<select id="SelectMachineWatchConversionPaper" parameterClass="long" resultMap="MachineWatchConversionPaperResultMap.selectResult" >
			SELECT
				MACHINE_WATCH_CONVERSION_PAPER.ID, MACHINE_WATCH_CONVERSION_PAPER.PAPER_SPECIFICATION_ID, MACHINE_WATCH_CONVERSION_PAPER.MACHINE_TYPE_ID, MACHINE_WATCH_CONVERSION_PAPER.NAME, MACHINE_WATCH_CONVERSION_PAPER.COMPUTE_FORMULA, MACHINE_WATCH_CONVERSION_PAPER.COLOR_TYPE
			FROM MACHINE_WATCH_CONVERSION_PAPER
			WHERE MACHINE_TYPE_ID = #value# 			ORDER BY MACHINE_WATCH_CONVERSION_PAPER.ID
		</select>
		<select id="SelectMachineWatch" parameterClass="long" resultMap="MachineWatchResultMap.selectResult" >
			SELECT
				MACHINE_WATCH.ID, MACHINE_WATCH.MACHINE_TYPE_ID, MACHINE_WATCH.NAME, MACHINE_WATCH.SORT_NO, MACHINE_WATCH.INSERT_DATE_TIME, MACHINE_WATCH.INSERT_USER, MACHINE_WATCH.UPDATE_DATE_TIME, MACHINE_WATCH.UPDATE_USER, MACHINE_WATCH.DELETED, MACHINE_WATCH.VERSION, MACHINE_WATCH.BRANCH_SHOP_ID, MACHINE_WATCH.COMPANY_ID,MACHINE_WATCH.WATCH_TYPE
			FROM MACHINE_WATCH
			WHERE MACHINE_TYPE_ID = #value# AND MACHINE_WATCH.DELETED = '0'
			ORDER BY SORT_NO
		</select>
		<select id="SelectMachine" parameterClass="long" resultMap="MachineResultMap.selectResult" >
			SELECT
				MACHINE.ID, MACHINE.MACHINE_TYPE_ID, MACHINE.NO, MACHINE.NAME, MACHINE.INSERT_DATE_TIME, MACHINE.INSERT_USER, MACHINE.UPDATE_DATE_TIME, MACHINE.UPDATE_USER, MACHINE.VERSION, MACHINE.DELETED, MACHINE.COMPANY_ID, MACHINE.BRANCH_SHOP_ID
			FROM MACHINE
			WHERE MACHINE_TYPE_ID = #value# AND MACHINE.DELETED = '0'
			ORDER BY NO
		</select>
  </statements>
</sqlMap>
