<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MasterTradeBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MasterTradeResultMap.selectResult"
			cacheModel="MasterTrade.MasterTradeCache">
			<![CDATA[
			SELECT
				ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MASTER_TRADE
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId# and ID<>0
			ORDER BY NO
			]]>
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MasterTradeResultMap.selectResult"
			cacheModel="MasterTrade.MasterTradeCache">
			SELECT
				ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MASTER_TRADE
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="MasterTrade">
			INSERT INTO MASTER_TRADE
				(
				  ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #No# , #Name# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="MasterTrade">
			UPDATE MASTER_TRADE
				SET
					NO = #No# ,NAME = #Name#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MASTER_TRADE
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MASTER_TRADE WHERE ID = #Id#
		</delete>
		
		<select id="SelectSecondaryTrade" parameterClass="long" resultMap="SecondaryTradeResultMap.selectResult" >
			SELECT
				SECONDARY_TRADE.ID, SECONDARY_TRADE.MASTER_TRADE_ID, SECONDARY_TRADE.NO, SECONDARY_TRADE.NAME, SECONDARY_TRADE.INSERT_DATE_TIME, SECONDARY_TRADE.INSERT_USER, SECONDARY_TRADE.UPDATE_DATE_TIME, SECONDARY_TRADE.UPDATE_USER, SECONDARY_TRADE.VERSION, SECONDARY_TRADE.DELETED, SECONDARY_TRADE.BRANCH_SHOP_ID, SECONDARY_TRADE.COMPANY_ID
			FROM SECONDARY_TRADE
			WHERE MASTER_TRADE_ID = #value# AND SECONDARY_TRADE.DELETED = '0'
			ORDER BY NO
		</select>
  </statements>
</sqlMap>
