<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MemberOperateLogBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MemberOperateLogResultMap.selectResult">
			SELECT
				ID, MEMBER_CARD_ID, OPERATE_TYPE, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM MEMBER_OPERATE_LOG
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MemberOperateLogResultMap.selectResult">
			SELECT
				ID, MEMBER_CARD_ID, OPERATE_TYPE, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM MEMBER_OPERATE_LOG
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="MemberOperateLog">
			INSERT INTO MEMBER_OPERATE_LOG
				(
				  ID, MEMBER_CARD_ID, OPERATE_TYPE, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
				)
				VALUES
				(
				  #Id # , #MemberCardId# , #OperateType# , #Memo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Deleted# , #Version# , #BranchShopId# , #CompanyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="MemberOperateLog">
			UPDATE MEMBER_OPERATE_LOG
				SET
					MEMBER_CARD_ID = #MemberCardId# ,OPERATE_TYPE = #OperateType#  ,MEMO = #Memo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MEMBER_OPERATE_LOG
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MEMBER_OPERATE_LOG WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
