<?xml version="1.0" encoding="utf-8"?>
<!--表ORDER_ITEM [工单明细]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="OrderItemBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表ORDER_ITEM [工单明细]的基本操作-->		 
			<select id="SelectAll" resultMap="OrderItemResultMap.selectResult">
			SELECT  ID,ORDERS_ID,BUSINESS_TYPE_ID,AMOUNT,UNIT_PRICE,FORECAST_MONEY_AMOUNT,IS_USE_SAVED_PAPER,PAPER_CONSUME_COUNT,UNIT_DIFFERENCE_PRICE,CONSUME_PAPER_AMOUNT,CASH_CONSUME_COUNT,CASH_UNIT_PRICE,CASH_CONSUME_AMOUNT,DELETED,INSERT_DATE_TIME,INSERT_USER,UPDATE_DATE_TIME,UPDATE_USER,VERSION,COMPANY_ID,BRANCH_SHOP_ID,MEMO	FROM ORDER_ITEM Order by ID
			</select>

			<!--按照主键查询表ORDER_ITEM [工单明细]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="OrderItemResultMap.selectResult">
			SELECT 
			ID,
			ORDERS_ID,
			BUSINESS_TYPE_ID,
			AMOUNT,
			UNIT_PRICE,
			FORECAST_MONEY_AMOUNT,
			IS_USE_SAVED_PAPER,
			PAPER_CONSUME_COUNT,
			UNIT_DIFFERENCE_PRICE,
			CONSUME_PAPER_AMOUNT,
			CASH_CONSUME_COUNT,
			CASH_UNIT_PRICE,
			CASH_CONSUME_AMOUNT,
			DELETED,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			VERSION,
			COMPANY_ID,
			BRANCH_SHOP_ID,
			MEMO
			FROM ORDER_ITEM
			WHERE ID = #Id# 
			AND DELETED = '0'
			</select>

			<!--插入表ORDER_ITEM [工单明细]的基本操作-->
			<insert id="Insert" parameterClass="OrderItem">
			INSERT INTO ORDER_ITEM
			(
				ID,
				ORDERS_ID,
				BUSINESS_TYPE_ID,
				AMOUNT,
				UNIT_PRICE,
				FORECAST_MONEY_AMOUNT,
				IS_USE_SAVED_PAPER,
				PAPER_CONSUME_COUNT,
				UNIT_DIFFERENCE_PRICE,
				CONSUME_PAPER_AMOUNT,
				CASH_CONSUME_COUNT,
				CASH_UNIT_PRICE,
				CASH_CONSUME_AMOUNT,
				DELETED,
				INSERT_DATE_TIME,
				INSERT_USER,
				UPDATE_DATE_TIME,
				UPDATE_USER,
				VERSION,
				COMPANY_ID,
				BRANCH_SHOP_ID,
				MEMO
			) VALUES
			( 
				#Id#,
				#OrdersId#,
				#BusinessTypeId#,
				#Amount#,
				#UnitPrice#,
				#ForecastMoneyAmount#,
				#IsUseSavedPaper#,
				#PaperConsumeCount#,
				#UnitDifferencePrice#,
				#ConsumePaperAmount#,
				#CashConsumeCount#,
				#CashUnitPrice#,
				#CashConsumeAmount#,
				#Deleted#,
				#InsertDateTime#,
				#InsertUser#,
				#UpdateDateTime#,
				#UpdateUser#,
				#Version#,
				#CompanyId#,
				#BranchShopId#,
				#Memo#
			)
			</insert>
			
			<!--更新表ORDER_ITEM [工单明细]的基本操作-->
			<update id="Update" parameterClass="OrderItem">
			UPDATE ORDER_ITEM
			SET
				ORDERS_ID=#OrdersId#,
				BUSINESS_TYPE_ID=#BusinessTypeId#,
				AMOUNT=#Amount#,
				UNIT_PRICE=#UnitPrice#,
				FORECAST_MONEY_AMOUNT=#ForecastMoneyAmount#,
				IS_USE_SAVED_PAPER=#IsUseSavedPaper#,
				PAPER_CONSUME_COUNT=#PaperConsumeCount#,
				UNIT_DIFFERENCE_PRICE=#UnitDifferencePrice#,
				CONSUME_PAPER_AMOUNT=#ConsumePaperAmount#,
				CASH_CONSUME_COUNT=#CashConsumeCount#,
				CASH_UNIT_PRICE=#CashUnitPrice#,
				CASH_CONSUME_AMOUNT=#CashConsumeAmount#,
				DELETED=#Deleted#,
				INSERT_DATE_TIME=#InsertDateTime#,
				INSERT_USER=#InsertUser#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				UPDATE_USER=#UpdateUser#,
				VERSION=#Version#,
				COMPANY_ID=#CompanyId#,
				BRANCH_SHOP_ID=#BranchShopId#,
				MEMO=#Memo#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表ORDER_ITEM [工单明细]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE ORDER_ITEM
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表ORDER_ITEM [工单明细]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM ORDER_ITEM WHERE ID = #Id#
			</delete>

			<!--目标表PRINT_REQUIRE_DETAIL的一览查询-->
			<select id="SelectPrintRequireDetail" parameterClass="long" resultMap="PrintRequireDetailResultMap.selectResult" >
				SELECT
				PRINT_REQUIRE_DETAIL.*
				FROM PRINT_REQUIRE_DETAIL
				INNER JOIN ORDER_ITEM_PRINT_REQUIRE_DETAIL ON ORDER_ITEM_PRINT_REQUIRE_DETAIL.PRINT_REQUIRE_DETAIL_ID = PRINT_REQUIRE_DETAIL.ID
				WHERE ORDER_ITEM_PRINT_REQUIRE_DETAIL.ORDER_ITEM_ID = #value#
				ORDER BY PRINT_REQUIRE_DETAIL.ID
			</select>
			<!--目标表ORDER_ITEM_FACTOR_VALUE的信息查询-->
			<select id="SelectOrderItemFactorValue" parameterClass="long" resultMap="OrderItemFactorValueResultMap.selectResult" >
				SELECT
				*
				FROM ORDER_ITEM_FACTOR_VALUE
				WHERE ORDER_ITEM_ID = #value#
				ORDER BY ID
			</select>			
		</statements>
</sqlMap>
