<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="OrderItemResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="OrderItem" type="Workflow.Da.Domain.OrderItem, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="OrderItem">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="OrdersId" column="ORDERS_ID" dbType="bigint"/> 
			
			<result property="BusinessTypeId" column="BUSINESS_TYPE_ID" dbType="bigint"/> 
			
			<result property="Amount" column="AMOUNT" dbType="decimal"/> 
			
			<result property="UnitPrice" column="UNIT_PRICE" dbType="decimal"/> 
			
			<result property="ForecastMoneyAmount" column="FORECAST_MONEY_AMOUNT" dbType="decimal"/> 
			
			<result property="IsUseSavedPaper" column="IS_USE_SAVED_PAPER" dbType="char"/> 
			
			<result property="PaperConsumeCount" column="PAPER_CONSUME_COUNT" dbType="decimal"/> 
			
			<result property="UnitDifferencePrice" column="UNIT_DIFFERENCE_PRICE" dbType="decimal"/> 
			
			<result property="ConsumePaperAmount" column="CONSUME_PAPER_AMOUNT" dbType="decimal"/> 
			
			<result property="CashConsumeCount" column="CASH_CONSUME_COUNT" dbType="decimal"/> 
			
			<result property="CashUnitPrice" column="CASH_UNIT_PRICE" dbType="decimal"/> 
			
			<result property="CashConsumeAmount" column="CASH_CONSUME_AMOUNT" dbType="decimal"/> 
			
			<result property="Deleted" column="DELETED" dbType="char"/> 
			
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/> 
			
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/> 
			
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/> 
			
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/> 
			
			<result property="Version" column="VERSION" dbType="int"/> 
			
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/> 
			
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/> 
			
			<result property="Memo" column="MEMO" dbType="nvarchar"/> 
			

<!--list_out-->
			<result property="PrintRequireDetailList" column="ID" select="OrderItemBase.SelectPrintRequireDetail" nullValue="0" lazyLoad="true"/>
<!--list_in-->
			<result property="OrderItemFactorValueList" column="ID" select="OrderItemBase.SelectOrderItemFactorValue" nullValue="0" lazyLoad="true"/>
<!--single_in-->
			<result property="BusinessType" column="BUSINESS_TYPE_ID" select="BusinessTypeBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
</sqlMap>