<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="OrdersStatusAlterResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="OrdersStatusAlter" type="Workflow.Da.Domain.OrdersStatusAlter, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="OrdersStatusAlter">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="OrdersId" column="ORDERS_ID" dbType="bigint"/>
			<result property="Status" column="STATUS" dbType="int"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
		</resultMap>
	</resultMaps>
</sqlMap>