<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PaymentConcessionBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="PaymentConcessionResultMap.selectResult">
			SELECT
				ID, AUTH_USERS_ID, OPERATE_USERS_ID, GATHERING_ID, CONCESSION_TYPE, CONCESSION_AMOUNT, OPERATE_DATE_TIME, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM PAYMENT_CONCESSION
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="PaymentConcessionResultMap.selectResult">
			SELECT
				ID, AUTH_USERS_ID, OPERATE_USERS_ID, GATHERING_ID, CONCESSION_TYPE, CONCESSION_AMOUNT, OPERATE_DATE_TIME, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM PAYMENT_CONCESSION
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="PaymentConcession">
			INSERT INTO PAYMENT_CONCESSION
				(
				  ID, AUTH_USERS_ID, OPERATE_USERS_ID, GATHERING_ID, CONCESSION_TYPE, CONCESSION_AMOUNT, OPERATE_DATE_TIME, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
				)
				VALUES
				(
				  #Id # , #AuthUsers.Id# , #OperateUsers.Id# , #GatheringId# , #ConcessionType# , #ConcessionAmount# , #OperateDateTime# , #Memo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Deleted# , #Version# , #BranchShopId# , #CompanyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="PaymentConcession">
			UPDATE PAYMENT_CONCESSION
				SET
					AUTH_USERS_ID = #AuthUsers.Id# ,OPERATE_USERS_ID = #OperateUsers.Id#  ,GATHERING_ID = #GatheringId#  ,CONCESSION_TYPE = #ConcessionType#  ,CONCESSION_AMOUNT = #ConcessionAmount#  ,OPERATE_DATE_TIME = #OperateDateTime#  ,MEMO = #Memo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE PAYMENT_CONCESSION
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM PAYMENT_CONCESSION WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
