<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PriceFactorBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="PriceFactorResultMap.selectResult"
			cacheModel="PriceFactor.PriceFactorCache">
			SELECT
			ID, NAME, DISPLAY_TEXT, TARGET_TABLE, TARGET_VALUE_COLUMN, TARGET_TEXT_COLUMN, USED, IS_DISPLAY, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM PRICE_FACTOR
			where used='Y'
			and DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY SORT_NO
		</select>
			
			
			
			
		<select id="SelectByPk" parameterClass="long" resultMap="PriceFactorResultMap.selectResult"
			cacheModel="PriceFactor.PriceFactorCache">
			SELECT
				ID, NAME, DISPLAY_TEXT, TARGET_TABLE, TARGET_VALUE_COLUMN, TARGET_TEXT_COLUMN, USED, IS_DISPLAY, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM PRICE_FACTOR
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="PriceFactor">
			INSERT INTO PRICE_FACTOR
				(
				  ID, NAME, DISPLAY_TEXT, TARGET_TABLE, TARGET_VALUE_COLUMN, TARGET_TEXT_COLUMN, USED, IS_DISPLAY, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #Name# , #DisplayText# , #TargetTable# , #TargetValueColumn# , #TargetTextColumn# , #Used# , #IsDisplay# , #SortNo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="PriceFactor">
			UPDATE PRICE_FACTOR
				SET
					NAME = #Name# ,DISPLAY_TEXT = #DisplayText#  ,TARGET_TABLE = #TargetTable#  ,TARGET_VALUE_COLUMN = #TargetValueColumn#  ,TARGET_TEXT_COLUMN = #TargetTextColumn#  ,USED = #Used#  ,IS_DISPLAY = #IsDisplay#  ,SORT_NO = #SortNo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE PRICE_FACTOR
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM PRICE_FACTOR WHERE ID = #Id#
		</delete>
		
		<select id="SelectFactorValue" parameterClass="long" resultMap="FactorValueResultMap.selectResult" >
			SELECT
				FACTOR_VALUE.ID, FACTOR_VALUE.PRICE_FACTOR_ID, FACTOR_VALUE.VALUE, FACTOR_VALUE.TEXT, FACTOR_VALUE.SORT_NO, FACTOR_VALUE.INSERT_DATE_TIME, FACTOR_VALUE.INSERT_USER, FACTOR_VALUE.UPDATE_DATE_TIME, FACTOR_VALUE.UPDATE_USER, FACTOR_VALUE.VERSION, FACTOR_VALUE.DELETED, FACTOR_VALUE.COMPANY_ID, FACTOR_VALUE.BRANCH_SHOP_ID
			FROM FACTOR_VALUE
			WHERE PRICE_FACTOR_ID = #value# AND FACTOR_VALUE.DELETED = '0'
			ORDER BY SORT_NO
		</select>
  </statements>
</sqlMap>
