<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns='http://www.springframework.net' default-autowire="byName" default-lazy-init="true">

    <import resource="service.config"/>
  
    <object id="newOrderAction" type="Workflow.Action.NewOrderAction,Workflow.Support" singleton="false"></object>
	<object id="financeAction" type="Workflow.Action.Finance.FinanceAction,Workflow.Support" singleton="false"></object>
	<object id="findFinanceAction" type="Workflow.Action.Finance.FindFinanceAction,Workflow.Support" singleton="false"></object>
  
  <object id="searchAchievementAction"  type="Workflow.Action.Achievement.SearchAchievementAction,Workflow.Support" singleton="false"></object>
	<object id="adjustAchievementAction"  type="Workflow.Action.Achievement.AdjustAchievementAction,Workflow.Support" singleton="false"></object>
	<object id="priceAction" type="Workflow.Action.PriceAction, Workflow.Support" singleton="false"></object>
  <object id="permissionAction" type="Workflow.Action.Permission.PermissionAction, Workflow.Support" singleton="false"></object>
  <object id="employeeAction" type="Workflow.Action.Employee.EmployeeAction, Workflow.Support" singleton="false"></object>
  
    <object id="baseBusinessTypePriceSetAction" type="Workflow.Action.BaseBusinessTypePriceSetAction, Workflow.Support" singleton="false"></object>
    <object id="businessTypePriceSetAction" type="Workflow.Action.BusinessTypePriceSetAction, Workflow.Support" singleton="false"></object>
    <object id="businessTypeAction" type="Workflow.Action.PriceAction, Workflow.Support" singleton="false"></object>

	<object id="stageHandOverAction" type="Workflow.Action.StageHandOverAction,Workflow.Support" singleton="false"></object>
	<object id="cashHandOverAction" type="Workflow.Action.CashHandOverAction, Workflow.Support" singleton="false"></object>
	<object id="handOverQueryAction" type="Workflow.Action.HandOverQueryAction, Workflow.Support" singleton="false"></object>

	<!--一个查询一个Action开始-->
	<object id="searchOrderAction" type="Workflow.Action.SearchOrderAction, Workflow.Support" singleton="false"></object>
	<!--一个查询一个Action结束-->
	
	<object id="ajaxProcess1" type="Workflow.Action.Ajax.DemoAjaxProcess, Workflow.Support" />
    <object id="ajaxProcess2" type="Workflow.Action.Ajax.GetOrderFactorAjax, Workflow.Support" />
    <object id="ajaxProcess3" type="Workflow.Action.Ajax.GetPrintDemandListAjax, Workflow.Support" />
    <object id="ajaxProcess4" type="Workflow.Action.Ajax.GetBusinessTypePriceFactorAjax, Workflow.Support" />
	<object id="ajaxProcess5" type="Workflow.Action.Ajax.GetPriceAjax,Workflow.Support"/>
	<object id="ajaxProcess6" type="Workflow.Action.Ajax.GetMemberCardAjax, Workflow.Support" />
	<object id="ajaxProcess8" type="Workflow.Action.Ajax.GetMemberCardNoAjax, Workflow.Support" />
	<object id="ajaxProcess7" type="Workflow.Action.Ajax.GetOrderItemAjax, Workflow.Support" />
	<object id="ajaxProcess9" type="Workflow.Action.Ajax.GetCustomerIdInOrdersAjax, Workflow.Support" />
	<object id="ajaxProcess10" type="Workflow.Action.Ajax.GetArrearageOrderAjax, Workflow.Support" />
	<object id="ajaxProcess11" type="Workflow.Action.Ajax.GetConcessionSum, Workflow.Support" />
	<object id="ajaxProcess12" type="Workflow.Action.Ajax.GetCustomerInfoAjax, Workflow.Support" />
	<object id="ajaxProcess13" type="Workflow.Action.Ajax.GetBusinessTypeDetalAjax, Workflow.Support" />
	<object id="ajaxProcess14" type="Workflow.Action.Ajax.GetBasePriceSetAjax, Workflow.Support" />
	<object id="ajaxProcess15" type="Workflow.Action.Ajax.GetCustomerPayTypeAjax, Workflow.Support" />
	<object id="ajaxProcess16" type="Workflow.Action.Ajax.CheckLoginAjax, Workflow.Support" />
	<object id="ajaxProcess17" type="Workflow.Action.Ajax.GetCurrentUserPermissionAjax, Workflow.Support" />
	<object id="ajaxProcess18" type="Workflow.Action.Ajax.ReworkPasswordAjax, Workflow.Support" />
	<object id="ajaxProcess19" type="Workflow.Action.Ajax.LogoutUserAjax,Workflow.Support"/>
	<object id="ajaxProcess20" type="Workflow.Action.Ajax.GetServerDate,Workflow.Support"/>
	<object id="ajaxProcess21" type="Workflow.Action.Ajax.CheckUserIsNotUseAjax,Workflow.Support"/>
	<object id="ajaxProcess22" type="Workflow.Action.Ajax.GetMemberCardIdInOrdersAjax,Workflow.Support"></object>
	<object id="ajaxProcess23" type="Workflow.Action.Ajax.CheckFieldIsExistAjax,Workflow.Support"/>
	<object id="ajaxProcess24" type="Workflow.Action.Ajax.GetEmployeeByPositionIdAjax,Workflow.Support"/>
	<object id="ajaxProcess25" type="Workflow.Action.Ajax.GetCustomerInfoByNameAjax,Workflow.Support"/>
	<object id="ajaxProcess26" type="Workflow.Action.Ajax.GetBaseBusinessTypePriceSetByIdAjax,Workflow.Support"/>
	<object id="ajaxProcess27" type="Workflow.Action.Ajax.GetMemberCardDetailByNoAjax,Workflow.Support"/>
	<object id="ajaxProcess28" type="Workflow.Action.Ajax.GetMemberCardDiffInfoAjax,Workflow.Support"/>
	<object id="ajaxProcess29" type="Workflow.Action.Ajax.CheckUserPassWorkAjax,Workflow.Support"/>
	<object id="ajaxProcess30" type="Workflow.Action.Ajax.AdjustOrderItemPersonAjax,Workflow.Support"/>
	<object id="ajaxProcess31" type="Workflow.Action.Ajax.ReturnOrderAjax,Workflow.Support"/>
	<object id="ajaxProcess32" type="Workflow.Action.Ajax.CancelNotPaidTicketAjax,Workflow.Support"/>
	
	<object id="concessionAction" type="Workflow.Action.ConcessionAction, Workflow.Support" singleton="false"></object>
	<object id="campaignAction" type="Workflow.Action.CampaignAction, Workflow.Support" singleton="false"></object>
	<object id="takeWorkAction" type="Workflow.Action.TakeWorkAction, Workflow.Support" singleton="false"></object>
	<object id="selectCustomerAction" type="Workflow.Action.SelectCustomerAction, Workflow.Support" singleton="false"></object>
    <object id="newCustomerAction" type="Workflow.Action.NewCustomerAction, Workflow.Support" singleton="false"></object>
  
	<object id="memberCardAction" type="Workflow.Action.MemberCardAction, Workflow.Support" singleton="false"></object>
  <object id="searchMemberCardAction" type="Workflow.Action.Membercard.SearchMemberCardAction, Workflow.Support" singleton="false"></object>
  
	<!--<object id="reportLossMemberCardAction" type="Workflow.Action.ReportLossMemberCardAction, Workflow.Support" singleton="false"></object>-->
	<object id="logCountersAction" type="Workflow.Action.LogCountersAction, Workflow.Support" singleton="false"></object>
	<object id="userAction" type="Workflow.Action.UserAction,Workflow.Support" singleton="false"></object>
	<object id="loginAction" type=" Workflow.Action.LoginAction,Workflow.Support" singleton="false"></object>
  <!--<object id="updatePassWordAction" type=" Workflow.Action.UpdatePassword.UpdatepasswordAction,Workflow.Support" singleton="false"></object>-->

	<!--Add:陈汝胤 Date:2009.1.14 职务-->
<object id="positionAction"  type="Workflow.Action.Positions.PositionAction,Workflow.Support" singleton="false"></object>
<!--Add:陈汝胤 Date:2009.1.15 角色-->
<object id="roleAction"  type="Workflow.Action.Roles.RoleAction,Workflow.Support" singleton="false"></object>
<!--Add:陈汝胤 Date:2009-2-10 抄表-->
	<object id="copyCounterAction" type="Workflow.Action.LogCounters.CopyCounterAction,Workflow.Support" singleton="false" ></object>
	<object id="editProductionPaperAmountAction" type="Workflow.Action.LogCounters.EditProductionPaperAmountAction,Workflow.Support" singleton="false"></object>
	<object id="checkCounterAction" type="Workflow.Action.LogCounters.CheckCounterAction, Workflow.Support" singleton="false"></object>
	<!--Add:陈汝胤 Date:2009.5.9 打折活动-->
	<object id="discountConcessionAction" type="Workflow.Action.Activities.DiscountConcessionAction, Workflow.Support" singleton="false"></object>
</objects>