<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns ="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<properties resource="config/properties.config"/>
	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<!--指定数据源
		${datasource} ${database} ${userid} ${password} 为DataBase.config定义的值
	-->
	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="mydb" connectionString="server=${datasource};database=${database};user id=${username};password=${password};Connect Timeout=600"/>
	</database>

	<!--指定映射的文件的位置   -->
	<sqlMaps>
		<sqlMap embedded="Workflow.Da.Config.Base.UncompleteOrdersUsedPaperResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TrashReasonResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BaseBusinessTypePriceSetResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ChangeMemberCardResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.GatheringResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerLevelResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersStatusAlterResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaymentConcessionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.EmployeePositionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersDutyResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorRelationResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RecordMachineWatchResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ReportLossMemberCardResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemFactorValueResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemPrintRequireDetailResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypePriceFactorResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersForRecordMachineSumResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ReportLessModeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AchievementResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ProcessContentResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionGroupResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemFactorValueResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperSpecificationSimilarityResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.LogoffMemberCardResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PositionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompanyResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RequireAccountingInfoResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardLevelResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CashHandOverResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverOrderResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompensateUsedPaperResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.SecondaryTradeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorValueResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MasterTradeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.LinkManResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AmountSegmentResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.IdGeneratorResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.EmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DutyEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypePriceSetResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintDemandDetailResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorRelationValueResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionGroupDetailResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.GatheringOrderResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RoleResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardConcessionResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperTypeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchScaleResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemPrintRequireResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CampaignResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerTypeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BranchShopResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionDifferencePriceResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RelationEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RolePermissionGroupResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserRoleResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BlankOutReasonResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionMemberCardLevelResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TakeWorkResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PriceFactorResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyRecordMachineResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineTypeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemTrashReasonResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UnitResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintDemandResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TrashPaperEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberOperateLogResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DeliveryOrderResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperSpecificationResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompensateEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverMemberCardResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemEmployeeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ApplicationPropertyResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintRequireDetailResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CashHandOverOrderResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchRecordLogResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchConversionPaperResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AccreditRecordResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessModuleResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessModuleGroupResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserConcessionRangeResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ProcessContentAchievementRateResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.DiscountConcessionResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.DiscountConcessionMachineTypePaperSpecResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardDiscountConcessionResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardConcessionGatheringResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardOrderItemCounteractLogResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MarkingSettingResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OtherGatheringAndRefundmentRecordResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemMortgageResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderMortgageRecordResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderTimeoutAlarmRecordResultMap.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.BuySendResultMap.config,Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyBusionessReportResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyBusionessReportItemResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardBuySendResultMap.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ApplyAbateResultMap.config, Workflow.Support" />
		

		<sqlMap embedded="Workflow.Da.Config.Base.UncompleteOrdersUsedPaperBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TrashReasonBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BaseBusinessTypePriceSetBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ChangeMemberCardBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.GatheringBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerLevelBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersStatusAlterBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaymentConcessionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.EmployeePositionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersDutyBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorRelationBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RecordMachineWatchBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ReportLossMemberCardBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemFactorValueBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemPrintRequireDetailBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypePriceFactorBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrdersForRecordMachineSumBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ReportLessModeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AchievementBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ProcessContentBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionGroupBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemFactorValueBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperSpecificationSimilarityBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.LogoffMemberCardBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PositionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompanyBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RequireAccountingInfoBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardLevelBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CashHandOverBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverOrderBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompensateUsedPaperBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.SecondaryTradeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorValueBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MasterTradeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.LinkManBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AmountSegmentBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.IdGeneratorBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.EmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DutyEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypePriceSetBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessTypeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintDemandDetailBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.FactorRelationValueBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PermissionGroupDetailBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.GatheringOrderBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RoleBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardConcessionBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperTypeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchScaleBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemPrintRequireBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CampaignBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerTypeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BranchShopBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionDifferencePriceBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RelationEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RolePermissionGroupBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserRoleBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BlankOutReasonBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ConcessionMemberCardLevelBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TakeWorkBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PriceFactorBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyRecordMachineBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineTypeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.RealOrderItemTrashReasonBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CustomerBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UnitBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintDemandBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.TrashPaperEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberOperateLogBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DeliveryOrderBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PaperSpecificationBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CompensateEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.HandOverMemberCardBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemEmployeeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ApplicationPropertyBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.PrintRequireDetailBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.CashHandOverOrderBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchRecordLogBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MachineWatchConversionPaperBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.AccreditRecordBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessModuleBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.BusinessModuleGroupBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.UserConcessionRangeBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ProcessContentAchievementRateBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.DiscountConcessionBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardDiscountConcessionBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.DiscountConcessionMachineTypePaperSpecBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardConcessionGatheringBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardOrderItemCounteractLogBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.MarkingSettingBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OtherGatheringAndRefundmentRecordBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderItemMortgageBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderMortgageRecordBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.OrderTimeoutAlarmRecordBase.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.Base.BuySendBase.config,Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyBusionessReportBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.DailyBusionessReportItemBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.MemberCardBuySendBase.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Base.ApplyAbateBase.config, Workflow.Support" />
		

		<sqlMap embedded="Workflow.Da.Config.UncompleteOrdersUsedPaper.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.TrashReason.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BaseBusinessTypePriceSet.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ChangeMemberCard.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Gathering.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CustomerLevel.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrdersStatusAlter.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PaymentConcession.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Permission.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.EmployeePosition.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrdersDuty.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.FactorRelation.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RealOrderItem.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RecordMachineWatch.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ReportLossMemberCard.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RealOrderItemFactorValue.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrderItemPrintRequireDetail.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BusinessTypePriceFactor.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrdersForRecordMachineSum.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ReportLessMode.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Achievement.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ProcessContent.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PermissionGroup.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrderItemFactorValue.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PaperSpecificationSimilarity.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MachineWatch.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.LogoffMemberCard.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Position.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RealOrderItemEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Company.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrderItem.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RequireAccountingInfo.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Machine.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MemberCardLevel.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CashHandOver.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.HandOverOrder.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CompensateUsedPaper.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.SecondaryTrade.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.FactorValue.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MasterTrade.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.LinkMan.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.AmountSegment.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.IdGenerator.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Employee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Order.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.DutyEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BusinessTypePriceSet.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BusinessType.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PrintDemandDetail.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Concession.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.FactorRelationValue.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PermissionGroupDetail.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.GatheringOrder.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Role.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MemberCardConcession.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PaperType.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MachineWatchScale.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RealOrderItemPrintRequire.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Campaign.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CustomerType.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.HandOver.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BranchShop.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ConcessionDifferencePrice.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RelationEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.User.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RolePermissionGroup.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.UserRole.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BlankOutReason.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ConcessionMemberCardLevel.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.TakeWork.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PriceFactor.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.DailyRecordMachine.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MachineType.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.RealOrderItemTrashReason.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Customer.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.Unit.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PrintDemand.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.TrashPaperEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MemberOperateLog.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.DeliveryOrder.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PaperSpecification.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CompensateEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.HandOverMemberCard.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.OrderItemEmployee.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ApplicationProperty.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.PrintRequireDetail.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MemberCard.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.CashHandOverOrder.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MachineWatchRecordLog.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MachineWatchConversionPaper.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.AccreditRecord.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BusinessModule.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.BusinessModuleGroup.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.UserConcessionRange.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ProcessContentAchievementRate.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.DiscountConcession.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.MemberCardDiscountConcession.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.DiscountConcessionMachineTypePaperSpec.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.MemberCardConcessionGathering.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.MemberCardOrderItemCounteractLog.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.MarkingSetting.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.OtherGatheringAndRefundmentRecord.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.OrderItemMortgage.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.OrderMortgageRecord.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.OrderTimeoutAlarmRecord.config,Workflow.Support"/>
		<sqlMap embedded="Workflow.Da.Config.BuySend.config,Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.DailyBusionessReport.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.DailyBusionessReportItem.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.MemberCardBuySend.config, Workflow.Support" />
		<sqlMap embedded="Workflow.Da.Config.ApplyAbate.config, Workflow.Support" />
	</sqlMaps>
</sqlMapConfig>
