<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ApplicationPropertyBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="ApplicationPropertyResultMap.selectResult"
			cacheModel="ApplicationProperty.ApplicationPropertyCache">
			SELECT
				ID, PROPERTY_ID, PROPERTY_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM APPLICATION_PROPERTIES
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="ApplicationPropertyResultMap.selectResult"
			cacheModel="ApplicationProperty.ApplicationPropertyCache">
			SELECT
				ID, PROPERTY_ID, PROPERTY_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM APPLICATION_PROPERTIES
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="ApplicationProperty">
			INSERT INTO APPLICATION_PROPERTIES
				(
				  ID, PROPERTY_ID, PROPERTY_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #PropertyId# , #PropertyValue# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="ApplicationProperty">
			UPDATE APPLICATION_PROPERTIES
				SET
					PROPERTY_ID = #PropertyId# ,PROPERTY_VALUE = #PropertyValue#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE APPLICATION_PROPERTIES
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM APPLICATION_PROPERTIES WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
