<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="CashHandOverBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="CashHandOverResultMap.selectResult">
			SELECT
				ID, HAND_OVER_ID, TICKET_AMOUNT_SUM, PAY_FOR_COUNT, PAY_FOR_AMOUNT_SUM, CASH_AMOUNT, KEEP_BUSINESS_RECORD_COUNT, KEEP_BUSINESS_RECORD_AMOUNT_SUM, DEBT_COUNT, DEBT_AMOUNT_SUM, STANDBY_AMOUNT
			FROM CASH_HAND_OVER
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="CashHandOverResultMap.selectResult">
			SELECT
				ID, HAND_OVER_ID, TICKET_AMOUNT_SUM, PAY_FOR_COUNT, PAY_FOR_AMOUNT_SUM, CASH_AMOUNT, KEEP_BUSINESS_RECORD_COUNT, KEEP_BUSINESS_RECORD_AMOUNT_SUM, DEBT_COUNT, DEBT_AMOUNT_SUM, STANDBY_AMOUNT
			FROM CASH_HAND_OVER
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="CashHandOver">
			INSERT INTO CASH_HAND_OVER
				(
				  ID, HAND_OVER_ID, TICKET_AMOUNT_SUM, PAY_FOR_COUNT, PAY_FOR_AMOUNT_SUM, CASH_AMOUNT, KEEP_BUSINESS_RECORD_COUNT, KEEP_BUSINESS_RECORD_AMOUNT_SUM, DEBT_COUNT, DEBT_AMOUNT_SUM, STANDBY_AMOUNT
				)
				VALUES
				(
				  #Id # , #HandOver.Id# , #TicketAmountSum# , #PayForCount# , #PayForAmountSum# , #CashAmount# , #KeepBusinessRecordCount# , #KeepBusinessRecordAmountSum# , #DebtCount# , #DebtAmountSum# , #StandbyAmount# 
				)
		</insert>
		
		<update id="Update" parameterClass="CashHandOver">
			UPDATE CASH_HAND_OVER
				SET
					HAND_OVER_ID = #HandOver.Id# ,TICKET_AMOUNT_SUM = #TicketAmountSum#  ,PAY_FOR_COUNT = #PayForCount#  ,PAY_FOR_AMOUNT_SUM = #PayForAmountSum#  ,CASH_AMOUNT = #CashAmount#  ,KEEP_BUSINESS_RECORD_COUNT = #KeepBusinessRecordCount#  ,KEEP_BUSINESS_RECORD_AMOUNT_SUM = #KeepBusinessRecordAmountSum#  ,DEBT_COUNT = #DebtCount#  ,DEBT_AMOUNT_SUM = #DebtAmountSum#  ,STANDBY_AMOUNT = #StandbyAmount#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE CASH_HAND_OVER
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM CASH_HAND_OVER WHERE ID = #Id#
		</delete>
		
		<select id="SelectCashHandOverOrder" parameterClass="long" resultMap="CashHandOverOrderResultMap.selectResult" >
			SELECT
				CASH_HAND_OVER_ORDERS.ID, CASH_HAND_OVER_ORDERS.ORDERS_ID, CASH_HAND_OVER_ORDERS.CASH_HAND_OVER_ID, CASH_HAND_OVER_ORDERS.NO, CASH_HAND_OVER_ORDERS.EARNEST_AMOUNT
			FROM CASH_HAND_OVER_ORDERS
			WHERE CASH_HAND_OVER_ID = #value# 			ORDER BY NO
		</select>
  </statements>
</sqlMap>
