<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="CompensateUsedPaperBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="CompensateUsedPaperResultMap.selectResult">
			SELECT
				ID, MACHINE_ID, RECORD_MACHINE_WATCH_ID, PAPER_SPECIFICATION_ID, USED_PAPER_COUNT, COLOR_TYPE, MEMO
			FROM COMPENSATE_USED_PAPER
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="CompensateUsedPaperResultMap.selectResult">
			SELECT
				ID, MACHINE_ID, RECORD_MACHINE_WATCH_ID, PAPER_SPECIFICATION_ID, USED_PAPER_COUNT, COLOR_TYPE, MEMO
			FROM COMPENSATE_USED_PAPER
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="CompensateUsedPaper">
			INSERT INTO COMPENSATE_USED_PAPER
				(
				  ID, MACHINE_ID, RECORD_MACHINE_WATCH_ID, PAPER_SPECIFICATION_ID, USED_PAPER_COUNT, COLOR_TYPE, MEMO
				)
				VALUES
				(
				  #Id # , #Machine.Id# , #RecordMachineWatchId# , #PaperSpecification.Id# , #UsedPaperCount# , #ColorType# , #Memo# 
				)
		</insert>
		
		<update id="Update" parameterClass="CompensateUsedPaper">
			UPDATE COMPENSATE_USED_PAPER
				SET
					MACHINE_ID = #Machine.Id# ,RECORD_MACHINE_WATCH_ID = #RecordMachineWatchId#  ,PAPER_SPECIFICATION_ID = #PaperSpecification.Id#  ,USED_PAPER_COUNT = #UsedPaperCount#  ,COLOR_TYPE = #ColorType#  ,MEMO = #Memo#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE COMPENSATE_USED_PAPER
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM COMPENSATE_USED_PAPER WHERE ID = #Id#
		</delete>
		
		<select id="SelectEmployee" parameterClass="long" resultMap="EmployeeResultMap.selectResult" >
			SELECT
				EMPLOYEE.ID, EMPLOYEE.NO, EMPLOYEE.NAME, EMPLOYEE.INSERT_DATE_TIME, EMPLOYEE.INSERT_USER, EMPLOYEE.UPDATE_DATE_TIME, EMPLOYEE.UPDATE_USER, EMPLOYEE.VERSION, EMPLOYEE.DELETED, EMPLOYEE.BRANCH_SHOP_ID, EMPLOYEE.COMPANY_ID
			FROM EMPLOYEE
			INNER JOIN COMPENSATE_EMPLOYEE ON COMPENSATE_EMPLOYEE.EMPLOYEE_ID = EMPLOYEE.ID
			WHERE COMPENSATE_EMPLOYEE.COMPENSATE_USED_PAPER_ID = #value# AND EMPLOYEE.DELETED = '0'
			ORDER BY NO
		</select>
  </statements>
</sqlMap>
