<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionMemberCardLevelBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="ConcessionMemberCardLevelResultMap.selectResult"
			cacheModel="ConcessionMemberCardLevel.ConcessionMemberCardLevelCache">
			SELECT
				ID, CONCESSION_ID, MEMBER_CARD_LEVEL_ID
			FROM CONCESSION_MEMBER_CARD_LEVEL
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="ConcessionMemberCardLevelResultMap.selectResult"
			cacheModel="ConcessionMemberCardLevel.ConcessionMemberCardLevelCache">
			SELECT
				ID, CONCESSION_ID, MEMBER_CARD_LEVEL_ID
			FROM CONCESSION_MEMBER_CARD_LEVEL
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="ConcessionMemberCardLevel">
			INSERT INTO CONCESSION_MEMBER_CARD_LEVEL
				(
				  ID, CONCESSION_ID, MEMBER_CARD_LEVEL_ID
				)
				VALUES
				(
				  #Id # , #ConcessionId# , #MemberCardLevelId# 
				)
		</insert>
		
		<update id="Update" parameterClass="ConcessionMemberCardLevel">
			UPDATE CONCESSION_MEMBER_CARD_LEVEL
				SET
					CONCESSION_ID = #ConcessionId# ,MEMBER_CARD_LEVEL_ID = #MemberCardLevelId#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE CONCESSION_MEMBER_CARD_LEVEL
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM CONCESSION_MEMBER_CARD_LEVEL WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
