<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DeliveryOrderBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="DeliveryOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, EMPLOYEE_ID, BEGIN_DATE_TIME, END_DATE_TIME, MEMO, FINISHED, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM DELIVERY_ORDER
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="DeliveryOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, EMPLOYEE_ID, BEGIN_DATE_TIME, END_DATE_TIME, MEMO, FINISHED, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
			FROM DELIVERY_ORDER
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="DeliveryOrder">
			INSERT INTO DELIVERY_ORDER
				(
				  ID, ORDERS_ID, EMPLOYEE_ID, BEGIN_DATE_TIME, END_DATE_TIME, MEMO, FINISHED, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, BRANCH_SHOP_ID, COMPANY_ID
				)
				VALUES
				(
				  #Id # , #OrdersId# , #Employee.Id# , #BeginDateTime# , #EndDateTime# , #Memo# , #Finished# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Deleted# , #Version# , #BranchShopId# , #CompanyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="DeliveryOrder">
			UPDATE DELIVERY_ORDER
				SET
					ORDERS_ID = #OrdersId# ,EMPLOYEE_ID = #Employee.Id#  ,BEGIN_DATE_TIME = #BeginDateTime#  ,END_DATE_TIME = #EndDateTime#  ,MEMO = #Memo#  ,FINISHED = #Finished#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE DELIVERY_ORDER
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM DELIVERY_ORDER WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
