<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DiscountConcessionResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="DiscountConcession" type="Workflow.Da.Domain.DiscountConcession, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="DiscountConcession">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="CampaignId" column="CAMPAIGN_ID" dbType="bigint"/> 
			
			<result property="Name" column="NAME" dbType="nvarchar"/> 
			
			<result property="Memo" column="MEMO" dbType="nvarchar"/> 
			
			<result property="ChargeAmount" column="CHARGE_AMOUNT" dbType="decimal"/> 
			
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/> 
			
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/> 
			
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/> 
			
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/> 
			
			<result property="Deleted" column="DELETED" dbType="char"/> 
			
			<result property="Version" column="VERSION" dbType="int"/> 
			
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/> 
			
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/> 
			

<!--list_in-->
			<result property="DiscountConcessionMachineTypePaperSpecList" column="ID" select="DiscountConcessionBase.SelectDiscountConcessionMachineTypePaperSpec" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
</sqlMap>