<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="HandOverOrderResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="HandOverOrder" type="Workflow.Da.Domain.HandOverOrder, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="HandOverOrder">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="OrdersId" column="ORDERS_ID" dbType="bigint"/>
			<result property="HandOverId" column="HAND_OVER_ID" dbType="bigint"/>
			<result property="No" column="NO" dbType="varchar"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="DeliveryType" column="DELIVERY_TYPE" dbType="int"/>
			<result property="DeliveryDateTime" column="DELIVERY_DATE_TIME" dbType="datetime"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<result property="Status" column="STATUS" dbType="int"/>
		</resultMap>
	</resultMaps>
</sqlMap>