<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="IdGeneratorBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="IdGeneratorResultMap.selectResult">
			SELECT
				ID, FLAG_NO, BEGIN_VALUE, CURRENT_VALUE, END_VALUE, MEMO, BRANCH_SHOP_ID
			FROM ID_GENERATOR
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="IdGeneratorResultMap.selectResult">
			SELECT
				ID, FLAG_NO, BEGIN_VALUE, CURRENT_VALUE, END_VALUE, MEMO, BRANCH_SHOP_ID
			FROM ID_GENERATOR
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="IdGenerator">
			INSERT INTO ID_GENERATOR
				(
				  ID, FLAG_NO, BEGIN_VALUE, CURRENT_VALUE, END_VALUE, MEMO, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #FlagNo# , #BeginValue# , #CurrentValue# , #EndValue# , #Memo# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="IdGenerator">
			UPDATE ID_GENERATOR
				SET
					FLAG_NO = #FlagNo# ,BEGIN_VALUE = #BeginValue#  ,CURRENT_VALUE = #CurrentValue#  ,END_VALUE = #EndValue#  ,MEMO = #Memo#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE ID_GENERATOR
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM ID_GENERATOR WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
