<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineWatchConversionPaperBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MachineWatchConversionPaperResultMap.selectResult"
			cacheModel="MachineWatchConversionPaper.MachineWatchConversionPaperCache">
			SELECT
				ID, PAPER_SPECIFICATION_ID, MACHINE_TYPE_ID, NAME, COMPUTE_FORMULA, COLOR_TYPE
			FROM MACHINE_WATCH_CONVERSION_PAPER
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MachineWatchConversionPaperResultMap.selectResult"
			cacheModel="MachineWatchConversionPaper.MachineWatchConversionPaperCache">
			SELECT
				ID, PAPER_SPECIFICATION_ID, MACHINE_TYPE_ID, NAME, COMPUTE_FORMULA, COLOR_TYPE
			FROM MACHINE_WATCH_CONVERSION_PAPER
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="MachineWatchConversionPaper">
			INSERT INTO MACHINE_WATCH_CONVERSION_PAPER
				(
				  ID, PAPER_SPECIFICATION_ID, MACHINE_TYPE_ID, NAME, COMPUTE_FORMULA, COLOR_TYPE
				)
				VALUES
				(
				  #Id # , #PaperSpecification.Id# , #MachineType.Id# , #Name# , #ComputeFormula# , #ColorType# 
				)
		</insert>
		
		<update id="Update" parameterClass="MachineWatchConversionPaper">
			UPDATE MACHINE_WATCH_CONVERSION_PAPER
				SET
					PAPER_SPECIFICATION_ID = #PaperSpecification.Id# ,MACHINE_TYPE_ID = #MachineType.Id#  ,NAME = #Name#  ,COMPUTE_FORMULA = #ComputeFormula#  ,COLOR_TYPE = #ColorType#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MACHINE_WATCH_CONVERSION_PAPER
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MACHINE_WATCH_CONVERSION_PAPER WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
