<?xml version="1.0" encoding="utf-8"?>
<!--表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="MemberCardOrderItemCounteractLogBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->		 
			<select id="SelectAll" resultMap="MemberCardOrderItemCounteractLogResultMap.selectResult">
								SELECT  ID,MEMBER_CARD_CONCESSION_ID,MEMBER_CARD_DISCOUNT_CONCESSION_ID,ORDER_ITEM_ID,UPDATE_DATE_TIME,PAPER_CONSUME_COUNT,MEMO,AMOUNT,DELETED,CASH_CONSUME_COUNT,CASH_UNIT_PRICE,IS_USE_SAVED_PAPER,INSERT_USER,CASH_CONSUME_AMOUNT,UNIT_DIFFERENCE_PRICE,CONSUME_PAPER_AMOUNT,INSERT_DATE_TIME,UPDATE_USER,VERSION,COMPANY_ID,BRANCH_SHOP_ID	FROM MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG
				WHERE DELETED = '0'	AND COMPANY_ID=#CompanyId# AND BRANCH_SHOP_ID=#BranchShopId#
				Order by ID
			</select>

			<!--按照主键查询表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="MemberCardOrderItemCounteractLogResultMap.selectResult">
			SELECT 
			ID,
			MEMBER_CARD_CONCESSION_ID,
			MEMBER_CARD_DISCOUNT_CONCESSION_ID,
			ORDER_ITEM_ID,
			UPDATE_DATE_TIME,
			PAPER_CONSUME_COUNT,
			MEMO,
			AMOUNT,
			DELETED,
			CASH_CONSUME_COUNT,
			CASH_UNIT_PRICE,
			IS_USE_SAVED_PAPER,
			INSERT_USER,
			CASH_CONSUME_AMOUNT,
			UNIT_DIFFERENCE_PRICE,
			CONSUME_PAPER_AMOUNT,
			INSERT_DATE_TIME,
			UPDATE_USER,
			VERSION,
			COMPANY_ID,
			BRANCH_SHOP_ID
			FROM MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG
			WHERE ID = #Id# 
			AND DELETED = '0'	AND COMPANY_ID=#CompanyId# AND BRANCH_SHOP_ID=#BranchShopId#
			</select>

			<!--插入表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->
			<insert id="Insert" parameterClass="MemberCardOrderItemCounteractLog">
			INSERT INTO MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG
			(
				ID,
				MEMBER_CARD_CONCESSION_ID,
				MEMBER_CARD_DISCOUNT_CONCESSION_ID,
				ORDER_ITEM_ID,
				UPDATE_DATE_TIME,
				PAPER_CONSUME_COUNT,
				MEMO,
				AMOUNT,
				DELETED,
				CASH_CONSUME_COUNT,
				CASH_UNIT_PRICE,
				IS_USE_SAVED_PAPER,
				INSERT_USER,
				CASH_CONSUME_AMOUNT,
				UNIT_DIFFERENCE_PRICE,
				CONSUME_PAPER_AMOUNT,
				INSERT_DATE_TIME,
				UPDATE_USER,
				VERSION,
				COMPANY_ID,
				BRANCH_SHOP_ID
			) VALUES
			( 
				#Id#,
				#MemberCardConcessionId#,
				#MemberCardDiscountConcessionId#,
				#OrderItemId#,
				#UpdateDateTime#,
				#PaperConsumeCount#,
				#Memo#,
				#Amount#,
				#Deleted#,
				#CashConsumeCount#,
				#CashUnitPrice#,
				#IsUseSavedPaper#,
				#InsertUser#,
				#CashConsumeAmount#,
				#UnitDifferencePrice#,
				#ConsumePaperAmount#,
				#InsertDateTime#,
				#UpdateUser#,
				#Version#,
				#CompanyId#,
				#BranchShopId#
			)
			</insert>
			
			<!--更新表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->
			<update id="Update" parameterClass="MemberCardOrderItemCounteractLog">
			UPDATE MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG
			SET
				MEMBER_CARD_CONCESSION_ID=#MemberCardConcessionId#,
				MEMBER_CARD_DISCOUNT_CONCESSION_ID=#MemberCardDiscountConcessionId#,
				ORDER_ITEM_ID=#OrderItemId#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				PAPER_CONSUME_COUNT=#PaperConsumeCount#,
				MEMO=#Memo#,
				AMOUNT=#Amount#,
				DELETED=#Deleted#,
				CASH_CONSUME_COUNT=#CashConsumeCount#,
				CASH_UNIT_PRICE=#CashUnitPrice#,
				IS_USE_SAVED_PAPER=#IsUseSavedPaper#,
				INSERT_USER=#InsertUser#,
				CASH_CONSUME_AMOUNT=#CashConsumeAmount#,
				UNIT_DIFFERENCE_PRICE=#UnitDifferencePrice#,
				CONSUME_PAPER_AMOUNT=#ConsumePaperAmount#,
				INSERT_DATE_TIME=#InsertDateTime#,
				UPDATE_USER=#UpdateUser#,
				VERSION=#Version#,
				COMPANY_ID=#CompanyId#,
				BRANCH_SHOP_ID=#BranchShopId#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG [会员卡工单明细冲减记录]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM MEMBER_CARD_ORDER_ITEM_COUNTERACT_LOG WHERE ID = #Id#
			</delete>

		</statements>
</sqlMap>
