<?xml version="1.0" encoding="utf-8"?>
<!--表PERMISSION_GROUP [权限许可组]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="PermissionGroupBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表PERMISSION_GROUP [权限许可组]的基本操作-->		 
			<select id="SelectAll" resultMap="PermissionGroupResultMap.selectResult"  cacheModel="PermissionGroup.PermissionGroupCache">
			SELECT  ID,NAME,MEMO,SORT_NO,INSERT_DATE_TIME,INSERT_USER,UPDATE_DATE_TIME,UPDATE_USER,VERSION,DELETED,COMPANY_ID,BRANCH_SHOP_ID	FROM PERMISSION_GROUP Order by ID
			</select>

			<!--按照主键查询表PERMISSION_GROUP [权限许可组]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="PermissionGroupResultMap.selectResult" cacheModel="PermissionGroup.PermissionGroupCache">
			SELECT 
			ID,
			NAME,
			MEMO,
			SORT_NO,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			VERSION,
			DELETED,
			COMPANY_ID,
			BRANCH_SHOP_ID
			FROM PERMISSION_GROUP
			WHERE ID = #Id# 
			</select>

			<!--插入表PERMISSION_GROUP [权限许可组]的基本操作-->
			<insert id="Insert" parameterClass="PermissionGroup">
			INSERT INTO PERMISSION_GROUP
			(
				ID,
				NAME,
				MEMO,
				SORT_NO,
				INSERT_DATE_TIME,
				INSERT_USER,
				UPDATE_DATE_TIME,
				UPDATE_USER,
				VERSION,
				DELETED,
				COMPANY_ID,
				BRANCH_SHOP_ID
			) VALUES
			( 
				#Id#,
				#Name#,
				#Memo#,
				#SortNo#,
				#InsertDateTime#,
				#InsertUser#,
				#UpdateDateTime#,
				#UpdateUser#,
				#Version#,
				#Deleted#,
				#CompanyId#,
				#BranchShopId#
			)
			</insert>
			
			<!--更新表PERMISSION_GROUP [权限许可组]的基本操作-->
			<update id="Update" parameterClass="PermissionGroup">
			UPDATE PERMISSION_GROUP
			SET
				NAME=#Name#,
				MEMO=#Memo#,
				SORT_NO=#SortNo#,
				INSERT_DATE_TIME=#InsertDateTime#,
				INSERT_USER=#InsertUser#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				UPDATE_USER=#UpdateUser#,
				VERSION=#Version#,
				DELETED=#Deleted#,
				COMPANY_ID=#CompanyId#,
				BRANCH_SHOP_ID=#BranchShopId#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表PERMISSION_GROUP [权限许可组]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE PERMISSION_GROUP
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表PERMISSION_GROUP [权限许可组]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM PERMISSION_GROUP WHERE ID = #Id#
			</delete>

			<!--目标表PERMISSION的一览查询-->
			<select id="SelectPermission" parameterClass="long" resultMap="PermissionResultMap.selectResult" >
				SELECT
				PERMISSION.*
				FROM PERMISSION
				INNER JOIN PERMISSION_GROUP_DETAIL ON PERMISSION_GROUP_DETAIL.PERMISSION_ID = PERMISSION.ID
				WHERE PERMISSION_GROUP_DETAIL.PERMISSION_GROUP_ID = #value#
				ORDER BY PERMISSION.ID
			</select>
		</statements>
</sqlMap>
