<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PrintDemandDetailBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="PrintDemandDetailResultMap.selectResult"
			cacheModel="PrintDemandDetail.PrintDemandDetailCache">
			SELECT
				ID, PRINT_DEMAND_ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM PRINT_DEMAND_DETAIL
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY SORT_NO
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="PrintDemandDetailResultMap.selectResult"
			cacheModel="PrintDemandDetail.PrintDemandDetailCache">
			SELECT
				ID, PRINT_DEMAND_ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM PRINT_DEMAND_DETAIL
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="PrintDemandDetail">
			INSERT INTO PRINT_DEMAND_DETAIL
				(
				  ID, PRINT_DEMAND_ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #PrintDemandId# , #Name# , #Memo# , #SortNo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="PrintDemandDetail">
			UPDATE PRINT_DEMAND_DETAIL
				SET
					PRINT_DEMAND_ID = #PrintDemandId# ,NAME = #Name#  ,MEMO = #Memo#  ,SORT_NO = #SortNo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE PRINT_DEMAND_DETAIL
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM PRINT_DEMAND_DETAIL WHERE ID = #Id#
		</delete>
		
		<select id="SelectPrintRequireDetail" parameterClass="long" resultMap="PrintRequireDetailResultMap.selectResult" >
			SELECT
				PRINT_REQUIRE_DETAIL.ID, PRINT_REQUIRE_DETAIL.PRINT_DEMAND_DETAIL_ID, PRINT_REQUIRE_DETAIL.NAME, PRINT_REQUIRE_DETAIL.MEMO, PRINT_REQUIRE_DETAIL.SORT_NO, PRINT_REQUIRE_DETAIL.INSERT_DATE_TIME, PRINT_REQUIRE_DETAIL.INSERT_USER, PRINT_REQUIRE_DETAIL.UPDATE_DATE_TIME, PRINT_REQUIRE_DETAIL.UPDATE_USER, PRINT_REQUIRE_DETAIL.VERSION, PRINT_REQUIRE_DETAIL.DELETED, PRINT_REQUIRE_DETAIL.COMPANY_ID, PRINT_REQUIRE_DETAIL.BRANCH_SHOP_ID
			FROM PRINT_REQUIRE_DETAIL
			WHERE PRINT_DEMAND_DETAIL_ID = #value# AND PRINT_REQUIRE_DETAIL.DELETED = '0'
			ORDER BY SORT_NO
		</select>
  </statements>
</sqlMap>
