<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RealOrderItemFactorValueResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="RealOrderItemFactorValue" type="Workflow.Da.Domain.RealOrderItemFactorValue, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="RealOrderItemFactorValue">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="PriceFactorId" column="PRICE_FACTOR_ID" dbType="bigint"/>
			<result property="RealOrderItemId" column="REAL_ORDER_ITEM_ID" dbType="bigint"/>
			<result property="Value" column="VALUE" dbType="nvarchar"/>
		</resultMap>
	</resultMaps>
</sqlMap>