<?xml version="1.0" encoding="utf-8"?>
<!--表RECORD_MACHINE_WATCH [抄表]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="RecordMachineWatchBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表RECORD_MACHINE_WATCH [抄表]的基本操作-->		 
			<select id="SelectAll" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT  ID,RECORD_DATE_TIME,IS_CONFIRMED,INSERT_DATE_TIME,INSERT_USER,UPDATE_DATE_TIME,UPDATE_USER,VERSION,DELETED,BRANCH_SHOP_ID,COMPANY_ID	FROM RECORD_MACHINE_WATCH Order by ID
			</select>

			<!--按照主键查询表RECORD_MACHINE_WATCH [抄表]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="RecordMachineWatchResultMap.selectResult">
			SELECT 
			ID,
			RECORD_DATE_TIME,
			IS_CONFIRMED,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			VERSION,
			DELETED,
			BRANCH_SHOP_ID,
			COMPANY_ID
			FROM RECORD_MACHINE_WATCH
			WHERE ID = #Id# 
			</select>

			<!--插入表RECORD_MACHINE_WATCH [抄表]的基本操作-->
			<insert id="Insert" parameterClass="RecordMachineWatch">
			INSERT INTO RECORD_MACHINE_WATCH
			(
				ID,
				RECORD_DATE_TIME,
				IS_CONFIRMED,
				INSERT_DATE_TIME,
				INSERT_USER,
				UPDATE_DATE_TIME,
				UPDATE_USER,
				VERSION,
				DELETED,
				BRANCH_SHOP_ID,
				COMPANY_ID
			) VALUES
			( 
				#Id#,
				#RecordDateTime#,
				#IsConfirmed#,
				#InsertDateTime#,
				#InsertUser#,
				#UpdateDateTime#,
				#UpdateUser#,
				#Version#,
				#Deleted#,
				#BranchShopId#,
				#CompanyId#
			)
			</insert>
			
			<!--更新表RECORD_MACHINE_WATCH [抄表]的基本操作-->
			<update id="Update" parameterClass="RecordMachineWatch">
			UPDATE RECORD_MACHINE_WATCH
			SET
				RECORD_DATE_TIME=#RecordDateTime#,
				IS_CONFIRMED=#IsConfirmed#,
				INSERT_DATE_TIME=#InsertDateTime#,
				INSERT_USER=#InsertUser#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				UPDATE_USER=#UpdateUser#,
				VERSION=#Version#,
				DELETED=#Deleted#,
				BRANCH_SHOP_ID=#BranchShopId#,
				COMPANY_ID=#CompanyId#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表RECORD_MACHINE_WATCH [抄表]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE RECORD_MACHINE_WATCH
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表RECORD_MACHINE_WATCH [抄表]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM RECORD_MACHINE_WATCH WHERE ID = #Id#
			</delete>

			<!--目标表MACHINE_WATCH_RECORD_LOG的信息查询-->
			<select id="SelectMachineWatchRecordLog" parameterClass="long" resultMap="MachineWatchRecordLogResultMap.selectResult" >
				SELECT
				*
				FROM MACHINE_WATCH_RECORD_LOG
				WHERE RECORD_MACHINE_WATCH_ID = #value#
				ORDER BY ID
			</select>			
			<!--目标表COMPENSATE_USED_PAPER的信息查询-->
			<select id="SelectCompensateUsedPaper" parameterClass="long" resultMap="CompensateUsedPaperResultMap.selectResult" >
				SELECT
				*
				FROM COMPENSATE_USED_PAPER
				WHERE RECORD_MACHINE_WATCH_ID = #value#
				ORDER BY ID
			</select>			
			<!--目标表UNCOMPLETE_ORDERS_USED_PAPER的信息查询-->
			<select id="SelectUncompleteOrdersUsedPaper" parameterClass="long" resultMap="UncompleteOrdersUsedPaperResultMap.selectResult" >
				SELECT
				*
				FROM UNCOMPLETE_ORDERS_USED_PAPER
				WHERE RECORD_MACHINE_WATCH_ID = #value#
				ORDER BY ID
			</select>			
		</statements>
</sqlMap>
