<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RelationEmployeeResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="RelationEmployee" type="Workflow.Da.Domain.RelationEmployee, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="RelationEmployee">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="OrdersStatusAlterId" column="ORDERS_STATUS_ALTER_ID" dbType="bigint"/>
			<result property="EmployeeId" column="EMPLOYEE_ID" dbType="bigint"/>
		</resultMap>
	</resultMaps>
</sqlMap>