<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RelationEmployeeBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="RelationEmployeeResultMap.selectResult">
			SELECT
				ID, ORDERS_STATUS_ALTER_ID, EMPLOYEE_ID
			FROM RELATION_EMPLOYEE
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="RelationEmployeeResultMap.selectResult">
			SELECT
				ID, ORDERS_STATUS_ALTER_ID, EMPLOYEE_ID
			FROM RELATION_EMPLOYEE
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="RelationEmployee">
			INSERT INTO RELATION_EMPLOYEE
				(
				  ID, ORDERS_STATUS_ALTER_ID, EMPLOYEE_ID
				)
				VALUES
				(
				  #Id # , #OrdersStatusAlterId# , #EmployeeId# 
				)
		</insert>
		
		<update id="Update" parameterClass="RelationEmployee">
			UPDATE RELATION_EMPLOYEE
				SET
					ORDERS_STATUS_ALTER_ID = #OrdersStatusAlterId# ,EMPLOYEE_ID = #EmployeeId#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE RELATION_EMPLOYEE
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM RELATION_EMPLOYEE WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
