<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="RolePermissionGroupResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="RolePermissionGroup" type="Workflow.Da.Domain.RolePermissionGroup, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="RolePermissionGroup">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="RoleId" column="ROLE_ID" dbType="bigint"/> 
			
			<result property="PermissionGroupId" column="PERMISSION_GROUP_ID" dbType="bigint"/> 
			

		</resultMap>
	</resultMaps>
</sqlMap>