<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns='http://www.springframework.net' default-autowire="byName" default-lazy-init="true">

  <import resource="service.config"/>
  <!--后台数据处理-->
  <object id="ajaxProcess1" type="Workflow.Action.Ajax.SystemMaintenance.CheckFieldIsUseAjax,Workflow.Support"/>
  <object id="ajaxProcess2" type="Workflow.Action.Ajax.SystemMaintenance.GetPriceFactorListAjax,Workflow.Support"/>
  <object id="ajaxProcess3" type="Workflow.Action.Ajax.SystemMaintenance.CheckLoginAjax,Workflow.Support"/>
	
  <object id="logCountersAction" type="Workflow.Action.LogCountersAction, Workflow.Support" singleton="false"></object>
  <object id="userAction" type="Workflow.Action.UserAction,Workflow.Support" singleton="false"></object>
  <object id="loginAction" type=" Workflow.Action.LoginAction,Workflow.Support" singleton="false"></object>
  
  <!--后台数据维护Action-->
  <object id="PriceBaseDataAction"  type="Workflow.Action.SystemMaintenance.PriceBaseData.PriceBaseDataAction,Workflow.Support" singleton="false"></object>
  <object id="searchPriceBaseDataAction"  type="Workflow.Action.SystemMaintenance.PriceBaseData.SearchPriceBaseDataAction,Workflow.Support" singleton="false"></object>
  <object id="OrderBaseDataAction"  type="Workflow.Action.SystemMaintenance.OrderBaseData.OrderBaseDataAction,Workflow.Support" singleton="false"></object>
  <object id="SearchOrderBaseDataAction"  type="Workflow.Action.SystemMaintenance.OrderBaseData.SearchOrderBaseDataAction,Workflow.Support" singleton="false"></object>
  <object id="SystemAction"  type="Workflow.Action.SystemMaintenance.System.SystemAction,Workflow.Support" singleton="false"></object>
  <object id="SearchSystemAction"  type="Workflow.Action.SystemMaintenance.System.SearchSystemAction,Workflow.Support" singleton="false"></object>
</objects>