<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="BusinessTypePriceFactorBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="BusinessTypePriceFactorResultMap.selectResult">
			SELECT
				ID, PRICE_FACTOR_ID, BUSINESS_TYPE_ID, SORT_NO
			FROM BUSINESS_TYPE_PRICE_FACTOR
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="BusinessTypePriceFactorResultMap.selectResult">
			SELECT
				ID, PRICE_FACTOR_ID, BUSINESS_TYPE_ID, SORT_NO
			FROM BUSINESS_TYPE_PRICE_FACTOR
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="BusinessTypePriceFactor">
			INSERT INTO BUSINESS_TYPE_PRICE_FACTOR
				(
				  ID, PRICE_FACTOR_ID, BUSINESS_TYPE_ID, SORT_NO
				)
				VALUES
				(
				  #Id # , #PriceFactorId# , #BusinessTypeId# , #SortNo# 
				)
		</insert>
		
		<update id="Update" parameterClass="BusinessTypePriceFactor">
			UPDATE BUSINESS_TYPE_PRICE_FACTOR
				SET
					PRICE_FACTOR_ID = #PriceFactorId# ,BUSINESS_TYPE_ID = #BusinessTypeId#  ,SORT_NO = #SortNo#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE BUSINESS_TYPE_PRICE_FACTOR
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM BUSINESS_TYPE_PRICE_FACTOR WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
