<?xml version="1.0" encoding="utf-8"?>
<!--表BUY_SEND [买M送N]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="BuySendBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表BUY_SEND [买M送N]的基本操作-->		 
			<select id="SelectAll" resultMap="BuySendResultMap.selectResult">
			SELECT  ID,CAMPAIGN_ID,BASE_BUSINESS_TYPE_PRICE_SET_ID,NAME,BUY_COUNT,SEND_COUNT,DESCRIPTION,PAPER_COUNT,USE_PAPER_COUNT,MEMO,INSERT_DATE_TIME,INSERT_USER,UPDATE_DATE_TIME,UPDATE_USER,DELETED,VERSION,COMPANY_ID,BRANCH_SHOP_ID	FROM BUY_SEND Order by ID
			</select>

			<!--按照主键查询表BUY_SEND [买M送N]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="BuySendResultMap.selectResult">
			SELECT 
			ID,
			CAMPAIGN_ID,
			BASE_BUSINESS_TYPE_PRICE_SET_ID,
			NAME,
			BUY_COUNT,
			SEND_COUNT,
			DESCRIPTION,
			PAPER_COUNT,
			USE_PAPER_COUNT,
			MEMO,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			DELETED,
			VERSION,
			COMPANY_ID,
			BRANCH_SHOP_ID
			FROM BUY_SEND
			WHERE ID = #Id# 
			</select>

			<!--插入表BUY_SEND [买M送N]的基本操作-->
			<insert id="Insert" parameterClass="BuySend">
			INSERT INTO BUY_SEND
			(
				ID,
				CAMPAIGN_ID,
				BASE_BUSINESS_TYPE_PRICE_SET_ID,
				NAME,
				BUY_COUNT,
				SEND_COUNT,
				DESCRIPTION,
				PAPER_COUNT,
				USE_PAPER_COUNT,
				MEMO,
				INSERT_DATE_TIME,
				INSERT_USER,
				UPDATE_DATE_TIME,
				UPDATE_USER,
				DELETED,
				VERSION,
				COMPANY_ID,
				BRANCH_SHOP_ID
			) VALUES
			( 
				#Id#,
				#CampaignId#,
				#BaseBusinessTypePriceSetId#,
				#Name#,
				#BuyCount#,
				#SendCount#,
				#Description#,
				#PaperCount#,
				#UsePaperCount#,
				#Memo#,
				#InsertDateTime#,
				#InsertUser#,
				#UpdateDateTime#,
				#UpdateUser#,
				#Deleted#,
				#Version#,
				#CompanyId#,
				#BranchShopId#
			)
			</insert>
			
			<!--更新表BUY_SEND [买M送N]的基本操作-->
			<update id="Update" parameterClass="BuySend">
			UPDATE BUY_SEND
			SET
				CAMPAIGN_ID=#CampaignId#,
				BASE_BUSINESS_TYPE_PRICE_SET_ID=#BaseBusinessTypePriceSetId#,
				NAME=#Name#,
				BUY_COUNT=#BuyCount#,
				SEND_COUNT=#SendCount#,
				DESCRIPTION=#Description#,
				PAPER_COUNT=#PaperCount#,
				USE_PAPER_COUNT=#UsePaperCount#,
				MEMO=#Memo#,
				INSERT_DATE_TIME=#InsertDateTime#,
				INSERT_USER=#InsertUser#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				UPDATE_USER=#UpdateUser#,
				DELETED=#Deleted#,
				VERSION=#Version#,
				COMPANY_ID=#CompanyId#,
				BRANCH_SHOP_ID=#BranchShopId#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表BUY_SEND [买M送N]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE BUY_SEND
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表BUY_SEND [买M送N]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM BUY_SEND WHERE ID = #Id#
			</delete>

		</statements>
</sqlMap>
