<?xml version="1.0" encoding="utf-8"?>
<!--表CASH_HAND_OVER [收银交班]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="CashHandOverBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表CASH_HAND_OVER [收银交班]的基本操作-->		 
			<select id="SelectAll" resultMap="CashHandOverResultMap.selectResult">
			SELECT  ID,HAND_OVER_ID,TICKET_AMOUNT_SUM,PAY_FOR_COUNT,PAY_FOR_AMOUNT_SUM,MEMBER_CARD_CHARGE_AMOUNT,CASH_AMOUNT,KEEP_BUSINESS_RECORD_COUNT,KEEP_BUSINESS_RECORD_AMOUNT_SUM,DEBT_COUNT,DEBT_AMOUNT_SUM,STANDBY_AMOUNT	FROM CASH_HAND_OVER Order by ID
			</select>

			<!--按照主键查询表CASH_HAND_OVER [收银交班]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="CashHandOverResultMap.selectResult">
			SELECT 
			ID,
			HAND_OVER_ID,
			TICKET_AMOUNT_SUM,
			PAY_FOR_COUNT,
			PAY_FOR_AMOUNT_SUM,
			MEMBER_CARD_CHARGE_AMOUNT,
			CASH_AMOUNT,
			KEEP_BUSINESS_RECORD_COUNT,
			KEEP_BUSINESS_RECORD_AMOUNT_SUM,
			DEBT_COUNT,
			DEBT_AMOUNT_SUM,
			STANDBY_AMOUNT
			FROM CASH_HAND_OVER
			WHERE ID = #Id# 
			</select>

			<!--插入表CASH_HAND_OVER [收银交班]的基本操作-->
			<insert id="Insert" parameterClass="CashHandOver">
			INSERT INTO CASH_HAND_OVER
			(
				ID,
				HAND_OVER_ID,
				TICKET_AMOUNT_SUM,
				PAY_FOR_COUNT,
				PAY_FOR_AMOUNT_SUM,
				MEMBER_CARD_CHARGE_AMOUNT,
				CASH_AMOUNT,
				KEEP_BUSINESS_RECORD_COUNT,
				KEEP_BUSINESS_RECORD_AMOUNT_SUM,
				DEBT_COUNT,
				DEBT_AMOUNT_SUM,
				STANDBY_AMOUNT
			) VALUES
			( 
				#Id#,
				#HandOver.Id#,
				#TicketAmountSum#,
				#PayForCount#,
				#PayForAmountSum#,
				#MemberCardChargeAmount#,
				#CashAmount#,
				#KeepBusinessRecordCount#,
				#KeepBusinessRecordAmountSum#,
				#DebtCount#,
				#DebtAmountSum#,
				#StandbyAmount#
			)
			</insert>
			
			<!--更新表CASH_HAND_OVER [收银交班]的基本操作-->
			<update id="Update" parameterClass="CashHandOver">
			UPDATE CASH_HAND_OVER
			SET
				HAND_OVER_ID=#HandOver.Id#,
				TICKET_AMOUNT_SUM=#TicketAmountSum#,
				PAY_FOR_COUNT=#PayForCount#,
				PAY_FOR_AMOUNT_SUM=#PayForAmountSum#,
				MEMBER_CARD_CHARGE_AMOUNT=#MemberCardChargeAmount#,
				CASH_AMOUNT=#CashAmount#,
				KEEP_BUSINESS_RECORD_COUNT=#KeepBusinessRecordCount#,
				KEEP_BUSINESS_RECORD_AMOUNT_SUM=#KeepBusinessRecordAmountSum#,
				DEBT_COUNT=#DebtCount#,
				DEBT_AMOUNT_SUM=#DebtAmountSum#,
				STANDBY_AMOUNT=#StandbyAmount#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表CASH_HAND_OVER [收银交班]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE CASH_HAND_OVER
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表CASH_HAND_OVER [收银交班]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM CASH_HAND_OVER WHERE ID = #Id#
			</delete>

			<!--目标表CASH_HAND_OVER_ORDERS的信息查询-->
			<select id="SelectCashHandOverOrders" parameterClass="long" resultMap="CashHandOverOrderResultMap.selectResult" >
				SELECT
				*
				FROM CASH_HAND_OVER_ORDERS
				WHERE CASH_HAND_OVER_ID = #value#
				ORDER BY ID
			</select>			
		</statements>
</sqlMap>
