<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="ConcessionResultMap.selectResult"
			cacheModel="Concession.ConcessionCache">
			SELECT
				ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CAMPAIGN_ID, NAME, DESCRIPTION, CHARGE_AMOUNT, PAPER_COUNT, MEMO, UNIT_PRICE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, COMPANY_ID, BRANCH_SHOP_ID
			FROM CONCESSION
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="ConcessionResultMap.selectResult"
			cacheModel="Concession.ConcessionCache">
			SELECT
				ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CAMPAIGN_ID, NAME, DESCRIPTION, CHARGE_AMOUNT, PAPER_COUNT, MEMO, UNIT_PRICE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, COMPANY_ID, BRANCH_SHOP_ID
			FROM CONCESSION
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="Concession">
			INSERT INTO CONCESSION
				(
				  ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CAMPAIGN_ID, NAME, DESCRIPTION, CHARGE_AMOUNT, PAPER_COUNT, MEMO, UNIT_PRICE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, DELETED, VERSION, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #BaseBusinessTypePriceSet.Id# , #CampaignId# , #Name# , #Description# , #ChargeAmount# , #PaperCount# , #Memo# , #UnitPrice# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Deleted# , #Version# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="Concession">
			UPDATE CONCESSION
				SET
					BASE_BUSINESS_TYPE_PRICE_SET_ID = #BaseBusinessTypePriceSet.Id# ,CAMPAIGN_ID = #CampaignId#  ,NAME = #Name#  ,DESCRIPTION = #Description#  ,CHARGE_AMOUNT = #ChargeAmount#  ,PAPER_COUNT = #PaperCount#  ,MEMO = #Memo#  ,UNIT_PRICE = #UnitPrice#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE CONCESSION
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM CONCESSION WHERE ID = #Id#
		</delete>
		
		<select id="SelectMemberCardLevel" parameterClass="long" resultMap="MemberCardLevelResultMap.selectResult" >
			SELECT
				MEMBER_CARD_LEVEL.ID, MEMBER_CARD_LEVEL.NO, MEMBER_CARD_LEVEL.NAME, MEMBER_CARD_LEVEL.INSERT_DATE_TIME, MEMBER_CARD_LEVEL.INSERT_USER, MEMBER_CARD_LEVEL.UPDATE_DATE_TIME, MEMBER_CARD_LEVEL.UPDATE_USER, MEMBER_CARD_LEVEL.VERSION, MEMBER_CARD_LEVEL.DELETED, MEMBER_CARD_LEVEL.COMPANY_ID, MEMBER_CARD_LEVEL.BRANCH_SHOP_ID
			FROM MEMBER_CARD_LEVEL
			INNER JOIN CONCESSION_MEMBER_CARD_LEVEL ON CONCESSION_MEMBER_CARD_LEVEL.MEMBER_CARD_LEVEL_ID = MEMBER_CARD_LEVEL.ID
			WHERE CONCESSION_MEMBER_CARD_LEVEL.CONCESSION_ID = #value# AND MEMBER_CARD_LEVEL.DELETED = '0'
			ORDER BY NO
		</select>
  </statements>
</sqlMap>
