<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="Concession" type="Workflow.Da.Domain.Concession, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="Concession">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="CampaignId" column="CAMPAIGN_ID" dbType="bigint"/>
			<result property="Name" column="NAME" dbType="nvarchar"/>
			<result property="Description" column="DESCRIPTION" dbType="nvarchar"/>
			<result property="ChargeAmount" column="CHARGE_AMOUNT" dbType="decimal"/>
			<result property="PaperCount" column="PAPER_COUNT" dbType="decimal"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<result property="UnitPrice" column="UNIT_PRICE" dbType="decimal"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="BaseBusinessTypePriceSet" column="BASE_BUSINESS_TYPE_PRICE_SET_ID" select="BaseBusinessTypePriceSetBase.SelectByPk" nullValue="0" lazyLoad="true"/>
			<result property="MemberCardLevelList" column="ID" select="ConcessionBase.SelectMemberCardLevel" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
</sqlMap>