<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="ConcessionDifferencePriceBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="ConcessionDifferencePriceResultMap.selectResult">
			SELECT
				ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CONCESSION_ID, PRICE_DIFFERENCE
			FROM CONCESSION_DIFFERENCE_PRICE
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="ConcessionDifferencePriceResultMap.selectResult">
			SELECT
				ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CONCESSION_ID, PRICE_DIFFERENCE
			FROM CONCESSION_DIFFERENCE_PRICE
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="ConcessionDifferencePrice">
			INSERT INTO CONCESSION_DIFFERENCE_PRICE
				(
				  ID, BASE_BUSINESS_TYPE_PRICE_SET_ID, CONCESSION_ID, PRICE_DIFFERENCE
				)
				VALUES
				(
				  #Id # , #BaseBusinessTypePriceSet.Id# , #ConcessionId# , #PriceDifference# 
				)
		</insert>
		
		<update id="Update" parameterClass="ConcessionDifferencePrice">
			UPDATE CONCESSION_DIFFERENCE_PRICE
				SET
					BASE_BUSINESS_TYPE_PRICE_SET_ID = #BaseBusinessTypePriceSet.Id# ,CONCESSION_ID = #ConcessionId#  ,PRICE_DIFFERENCE = #PriceDifference#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE CONCESSION_DIFFERENCE_PRICE
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM CONCESSION_DIFFERENCE_PRICE WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
