<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DailyBusionessReportItemResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="DailyBusionessReportItem" type="Workflow.Da.Domain.DailyBusionessReportItem, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="DailyBusionessReportItem">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="DailyBusionessReportId" column="DAILY_BUSIONESS_REPORT_ID" dbType="bigint"/> 
			
			<result property="Name" column="NAME" dbType="nvarchar"/> 
			
			<result property="PaperSpecificationName" column="PAPER_SPECIFICATION_NAME" dbType="nvarchar"/> 
			
			<result property="Amount" column="AMOUNT" dbType="decimal"/> 
			
			<result property="Count" column="COUNT" dbType="decimal"/> 
			
			<result property="Sort" column="SORT" dbType="int"/> 
			
			<result property="TypeSort" column="TYPE_SORT" dbType="int"/> 
			

		</resultMap>
	</resultMaps>
</sqlMap>