<?xml version="1.0" encoding="utf-8"?>
<!--表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="DailyRecordMachineBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->		 
			<select id="SelectAll" resultMap="DailyRecordMachineResultMap.selectResult">
			SELECT  ID,MACHINE_TYPE_ID,RECORD_MACHINE_WATCH_ID,PAPER_SPECIFICATION_ID,COLOR_TYPE,IN_WATCH_COUNT,MAKE_COUNT,CASH_COUNT,PATCH_COUNT,MEMO,DO_WATCH_DATE_TIME	FROM DAILY_RECORD_MACHINE Order by ID
			</select>

			<!--按照主键查询表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="DailyRecordMachineResultMap.selectResult">
			SELECT 
			ID,
			MACHINE_TYPE_ID,
			RECORD_MACHINE_WATCH_ID,
			PAPER_SPECIFICATION_ID,
			COLOR_TYPE,
			IN_WATCH_COUNT,
			MAKE_COUNT,
			CASH_COUNT,
			PATCH_COUNT,
			MEMO,
			DO_WATCH_DATE_TIME
			FROM DAILY_RECORD_MACHINE
			WHERE ID = #Id# 
			</select>

			<!--插入表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->
			<insert id="Insert" parameterClass="DailyRecordMachine">
			INSERT INTO DAILY_RECORD_MACHINE
			(
				ID,
				MACHINE_TYPE_ID,
				RECORD_MACHINE_WATCH_ID,
				PAPER_SPECIFICATION_ID,
				COLOR_TYPE,
				IN_WATCH_COUNT,
				MAKE_COUNT,
				CASH_COUNT,
				PATCH_COUNT,
				MEMO,
				DO_WATCH_DATE_TIME
			) VALUES
			( 
				#Id#,
				#MachineTypeId#,
				#RecordMachineWatchId#,
				#PaperSpecificationId#,
				#ColorType#,
				#InWatchCount#,
				#MakeCount#,
				#CashCount#,
				#PatchCount#,
				#Memo#,
				#DoWatchDateTime#
			)
			</insert>
			
			<!--更新表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->
			<update id="Update" parameterClass="DailyRecordMachine">
			UPDATE DAILY_RECORD_MACHINE
			SET
				MACHINE_TYPE_ID=#MachineTypeId#,
				RECORD_MACHINE_WATCH_ID=#RecordMachineWatchId#,
				PAPER_SPECIFICATION_ID=#PaperSpecificationId#,
				COLOR_TYPE=#ColorType#,
				IN_WATCH_COUNT=#InWatchCount#,
				MAKE_COUNT=#MakeCount#,
				CASH_COUNT=#CashCount#,
				PATCH_COUNT=#PatchCount#,
				MEMO=#Memo#,
				DO_WATCH_DATE_TIME=#DoWatchDateTime#
			WHERE ID = #Id#
			</update>

			<!--逻辑删除表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE DAILY_RECORD_MACHINE
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表DAILY_RECORD_MACHINE [每次抄表基本信息记录]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM DAILY_RECORD_MACHINE WHERE ID = #Id#
			</delete>

		</statements>
</sqlMap>
