<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="DutyEmployeeResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="DutyEmployee" type="Workflow.Da.Domain.DutyEmployee, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="DutyEmployee">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="EmployeeId" column="EMPLOYEE_ID" dbType="bigint"/>
			<result property="OrdersDutyId" column="ORDERS_DUTY_ID" dbType="bigint"/>
		</resultMap>
	</resultMaps>
</sqlMap>