<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="EmployeePositionBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="EmployeePositionResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, POSITION_ID
			FROM EMPLOYEE_POSITION
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="EmployeePositionResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, POSITION_ID
			FROM EMPLOYEE_POSITION
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="EmployeePosition">
			INSERT INTO EMPLOYEE_POSITION
				(
				  ID, EMPLOYEE_ID, POSITION_ID
				)
				VALUES
				(
				  #Id # , #EmployeeId# , #PositionId# 
				)
		</insert>
		
		<update id="Update" parameterClass="EmployeePosition">
			UPDATE EMPLOYEE_POSITION
				SET
					EMPLOYEE_ID = #EmployeeId# ,POSITION_ID = #PositionId#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE EMPLOYEE_POSITION
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM EMPLOYEE_POSITION WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
