<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="FactorRelationValueBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="FactorRelationValueResultMap.selectResult"
			cacheModel="FactorRelationValue.FactorRelationValueCache">
			SELECT
				ID, FACTOR_RELATION_ID, SOURCE_VALUE, TARGET_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM FACTOR_RELATION_VALUES
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="FactorRelationValueResultMap.selectResult"
			cacheModel="FactorRelationValue.FactorRelationValueCache">
			SELECT
				ID, FACTOR_RELATION_ID, SOURCE_VALUE, TARGET_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM FACTOR_RELATION_VALUES
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="FactorRelationValue">
			INSERT INTO FACTOR_RELATION_VALUES
				(
				  ID, FACTOR_RELATION_ID, SOURCE_VALUE, TARGET_VALUE, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #FactorRelationId# , #SourceValue# , #TargetValue# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="FactorRelationValue">
			UPDATE FACTOR_RELATION_VALUES
				SET
					FACTOR_RELATION_ID = #FactorRelationId# ,SOURCE_VALUE = #SourceValue#  ,TARGET_VALUE = #TargetValue#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE FACTOR_RELATION_VALUES
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM FACTOR_RELATION_VALUES WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
