<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="GatheringOrderBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="GatheringOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, GATHERING_ID, PAY_KIND
			FROM GATHERING_ORDERS
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY ID
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="GatheringOrderResultMap.selectResult">
			SELECT
				ID, ORDERS_ID, GATHERING_ID, PAY_KIND
			FROM GATHERING_ORDERS
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="GatheringOrder">
			INSERT INTO GATHERING_ORDERS
				(
				  ID, ORDERS_ID, GATHERING_ID, PAY_KIND
				)
				VALUES
				(
				  #Id # , #OrdersId# , #GatheringId# , #PayKind# 
				)
		</insert>
		
		<update id="Update" parameterClass="GatheringOrder">
			UPDATE GATHERING_ORDERS
				SET
					ORDERS_ID = #OrdersId# ,GATHERING_ID = #GatheringId#  ,PAY_KIND = #PayKind#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE GATHERING_ORDERS
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM GATHERING_ORDERS WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
