<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="HandOverMemberCardBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="HandOverMemberCardResultMap.selectResult">
			SELECT
				ID, HAND_OVER_ID, MEMBER_CARD_ID, MEMBER_CARD_NO
			FROM HAND_OVER_MEMBER_CARD
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="HandOverMemberCardResultMap.selectResult">
			SELECT
				ID, HAND_OVER_ID, MEMBER_CARD_ID, MEMBER_CARD_NO
			FROM HAND_OVER_MEMBER_CARD
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="HandOverMemberCard">
			INSERT INTO HAND_OVER_MEMBER_CARD
				(
				  ID, HAND_OVER_ID, MEMBER_CARD_ID, MEMBER_CARD_NO
				)
				VALUES
				(
				  #Id # , #HandOverId# , #MemberCardId# , #MemberCardNo# 
				)
		</insert>
		
		<update id="Update" parameterClass="HandOverMemberCard">
			UPDATE HAND_OVER_MEMBER_CARD
				SET
					HAND_OVER_ID = #HandOverId# ,MEMBER_CARD_ID = #MemberCardId#  ,MEMBER_CARD_NO = #MemberCardNo#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE HAND_OVER_MEMBER_CARD
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM HAND_OVER_MEMBER_CARD WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
