<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="IdGeneratorResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="IdGenerator" type="Workflow.Da.Domain.IdGenerator, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="IdGenerator">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="FlagNo" column="FLAG_NO" dbType="varchar"/>
			<result property="BeginValue" column="BEGIN_VALUE" dbType="bigint"/>
			<result property="CurrentValue" column="CURRENT_VALUE" dbType="bigint"/>
			<result property="EndValue" column="END_VALUE" dbType="bigint"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
		</resultMap>
	</resultMaps>
</sqlMap>