<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MachineWatchRecordLogResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="MachineWatchRecordLog" type="Workflow.Da.Domain.MachineWatchRecordLog, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="MachineWatchRecordLog">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="MachineTypeId" column="MACHINE_TYPE_ID" dbType="bigint"/> 
			
			<result property="MachineWatchId" column="MACHINE_WATCH_ID" dbType="bigint"/> 
			
			<result property="RecordMachineWatchId" column="RECORD_MACHINE_WATCH_ID" dbType="bigint"/> 
			
			<result property="LastNumber" column="LAST_NUMBER" dbType="int"/> 
			
			<result property="NewNumber" column="NEW_NUMBER" dbType="int"/> 
			
			<result property="Memo" column="MEMO" dbType="nvarchar"/> 
			

<!--single_in-->
			<result property="Machine" column="MACHINE_ID" select="MachineBase.SelectByPk" nullValue="0" lazyLoad="true"/>
<!--single_in-->
			<result property="MachineWatch" column="MACHINE_WATCH_ID" select="MachineWatchBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
</sqlMap>