<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MemberCardLevelBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MemberCardLevelResultMap.selectResult"
			cacheModel="MemberCardLevel.MemberCardLevelCache">
			<![CDATA[
			SELECT
			ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MEMBER_CARD_LEVEL
			Where DELETED = '0'
			AND COMPANY_ID = #CompanyId#
			AND BRANCH_SHOP_ID = #BranchShopId# and ID<>0
			ORDER BY NO
			]]>
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MemberCardLevelResultMap.selectResult"
			cacheModel="MemberCardLevel.MemberCardLevelCache">
			SELECT
				ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
			FROM MEMBER_CARD_LEVEL
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="MemberCardLevel">
			INSERT INTO MEMBER_CARD_LEVEL
				(
				  ID, NO, NAME, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, COMPANY_ID, BRANCH_SHOP_ID
				)
				VALUES
				(
				  #Id # , #No# , #Name# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #CompanyId# , #BranchShopId# 
				)
		</insert>
		
		<update id="Update" parameterClass="MemberCardLevel">
			UPDATE MEMBER_CARD_LEVEL
				SET
					NO = #No# ,NAME = #Name#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MEMBER_CARD_LEVEL
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MEMBER_CARD_LEVEL WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
