<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MemberCardConcessionBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="MemberCardConcessionResultMap.selectResult">
			SELECT
				ID, CONCESSION_ID, MEMBER_CARD_ID, JOIN_DATE_TIME, REST_PAPER_COUNT, PAPER_COUNT, AMOUNT
			FROM MEMBER_CARD_CONCESSION
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="MemberCardConcessionResultMap.selectResult">
			SELECT
				ID, CONCESSION_ID, MEMBER_CARD_ID, JOIN_DATE_TIME, REST_PAPER_COUNT, PAPER_COUNT, AMOUNT
			FROM MEMBER_CARD_CONCESSION
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="MemberCardConcession">
			INSERT INTO MEMBER_CARD_CONCESSION
				(
				  ID, CONCESSION_ID, MEMBER_CARD_ID, JOIN_DATE_TIME, REST_PAPER_COUNT, PAPER_COUNT, AMOUNT
				)
				VALUES
				(
				  #Id # , #Concession.Id# , #MemberCardId# , #JoinDateTime# , #RestPaperCount# , #PaperCount# , #Amount# 
				)
		</insert>
		
		<update id="Update" parameterClass="MemberCardConcession">
			UPDATE MEMBER_CARD_CONCESSION
				SET
					CONCESSION_ID = #Concession.Id# ,MEMBER_CARD_ID = #MemberCardId#  ,JOIN_DATE_TIME = #JoinDateTime#  ,REST_PAPER_COUNT = #RestPaperCount#  ,PAPER_COUNT = #PaperCount#  ,AMOUNT = #Amount#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE MEMBER_CARD_CONCESSION
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM MEMBER_CARD_CONCESSION WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
