<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MemberCardBuySendResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="MemberCardBuySend" type="Workflow.Da.Domain.MemberCardBuySend, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="MemberCardBuySend">
			<result property="Id" column="ID" dbType="bigint"/> 
			
			<result property="MemberCardId" column="MEMBER_CARD_ID" dbType="bigint"/> 
			
			<result property="BuySendId" column="BUY_SEND_ID" dbType="bigint"/> 
			
			<result property="JoinDateTime" column="JOIN_DATE_TIME" dbType="datetime"/> 
			
			<result property="RestPaperCount" column="REST_PAPER_COUNT" dbType="decimal"/> 
			
			<result property="PaperCount" column="PAPER_COUNT" dbType="decimal"/> 
			

		</resultMap>
	</resultMaps>
</sqlMap>