<?xml version="1.0" encoding="utf-8"?>
<!--表ORDERS [工单]的基本增删改查操作，此配置文件不允许修改-->
<sqlMap namespace="OrderBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		
			<!--查询表ORDERS [工单]的基本操作-->		 
			<select id="SelectAll" resultMap="OrderResultMap.selectResult">
			SELECT  ID,CUSTOMER_ID,NEW_ORDER_USER_ID,CASH_USER_ID,MEMBER_CARD_ID,NO,CUSTOMER_TYPE,CUSTOMER_NAME,NAME,PROJECT_NAME,PAY_TYPE,PREPARE_MONEY,PREPARE_MONEY_AMOUNT,NEED_TICKET,DELIVERY_TYPE,DELIVERY_DATE_TIME,SUM_AMOUNT,RECEPTION_USER,MEMO,NOT_PAY_TICKET_AMOUNT,PAID_TICKET_AMOUNT,REAL_PAID_AMOUNT,PAID_AMOUNT,PAID_TICKET,STATUS,BALANCE_DATE_TIME,DELETED,INSERT_DATE_TIME,INSERT_USER,UPDATE_DATE_TIME,UPDATE_USER,VERSION,COMPANY_ID,BRANCH_SHOP_ID	FROM ORDERS Order by ID
			</select>

			<!--按照主键查询表ORDERS [工单]的基本操作-->
			<select id="SelectByPk" parameterClass="long" resultMap="OrderResultMap.selectResult">
			SELECT 
			ID,
			CUSTOMER_ID,
			NEW_ORDER_USER_ID,
			CASH_USER_ID,
			MEMBER_CARD_ID,
			NO,
			CUSTOMER_TYPE,
			CUSTOMER_NAME,
			NAME,
			PROJECT_NAME,
			PAY_TYPE,
			PREPARE_MONEY,
			PREPARE_MONEY_AMOUNT,
			NEED_TICKET,
			DELIVERY_TYPE,
			DELIVERY_DATE_TIME,
			SUM_AMOUNT,
			RECEPTION_USER,
			CODE_NO,
			MEMO,
			NOT_PAY_TICKET_AMOUNT,
			PAID_TICKET_AMOUNT,
			REAL_PAID_AMOUNT,
			PAID_AMOUNT,
			PAID_TICKET,
			STATUS,
			BALANCE_DATE_TIME,
			DELETED,
			INSERT_DATE_TIME,
			INSERT_USER,
			UPDATE_DATE_TIME,
			UPDATE_USER,
			VERSION,
			COMPANY_ID,
			BRANCH_SHOP_ID
			FROM ORDERS
			WHERE ID = #Id# 
			AND DELETED = '0'
			</select>

			<!--插入表ORDERS [工单]的基本操作-->
			<insert id="Insert" parameterClass="Order">
				INSERT INTO ORDERS
				(
				ID,
				CUSTOMER_ID,
				NEW_ORDER_USER_ID,
				CASH_USER_ID,
				MEMBER_CARD_ID,
				NO,
				CUSTOMER_TYPE,
				CUSTOMER_NAME,
				NAME,
				PROJECT_NAME,
				PAY_TYPE,
				PREPARE_MONEY,
				PREPARE_MONEY_AMOUNT,
				NEED_TICKET,
				DELIVERY_TYPE,
				DELIVERY_DATE_TIME,
				SUM_AMOUNT,
				RECEPTION_USER,
				CODE_NO,
				MEMO,
				NOT_PAY_TICKET_AMOUNT,
				PAID_TICKET_AMOUNT,
				REAL_PAID_AMOUNT,
				PAID_AMOUNT,
				PAID_TICKET,
				STATUS,
				BALANCE_DATE_TIME,
				DELETED,
				INSERT_DATE_TIME,
				INSERT_USER,
				UPDATE_DATE_TIME,
				UPDATE_USER,
				VERSION,
				COMPANY_ID,
				BRANCH_SHOP_ID
				) VALUES
				(
				#Id#,
				#CustomerId#,
				#NewOrderUserId#,
				#CashUserId#,
				#MemberCardId#,
				#No#,
				#CustomerType#,
				#CustomerName#,
				#Name#,
				#ProjectName#,
				#PayType#,
				#PrepareMoney#,
				#PrepareMoneyAmount#,
				#NeedTicket#,
				#DeliveryType#,
				#DeliveryDateTime#,
				#SumAmount#,
				#ReceptionUser#,
				#CodeNo#,
				#Memo#,
				#NotPayTicketAmount#,
				#PaidTicketAmount#,
				#RealPaidAmount#,
				#PaidAmount#,
				#PaidTicket#,
				#Status#,
				#BalanceDateTime#,
				#Deleted#,
				#InsertDateTime#,
				#InsertUser#,
				#UpdateDateTime#,
				#UpdateUser#,
				#Version#,
				#CompanyId#,
				#BranchShopId#
				)
			</insert>
			
			<!--更新表ORDERS [工单]的基本操作-->
			<update id="Update" parameterClass="Order">
				UPDATE ORDERS
				SET
				CUSTOMER_ID=#CustomerId#,
				NEW_ORDER_USER_ID=#NewOrderUserId#,
				CASH_USER_ID=#CashUserId#,
				MEMBER_CARD_ID=#MemberCardId#,
				NO=#No#,
				CUSTOMER_TYPE=#CustomerType#,
				CUSTOMER_NAME=#CustomerName#,
				NAME=#Name#,
				PROJECT_NAME=#ProjectName#,
				PAY_TYPE=#PayType#,
				PREPARE_MONEY=#PrepareMoney#,
				PREPARE_MONEY_AMOUNT=#PrepareMoneyAmount#,
				NEED_TICKET=#NeedTicket#,
				DELIVERY_TYPE=#DeliveryType#,
				DELIVERY_DATE_TIME=#DeliveryDateTime#,
				SUM_AMOUNT=#SumAmount#,
				RECEPTION_USER=#ReceptionUser#,
				CODE_NO=#CodeNo#,
				MEMO=#Memo#,
				NOT_PAY_TICKET_AMOUNT=#NotPayTicketAmount#,
				PAID_TICKET_AMOUNT=#PaidTicketAmount#,
				REAL_PAID_AMOUNT=#RealPaidAmount#,
				PAID_AMOUNT=#PaidAmount#,
				PAID_TICKET=#PaidTicket#,
				STATUS=#Status#,
				BALANCE_DATE_TIME=#BalanceDateTime#,
				DELETED=#Deleted#,
				INSERT_DATE_TIME=#InsertDateTime#,
				INSERT_USER=#InsertUser#,
				UPDATE_DATE_TIME=#UpdateDateTime#,
				UPDATE_USER=#UpdateUser#,
				VERSION=#Version#,
				COMPANY_ID=#CompanyId#,
				BRANCH_SHOP_ID=#BranchShopId#
				WHERE ID = #Id#
			</update>

			<!--逻辑删除表ORDERS [工单]的基本操作-->
			<update id="LogicDelete" parameterClass="long">
				UPDATE ORDERS
				SET	VERSION = VERSION + 1,DELETED = '1'	WHERE ID = #Id#
			</update>

			<!--物理删除表ORDERS [工单]的基本操作-->
			<delete id="Delete" parameterClass="long">
				DELETE FROM ORDERS WHERE ID = #Id#
			</delete>

			<!--目标表ORDER_ITEM的信息查询-->
			<select id="SelectOrderItem" parameterClass="long" resultMap="OrderItemResultMap.selectResult" >
				SELECT
				*
				FROM ORDER_ITEM
				WHERE ORDERS_ID = #value#
				ORDER BY ID
			</select>			
		</statements>
</sqlMap>
