<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PaperSpecificationSimilarityBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="PaperSpecificationSimilarityResultMap.selectResult"
			cacheModel="PaperSpecificationSimilarity.PaperSpecificationSimilarityCache">
			SELECT
				ID, PARENT_PAPER_SPECIFICATION_ID, CHILD_PAPER_SPECIFICATION_ID
			FROM PAPER_SPECIFICATION_SIMILARITY
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="PaperSpecificationSimilarityResultMap.selectResult"
			cacheModel="PaperSpecificationSimilarity.PaperSpecificationSimilarityCache">
			SELECT
				ID, PARENT_PAPER_SPECIFICATION_ID, CHILD_PAPER_SPECIFICATION_ID
			FROM PAPER_SPECIFICATION_SIMILARITY
			WHERE ID = #Id# 
		</select>
		<insert id="Insert" parameterClass="PaperSpecificationSimilarity">
			INSERT INTO PAPER_SPECIFICATION_SIMILARITY
				(
				  ID, PARENT_PAPER_SPECIFICATION_ID, CHILD_PAPER_SPECIFICATION_ID
				)
				VALUES
				(
				  #Id # , #ParentPaperSpecificationId# , #ChildPaperSpecificationId# 
				)
		</insert>
		
		<update id="Update" parameterClass="PaperSpecificationSimilarity">
			UPDATE PAPER_SPECIFICATION_SIMILARITY
				SET
					PARENT_PAPER_SPECIFICATION_ID = #ParentPaperSpecificationId# ,CHILD_PAPER_SPECIFICATION_ID = #ChildPaperSpecificationId#  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE PAPER_SPECIFICATION_SIMILARITY
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM PAPER_SPECIFICATION_SIMILARITY WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
