<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PaymentConcessionResultMap" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
	<alias>
		<typeAlias alias="PaymentConcession" type="Workflow.Da.Domain.PaymentConcession, Workflow.Support" />
	</alias>
	
	<resultMaps>
		<resultMap id="selectResult" class="PaymentConcession">
			<result property="Id" column="ID" dbType="bigint"/>
			<result property="GatheringId" column="GATHERING_ID" dbType="bigint"/>
			<result property="ConcessionType" column="CONCESSION_TYPE" dbType="char"/>
			<result property="ConcessionAmount" column="CONCESSION_AMOUNT" dbType="decimal"/>
			<result property="OperateDateTime" column="OPERATE_DATE_TIME" dbType="datetime"/>
			<result property="Memo" column="MEMO" dbType="nvarchar"/>
			<result property="InsertDateTime" column="INSERT_DATE_TIME" dbType="datetime"/>
			<result property="InsertUser" column="INSERT_USER" dbType="bigint"/>
			<result property="UpdateDateTime" column="UPDATE_DATE_TIME" dbType="datetime"/>
			<result property="UpdateUser" column="UPDATE_USER" dbType="bigint"/>
			<result property="Deleted" column="DELETED" dbType="char"/>
			<result property="Version" column="VERSION" dbType="int"/>
			<result property="BranchShopId" column="BRANCH_SHOP_ID" dbType="bigint"/>
			<result property="CompanyId" column="COMPANY_ID" dbType="bigint"/>
			<result property="AuthUsers" column="AUTH_USERS_ID" select="UserBase.SelectByPk" nullValue="0" lazyLoad="true"/>
			<result property="OperateUsers" column="OPERATE_USERS_ID" select="UserBase.SelectByPk" nullValue="0" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
</sqlMap>