<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="PrintDemandBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="PrintDemandResultMap.selectResult"
			cacheModel="PrintDemand.PrintDemandCache">
			SELECT
				ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM PRINT_DEMAND
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY SORT_NO
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="PrintDemandResultMap.selectResult"
			cacheModel="PrintDemand.PrintDemandCache">
			SELECT
				ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM PRINT_DEMAND
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="PrintDemand">
			INSERT INTO PRINT_DEMAND
				(
				  ID, NAME, MEMO, SORT_NO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
				)
				VALUES
				(
				  #Id # , #Name# , #Memo# , #SortNo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #BranchShopId# , #CompanyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="PrintDemand">
			UPDATE PRINT_DEMAND
				SET
					NAME = #Name# ,MEMO = #Memo#  ,SORT_NO = #SortNo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE PRINT_DEMAND
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM PRINT_DEMAND WHERE ID = #Id#
		</delete>
		
		<select id="SelectPrintDemandDetail" parameterClass="long" resultMap="PrintDemandDetailResultMap.selectResult" >
			SELECT
				PRINT_DEMAND_DETAIL.ID, PRINT_DEMAND_DETAIL.PRINT_DEMAND_ID, PRINT_DEMAND_DETAIL.NAME, PRINT_DEMAND_DETAIL.MEMO, PRINT_DEMAND_DETAIL.SORT_NO, PRINT_DEMAND_DETAIL.INSERT_DATE_TIME, PRINT_DEMAND_DETAIL.INSERT_USER, PRINT_DEMAND_DETAIL.UPDATE_DATE_TIME, PRINT_DEMAND_DETAIL.UPDATE_USER, PRINT_DEMAND_DETAIL.VERSION, PRINT_DEMAND_DETAIL.DELETED, PRINT_DEMAND_DETAIL.COMPANY_ID, PRINT_DEMAND_DETAIL.BRANCH_SHOP_ID
			FROM PRINT_DEMAND_DETAIL
			WHERE PRINT_DEMAND_ID = #value# AND PRINT_DEMAND_DETAIL.DELETED = '0'
			ORDER BY SORT_NO
		</select>
  </statements>
</sqlMap>
