<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="TakeWorkBase" xmlns="http://ibatis.apache.org/mapping"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="SqlMap.xsd">
  	<statements>
		<select id="SelectAll" resultMap="TakeWorkResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, CUSTOMER_ID, NO, BEGIN_DATE_TIME, END_DATE_TIME, LINK_MAN_NAME, TEL_NO, ADDRESS, FINISHED, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM TAKE_WORK
			Where DELETED = '0'
				AND COMPANY_ID = #CompanyId#
				AND BRANCH_SHOP_ID = #BranchShopId#
			ORDER BY NO
		</select>
		<select id="SelectByPk" parameterClass="long" resultMap="TakeWorkResultMap.selectResult">
			SELECT
				ID, EMPLOYEE_ID, CUSTOMER_ID, NO, BEGIN_DATE_TIME, END_DATE_TIME, LINK_MAN_NAME, TEL_NO, ADDRESS, FINISHED, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
			FROM TAKE_WORK
			WHERE ID = #Id# AND DELETED = '0' 

		</select>
		<insert id="Insert" parameterClass="TakeWork">
			INSERT INTO TAKE_WORK
				(
				  ID, EMPLOYEE_ID, CUSTOMER_ID, NO, BEGIN_DATE_TIME, END_DATE_TIME, LINK_MAN_NAME, TEL_NO, ADDRESS, FINISHED, MEMO, INSERT_DATE_TIME, INSERT_USER, UPDATE_DATE_TIME, UPDATE_USER, VERSION, DELETED, BRANCH_SHOP_ID, COMPANY_ID
				)
				VALUES
				(
				  #Id # , #Employee.Id# , #CustomerId# , #No# , #BeginDateTime# , #EndDateTime# , #LinkManName# , #TelNo# , #Address# , #Finished# , #Memo# , #InsertDateTime# , #InsertUser# , #UpdateDateTime# , #UpdateUser# , #Version# , #Deleted# , #BranchShopId# , #CompanyId# 
				)
		</insert>
		
		<update id="Update" parameterClass="TakeWork">
			UPDATE TAKE_WORK
				SET
					EMPLOYEE_ID = #Employee.Id# ,CUSTOMER_ID = #CustomerId#  ,NO = #No#  ,BEGIN_DATE_TIME = #BeginDateTime#  ,END_DATE_TIME = #EndDateTime#  ,LINK_MAN_NAME = #LinkManName#  ,TEL_NO = #TelNo#  ,ADDRESS = #Address#  ,FINISHED = #Finished#  ,MEMO = #Memo#  ,UPDATE_DATE_TIME = #UpdateDateTime#  ,UPDATE_USER = #UpdateUser#  ,VERSION = VERSION + 1  
			WHERE ID = #Id#
		</update>
		<update id="LogicDelete" parameterClass="long">
			UPDATE TAKE_WORK
				SET
					VERSION = VERSION + 1,
					DELETED = '1'
			WHERE ID = #Id#
		</update>
		<delete id="Delete" parameterClass="long">
			DELETE FROM TAKE_WORK WHERE ID = #Id#
		</delete>
		
  </statements>
</sqlMap>
